{% include common/about_us_logos.html %}

<div>
    
    <h3>
        &Uuml;ber uns
    </h3>
    
    <p>
        Seit seiner Gr&uuml;ndung im Jahr 1956 hat RISM-Schweiz weit
        &uuml;ber 10&#x27;000 Einzeldrucke vor 1800, Sammeldrucke des 16., 17. und
        18. Jahrhunderts und Schriften &uuml;ber Musik, &uuml;ber 34&#x27;000
        handschriftliche Noten nach 1600 sowie &uuml;ber 21&#x27;000 gedruckte Noten
        des 19. und 20. Jahrhunderts systematisch erfasst.
    </p>

    <p>
        Seit 1996 ist RISM-Schweiz als eigenst&auml;ndiger Verein
        organisiert, der sich zur Hauptsache durch Projektbeitr&auml;ge und
        durch Inventarisierungsauftr&auml;ge von Bibliotheken und Archiven
        finanziert. Folgende Gr&uuml;ndungsmitglieder haben am 21. Juni 1996
        den Verein Arbeitsstelle
        Schweiz des RISM aus der Taufe gehoben:
    </p>

    <ul>
        <li>Schweizerische Musikforschende Gesellschaft (<a href="http://www.smg-ssm.ch" target="_blank">SMG</a>)</li>
        <li>Schweizerische Vereinigung der Musiksammlungen (<a href="http://www.iaml.ch" target="_blank">ASCM</a>)</li>
        <li>Schweizerische Gesellschaft für die Rechte der Urheber musikalischer Werke (<a href="http://www.suisa.ch/home_d.htm" target="_blank">SUISA</a>)</li>
        <li>Schweizer Musikrat (<a href="http://www.miz.ch/smr/de.aspx" target="_blank">SMR</a>)</li>
    </ul>

    <h4>Organigramm</h4>

    <ul>
        <li><a href="{{ site.baseurl }}/committee.html">Vorstand</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Arbeitsstelle</a></li>
        <li><a href="{{ site.baseurl }}/association.html">Verein</a></li>
    </ul>

    <h4>Zeitungsartikel</h4>

    {% include common/about_us_press.html %}

</div>