<h3>
    Verein
</h3>
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <p>
            Der Verein Arbeitsstelle Schweiz des RISM steht allen interessierten Personen und Institutionen offen und heisst diese herzlich willkommen. Die Mitglieder profitieren von kostenlosen Auskunftsdiensten zu den historischen Musikbeständen in der Schweiz. Ausserdem finden sporadisch von RISM initiierte kulturelle Veranstaltungen wie Konzerte, CD-Produktionen oder Katalogvernissagen statt, zu welchen die Mitglieder eingeladen werden. Die jährliche Vereinsversammlung dient der Information über das Geschäftsjahr der Arbeitsstelle und der Wahl des Vorstandes. Dieser Anlass wird mit einem kulturellen Teil verknüpft und kann für die Pflege interessanter Kontakte unter den Mitgliedern genutzt werden.
        </p>
        <h4>
            Mitgliederbeitrag
        </h4>
        <ul>
            <li>Einzelpersonen min. CHF 50.--
            </li>
            <li>Institutionen / juristische Personen min. CHF 100.--
            </li>
            <li>Gönnermitglied min. CHF 500.--
            </li>
        </ul>
        <br/>
    </div>
    <div class="col-sm-4 col-xs-12">
        <p>
            <img src="/images/rism_ch/pdf.png">
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Statuten_DEUTSCH.pdf" target="_blank">Statuten des Vereins</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht_2005.pdf" target="_blank">Jahresbericht 2005</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht_2006.pdf" target="_blank">Jahresbericht 2006</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht_2007.pdf" target="_blank">Jahresbericht 2007</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht_2008.pdf" target="_blank">Jahresbericht 2008</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2009-d-web.pdf" target="_blank">Jahresbericht 2009</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2010-d-web.pdf" target="_blank">Jahresbericht 2010</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2011-d-web.pdf" target="_blank">Jahresbericht 2011</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2012-d-web.pdf" target="_blank">Jahresbericht 2012</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2013-d-web.pdf" target="_blank">Jahresbericht 2013</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2014-d-web.pdf" target="_blank">Jahresbericht 2014</a>
        </p>
    </div>
</div>
