<h3>
    Katalogisierung im Musikarchiv der BCU Lausanne
</h3>

<p>
    Im Rahmen der Zusammenarbeit mit dem Musikarchiv der BCU Lausanne wird RISM Schweiz die Nachlässe von Henri Plumhof (1836-1914), Paul Juon (1872-1940), Louis Piantoni (1885-1958) und Raffaele d’Alessandro (1911-1959) bearbeiten. 
</p>

<p>
    Bei den Nachlässen von Plumhof und Juon handelt es sich um eine Erweiterung und Überprüfung der bereits zu einem früheren Zeitpunkt erschlossenen Bestände. Der Nachlass Plumhofs umfasst neben einigen Instrumentalwerken zahlreiche Chorwerke, die vermutlich in Zusammenhang mit seiner regen Tätigkeit als Leiter verschiedener Chöre in Vevey und Lausanne stehen. Plumhof hat wesentlich zum Aufschwung des Chorgesangs in der Westschweiz beigetragen. Der Schweizer Komponist russischer Abstammung, Paul Juon, hat dagegen grösstenteils in Berlin gewirkt. Erst 1934 mit dem Aufkommen des Nationalsozialismus siedelte er von Berlin nach Vevey über. Neben Instrumental- und Vokalmusik hat Juon zahlreiche theoretische Schriften wie das Aufgabenbuch für den einfachen Kontrapunkt (1910) oder das Handbuch für Harmonie (1919) verfasst.
</p>

<p>
    Die Erschließung des Teilnachlasses von Piantoni vervollständigt den Bestand in der Nationalbibliothek, welcher bereits 2011 von RISM Schweiz erfasst wurde. Der Nachlass des in Genf geborenen Komponisten wurde auf seinen Wunsch hin 1976 von seiner Ehefrau, Paulette Piantoni-Chatron, zwischen der Nationalbibliothek in Bern und der BCU Lausanne aufgeteilt und an die beiden Bibliotheken weitergegeben. Piantonis Werkverzeichnis umfasst Werke für Klavier sowie Orgel, Lieder, Kammer-, Chor- und Orchestermusik. Sein musikalischer Stil ist von französischen Komponisten geprägt. 
</p>

<p>
   Unter den vier Komponisten ist Raffaele d’Alessandro vermutlich der Bekannteste. Die BCU Lausanne besitzt nur einige wenige Musikalien, hauptsächlich Reproduktionen seiner  Autographe. Die Katalogisierung dieser Dokumente stellt ebenfalls eine Ergänzung zum bereits im 2011, anlässlich des 100 jährigen Geburtstags des Komponisten, erschlossenen Nachlass in der Nationalbibliothek dar. Sein Schaffen deckt von Kammer- und Orchesterwerke bis hin zu Bühnen- und Filmmusik alle Gattungen ab.  
