<h3>Katalogisierung</h3>

<p>
    RISM Schweiz hat zum Ziel, m&ouml;glichst viele musikalische Quellen der vergangenen Jahrhunderte in der Schweiz zu katalogisieren und so einer breiten &Ouml;ffentlichkeit zug&auml;nglich zu machen. Dabei geht die Arbeitsstelle des RISM projektspezifisch vor. In verschiedenen zeitlich und inhaltlich begrenzten Projekten werden Quellen gesichtet, wenn n&ouml;tig in s&auml;urefreie Verpackungsmaterialien umgelagert und schliesslich in der RISM-Datenbank dokumentiert. 
</p>

<p>
    RISM bietet diese Arbeiten als kostenpflichtige Dienstleistung an. Gemeinsam mit den Quellen besitzenden Institutionen (Bibliotheken, Archive und Kl&ouml;ster) werden die Projekte ausgearbeitet und realisiert.
</p>
