<h3>
    Il Pasto Fido – Luca Marenzio
</h3>

<div style="float: right; margin: 0px 0px 0px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/cd_marenzio.jpg">
    <p align="center">
        <a href="http://docs.rism-ch.org/press/CD_1814_booklet.pdf" target="_blank">Download Booklet (PDF)</a>
    </p>
    {% include common/cd-marenzio-awards.html %}
</div>

<p class="lang de">
    Im Engadin im Archiv der Schweizer Gemeinde Zuoz, ist ein sehr wertvolles Musikbuch erhalten. Mit Unterstützung von RISM Schweiz haben der Dirigent Francesco Saverio Pedrini und sein Ensemble <a href="https://www.lapedrina.ch/">La Pedrina</a> eine Auswahl aus dieser Sammlung für das Label <a href="https://www.claves.ch/collections/rarities/products/luca-marenzio-il-pastor-fido">Claves</a> aufgenommen. Die Wahl fiel auf Madrigale des italienischen Renaissance-Komponisten Luca Marenzio. Die Aufnahme wurde vom <a href="http://www.marenzio.org/">Marenzio-Projekt</a> mit Sitz in den USA wissenschaftlich begleitet. Die <a href="https://www.claves.ch/collections/rarities/products/luca-marenzio-il-pastor-fido">CD</a> enthält alle musikalischen Vertonungen von Marenzio mit Texten aus Battista Guarinis pastoraler Komödie Il pastor fido. 
</p>
<p>
   Die Sammlung besteht einerseits aus französischen Psalmvertonungen und andererseits aus italienischen Renaissance-Madrigalen von Claudio Monteverdi (1567-1643) sowie dem bereits erwähnten Luca Marenzio. Der in Zuoz wohnhafte Balthasar Planta (1685-1764) erwarb diese Sammlung im Jahr 1707 während seines Kriegsdienstes in Amsterdam. Die Herkunft der einzelnen Drucke konzentriert sich auf den Norden Europas u. a. Haarlem, Amsterdam und Antwerpen. So auch die „Madrigali a cinque voci“ von Luca Marenzio, welche im Jahr 1632 durch die Erben von Pierre Phalèse (1510-1573) in Antwerpen gedruckt und verlegt wurden. Der Druck ist in zweierlei Hinsicht wertvoll. Erstens wurde in dieser Ausgabe Marenzios Madrigalen ein Generalbass hinzugefügt, zweitens ist es das bis heute einzig bekannte Exemplar dieser Ausgabe. Durch den Einbezug einer Generalbass-Gruppe, wie in der Quelle von 1632 vorgesehen, dürfte das Projekt einzigartig sein. Die CD seit Juli 2018 erhältlich. 
</p>

{% include common/cd-marenzio-dlinks.html %}

<h4>
    Zeitungsartikel
</h4>

{% include common/cd-marenzio-press.html %}
