<h3>
    RISM Digital Library (d-lib)
</h3>
<p>
    Die Reihe "RISM Digital Dibrary (d-lib)" sammelt Veröffentlichungen von Archivdokumenten, die für die Schweizer Musikgeschichte relevant sind. Aufgrund der besonderen Eigenschaften der ausgewählten Dokumente bietet eine Online-Publikation deutliche Vorteile gegenüber einer traditionellen Veröffentlichung auf Papier.
</p>
<p>
    Die Dokumente, welche in dieser Reihe veröffentlicht werden (Konzertprogramme, Korrespondenz, Sitzungsprotokolle von historischen Gesellschaften) sind keine zusammenhängenden Texte, sondern in der Regel nur durch eine gemeinsame institutionelle Bindung vereint. Wegen dieser Struktur wäre eine Veröffentlichung auf Papier wenig geeignet, weder als Faksimile noch als Übertragung. Eine digitale Veröffentlichung drängt sich als die effektivste Lösung auf, da sie sowohl die Dokumente selbst wie auch die damit verbundene Forschungsarbeit hervorhebt.
</p>
<p>
    Die Veröffentlichung erfolgt über drei Dimensionen:
</p>
<ul>
    <li>Die Digitalisierung der Dokumente und die Veröffentlichung der Bilder
    </li>
    <li>Die Übertragung der Dokumente und ihre Veröffentlichung, verlinkt mit den entsprechenden Abbildungen
    </li>
    <li>Die Indexierung des Inhalts (Personen, Daten, usw.)
    </li>
</ul>
<p>
    Diese Struktur stellt eine Beziehung zwischen den digitalen Abbildungen des Dokumentes, seiner Übetragung und verschiedener Indizes her. Eine solche Form der Veröffentlichung ist sowohl umfassend als auch einzigartig. Denn ein interessanter Aspekt liegt darin, dass die Publikation sowohl als Faksimile-Edition wie auch als Übertragung sowie als Datenbank verstanden werden kann und entsprechend funktioniert. So werden alle drei Publikationsformen miteinander vereint, ohne dass unter diesen drei Zugängen spezifische Wahl getroffen werden müsste.
</p>
<p>
    Eine ISSN-Nummer erlaubt die Zitierung der Reihe und die Identifizierung eines jeden Bandes wird durch eine permanente Internet-Adresse ermöglicht (purl.oclc.org). Die Reihe ist so angelegt, dass weitere Dokumente mit einem Bezug zur Schweizerischen Musikgeschichte der Neuzeit leicht hinzugefügt werden können. Sowohl bei der Übertragung als auch der Indexierung wird der TEI-Standard benutzt (<a href="http://www.tei-c.org" target="_blank">Text Encoding Initiative</a>).
</p>
<h4>
    Bereits erschienene Bände
</h4>
<p>
    <a href="http://d-lib.rism-ch.org/onstage">OnStage</a>
</p>
<p>
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">Kapellmeisterbuch</a>
</p>
