<h3>
   Digital Music Unica in Switzerland (D-MUS)
</h3>

<p>
    Das Projekt möchte den Zugang zu einzigartigen musikalischen Quellen in privaten oder kleineren öffentlichen Bibliotheken und Archiven in der Schweiz ermöglichen. Diejenigen Quellen, die für Forscher und Künstler von großem Interesse sein könnten, werden digitalisiert und im RISM-Katalog veröffentlicht.
</p>
<p>
    Manuskripte sind definitionsgemäss einzigartig, auch wenn von der selben Komposition mehrere Abschriften oder Drucke existieren. Besonders wertvoll sind handschriftliche Quellen, die von der Hand des Komponisten geschrieben wurden. Denn Autographe können Informationen enthalten, welche in späteren Kopien verloren gegangen sind. Sie gewähren einen Einblick in den Prozess der Komposition oder können Spuren ihrer frühesten Verwendung enthalten. Mithilfe einer Originalhandschrift können Schreiber anderer Manuskripte identifiziert werden. 
    Für die Digitalisierung wurden nur autographe Partituren, die nach schweizerischem Recht gemeinfreie Werke sind, berücksichtigt. Die RISM-Datenbank besitzt zur Zeit etwa 3.500 Manuskripte von 174 Komponisten an 23 verschiedenen Standorten, die diese Kriterien erfüllen. Davon werden 500 Titel digitalisiert und online veröffentlicht.
</p>
<p>
    Gedruckte Quellen können ebenfalls Unikate sein, wenn die vorliegende Kopie das einzige überlieferte Zeugnis der Edition oder der Druckauflage ist. Für das Publikum besonders interessant sind die Erstausgaben eines musikalischen Werkes. Allerdings können für den Forscher auch Kopien von Nachdrucken wertvolle Einsichten liefern, im Falle von Anpassungen und Änderungen im musikalischen Text oder als Zeugnis für die anhaltende Popularität eines Werkes. Rund 1600 Unikate von Musikeditionen sind an 40 verschiedenen Orten in der Schweiz erhalten. Im Rahmen des Projekts wird die Gesamtheit dieser Quellen digitalisiert und online veröffentlicht. 
</p>
<p>
    Das Projekt begann im Jahr 2017 mit einer Pilotphase (mit Quellen der Nationalbibliothek Bern und der Bibliothek der Hochschule der Künste Bern) und wird voraussichtlich im Jahr 2020 abgeschlossen werden.
</p>

   </p>
    Kontakt: <a href="/contact.html">Claudio Bacciagaluppi</a>
</p>
