<h3>
    FAQ
</h3>
<p>
    Ein wichtiges Ziel von RISM Schweiz ist es, dass seine Quellendatenbank neben der Forschung auch vermehrt von praktizierenden Musikerinnen und Musikern genutzt wird. Denn die Datenbank enthält etliche spannende Musikquellen abseits des gängigen Konzertrepertoires, die zum Erklingen gebracht werden wollen. Oft handelt es sich dabei um lokal verankerte Kompositionen. Weshalb also nicht einmal ein Werk zur Aufführung bringen, welches explizit für einen bestimmten Ort komponiert wurde? Grundsätzliche Fragen werden nachfolgend behandelt.
</p>

<p class="faq">
    Ist der Zugang zur RISM-Datenbank offen?
</p>
<div class="faq-answer">
    <p>
        Die Datenbank von RISM Schweiz wird gratis zur Verfügung gestellt und es ist kein Login nötig, um nach Quellen zu suchen. Es können aber bei den Bibliotheken, insbesondere bei der Anforderung von Kopien, Kosten entstehen.
    </p>
</div>
<p class="faq">
    Wo befinden sich die in der Datenbank gefundenen Quellen?
</p>
<div class="faq-answer">
    <p>
        RISM Schweiz ist selbst nicht in Besitz von musikalischen Quellen. Diese befinden sich in der jeweiligen Institution. Bitte kontaktieren Sie die entsprechende Bibliothek und vereinbaren einen Termin. Die Kontaktdaten finden Sie unter der Rubrik „Bibliothekssigel“.
    </p>
</div>
<p class="faq">
    Wo erhalte ich Kopien von den Quellen?
</p>
<div class="faq-answer">
    <p>
        Bei den meisten Bibliotheken können Kopien von den Quellen angefordert werden. Bitte informieren Sie sich direkt bei der jeweiligen Institution und beachten Sie, dass für Kopien Gebühren anfallen können. Ausserdem ist insbesondere bei Aufführungen der entsprechenden Werke die urheberrechtliche Situation abzuklären.
    </p>
</div>
<p class="faq">
    Kann man digitale Kopien von Quellen herunterladen?
</p>
<div class="faq-answer">
    <p>
        Einige wenige Quellen werden von RISM Schweiz in gesonderten Projekten digitalisiert und veröffentlicht. Diese können teilweise auch heruntergeladen werden. Es ist jedoch nicht die Aufgabe von RISM, sämtliche Quellen zu digitalisieren.
    </p>
</div>
<p class="faq">
    Welche Materialtypen von Quellen gibt es?
</p>
<div class="faq-answer">
    <p>
        RISM Schweiz katalogisiert sämtliche Materialtypen. Am häufigsten sind Handschriften (Manuscript) und Drucke (Print), wobei die Handschriften noch in Autographe (Autograph), fragliche Autographe (Probably autograph) und Abschriften (Manuscript) unterteilt werden. Die entsprechende Bezeichnung befindet sich in der Rubrik Physische Beschreibung / Quellentyp.
    </p>
</div>
<p class="faq">
    Welches Repertoire ist in der RISM-Datenbank enthalten?
</p>
<div class="faq-answer">
    <p>
        Die Datenbank enthält ein vielfältiges Repertoire an Musik. Die Besetzung reicht von Musik für ein Instrument bis hin zu grossangelegten Orchesterkompositionen und umfasst Werke vom 15. bis ins 20. Jahrhundert. Auch in Bezug auf die Gattungen deckt die Datenbank ein breites Spektrum ab, wobei die geistliche Musik eine besonders grosse Bedeutung erhält.
    </p>
</div>
<p class="faq">
    Wie sind die Katalogisate in der RISM-Datenbank organisiert?
</p>
<div class="faq-answer">
    <p>
        Die Datenbank enthält neben Einzeleinträgen (Quellen, welche ein einziges Werk beinhalten) auch sogenannte Konvolute und Sammlungen (Collection). Letztere bestehen aus mehreren Einzelwerken, Konvolute beinhalten hingegen mindestens eine Sammlung und je nach dem noch weitere Sammlungen und/oder Einzelwerke. Die Datenbank ist damit hierarchisch strukturiert, wobei sämtliche übergeordneten Titel (Konvolut und/oder Sammlung) mit ihren Einzeleinträgen und umgekehrt verlinkt sind.
    </p>
</div>
<p class="faq">
    Sind die Bibliotheken immer in Besitz des gesamten Aufführungsmaterials?
</p>
<div class="faq-answer">
    <p>
        Dies ist leider nicht immer der Fall. Beachten Sie in den Datenbankeinträgen, ob das Quellenmaterial vollständig vorhanden ist. Sie finden den entsprechenden Hinweis („Incomplete material“) unter der Rubrik Anmerkungen / Bemerkungen. In diesen Fällen befindet sich meistens eine genauere Beschreibung der fehlenden Stimmen unter Physische Beschreibung / Fehlendes Stimmenmaterial. Achten Sie auch auf Begriffe wie „missing“ oder „incpl“ bei der physischen Beschreibung.
    </p>
</div>
<p class="faq">
    Gibt es spezielle Suchfilter für meine Projekte?
</p>
<div class="faq-answer">
    <p>
        In der RISM-Datenbank kann sowohl mittels erweiterter Suche als auch über die Volltextsuche ein gutes Resultat erzielt werden. Daneben besteht die Möglichkeit innerhalb der verschiedenen Indizes zu suchen. Für die Verfeinerung Ihrer Suche stehen Ihnen einige Filter zur Verfügung. So kann u. a. nach Gattungen (z. B. Symphonies), Sprachen (z. B. roh = rätoromanisch), Bibliothekssiglen (z. B. CH-E = Klosterbibliothek Einsiedeln), Textdichtern (z. B. Staub, Joseph) und natürlich nach allgemeinen Stichworten (z. B. Sängerverein) gesucht werden.
    </p>
    <p>
        Ein spezielles Projekt, welches RISM Schweiz seit geraumer Zeit durchführt, ist das <a href="cataloging/repertorium.html">„Repertorium Schweizer Komponisten des 19. Jahrhunderts“</a>. Falls Sie Quellen aus diesem Projekt nachschlagen möchten, können Sie nach dem Stichwort RepertoriumSchweiz suchen.
    </p>
</div>
<!--
<p class="faq">
    Kann man auch nach einem musikalischen Motiv suchen?
</p>
<div class="faq-answer">
    <p>
        Das ist möglich. Die Suche nach Incipits bietet sich vor allem an, um verschiedene Quellen zum selben Werk zu finden. Auch für die Bestimmung von Werken, von denen man z. B. nur das Thema kennt, kann die Incipitsuche gute Resultate hervorbringen. Unter folgendem <a href="http://www.rism-ch.org/pages/help">Link</a> finden Sie eine Anleitung zur Suche nach Incipits.
    </p>
</div>
-->
<p class="faq">
    An wen wende ich mich bei Unklarheiten?
</p>
<div class="faq-answer">
    <p>
        Bei Fragen zu bestimmten Quellen nehmen Sie bitte Kontakt mit der besitzenden Institution auf. Dies gilt auch für organisatorische Belange wie Besuchsanmeldung, Kopieraufträge etc. Für alle anderen Unklarheiten können Sie sich gerne an RISM Schweiz wenden. Die Kontaktdetails finden Sie auf unserer <a href="/contact.html">Kontaktpage</a>.
    </p>
</div>
