<h3>
    Geschlossene Musikbestände in schweizerischen Archiven und Bibliotheken
</h3>
<p>
    Die Listen <a href="/links/ch-people-a-e.html">Bestände - Personen</a> und <a href="/links/ch-institutions.html">Bestände - Institutionen</a> bieten einen Überblick über Bestände mit Schwerpunkt Musik, die in der schweizerischen Archiven und Bibliotheken aufbewahrt sind. Darunter befinden sich Nachlässe, Archive, Sammlungen und Handbibliotheken. Sie umfassen Dokumente, wie: Autographe, Musikhandschriften, Musikdrucke, Materialien zum Werk, Tonträger, Textmanuskripte, Druckschriften, Korrespondenz, Fotos und weitere persönliche oder geschäftliche Unterlagen.
</p>
