<h3>
    Kloster Fischingen
</h3>
<p>
    Das Inventarisierungsprojekt Kloster Fischingen setzt sich zum Ziel, die reiche liturgisch-musikalische Tradition der Benediktinerm&ouml;nche im Zeitalter des Sp&auml;tbarocks und der Aufkl&auml;rung anhand der &uuml;berlieferten handschriftlichen sowie gedruckten Musikalien aus dem sp&auml;ten 17. bis zum fr&uuml;hen 19. Jahrhundert umfassend zu dokumentieren. Seine einzigartige Bedeutung verleiht diesem Bestand die Tatsache, dass das Repertoire des Klosters Fischingen sich erg&auml;nzend zu den durch die Arbeitstelle Schweiz des RISM erschlossenen Quellenbest&auml;nden von Berom&uuml;nster, Einsiedeln, Engelberg, Disentis, St. Gallen (Neu St. Johann) und kurz vor Abschluss befindenden Erfassung der gesamten historischen Musikbibliothek des Frauenklosters St. Andreas Sarnen verh&auml;lt.
</p>
<p>
    Das Projekt Kloster Fischingen sieht eine vollst&auml;ndige Erfassung des Musikalienbestands vor. Besonderes Augenmerk gilt dabei den handschriftlichen Musikquellen, die einen direkten Bezug zur kl&ouml;sterlichen Musikpraxis zwischen 1692 und 1808 aufweisen, da sie gr&ouml;sstenteils speziell f&uuml;r die Musikpflege der benediktinischen Liturgie in Fischingen komponiert wurden. Von besonderer Bedeutung ist hierbei das &bdquo;Diurnale Monastico Benedictinum&ldquo; von 1805; dieser &bdquo;Festkalender&ldquo; f&uuml;r die liturgischen Feierlichkeiten der Benediktiner in Fischingen, ist der Schl&uuml;ssel zur Wiederentdeckung des kl&ouml;sterlichen Musiklebens zu Beginn des 19. Jahrhunderts. Daneben finden sich handschriftliche Quellen f&uuml;r das Ordinarium sowie das Proprium Missae und zahlreiche Ges&auml;nge f&uuml;r das Offizium.
</p>
<p>
    Die Reichhaltigkeit der Musikpflege schl&auml;gt sich auch in der Anzahl der gedruckten musikalischen Quellen nieder, die fast durchwegs aus dem 18. Jahrhundert stammen und das damals weit verbreitete Repertoire feierlicher Kirchenmusik in Schweizer Kl&ouml;ster widerspiegeln, das immer auf eine Wiedergabe mehrstimmiger Musik mit Instrumentalbegleitung ausgerichtet war. Insofern erstaunt es nicht, dass der Materialbestand bei den gedruckten Musikalien einen gr&ouml;sseren Umfang einnimmt als bei den handschriftlichen Quellen.
</p>
<p>
    Erm&ouml;glicht wird dieses Inventarisierungsprojekt durch den Verein Freunde des Klosters Fischingen. Das Projekt Kloster Fischingen wurde am 19. Mai 2014 in Angriff genommen.
</p>
