<p>
    Zahlreiche <a href="infrastructure.html">Infrastrukturprojekte</a> laufen rund um die Musikquellen. Bei vielen davon spielt die Digitalisierung eine wichtige Rolle.
</p>
<p>
    Die Katalogisierungssoftware <a href="/infrastructure/muscat.html">Muscat</a> wird von RISM Schweiz mitentwickelt. Basierend auf internationalen Standards ist sie auf die Bedürfnisse eines Musikkatalogs zugeschnitten.
</p>
<p>
    Im Zentrum der Arbeit steht die Katalogisierung von Musikquellen. Eine repräsentative Handschrift ist das Autograph des Schweizerpsalmes von Alberik Zwyssig.
</p>
<p>
    RISM Schweiz unterstützt viele Schweizer Archive und Bibliotheken bei der Ordnung, Erhaltung und Inventarisierung ihrer Musikbestände.
</p>
