<p>
RISM-Schweiz erschliesst die in Schweizer Bibliotheken und Archiven überlieferten handschriftlichen und gedruckten Noten und Schriften über Musik nach international verbindlichen wissenschaftlichen Normen. RISM-Schweiz leistet einen wesentlichen Beitrag zur Sicherung des musikalischen Kulturgutes der Schweiz. Über Internet werden die inventarisierten Bestände der musikalischen Praxis und der musikwissenschaftlichen Forschung weltweit zugänglich gemacht. Die inventarisierten Bestände können zudem auch in Buchform veröffentlicht werden.
</p>
