<h3>
    Musikbibliothek Hochschule Luzern - Musik
</h3>
<p>
    Die Musikabteilung der Hochschule Luzern ist im Jahr 1999 unter dem Namen Musikhochschule Luzern durch den Zusammenschluss des Konservatoriums, der Akademie für Schul- und Kirchenmusik sowie der Jazz Schule Luzern entstanden, womit auch die verschiedenen bestehenden Bibliotheken in eine einzige Musikbibliothek mit fünf Standorten zusammengefasst wurden. Sämtliche für RISM interessanten historischen Quellen wurden aus allen diesen Teilbibliotheken in die Hauptbibliothek überführt, wo sie nun gelagert werden. RISM Schweiz konnte im Jahr 2013 in einem Projekt diesen kleinen handschriftlichen Bestand, in seine Datenbank integrieren. Die historischen Quellen gelangten vornehmlich durch Schenkung in den Besitz der Musikbibliothek. Bekanntester Donator ist der Violinist Rudolf Baumgartner, dem denn auch mehrere der Werke gewidmet sind.
</p>
<p>
    Gemessen an anderen, grösseren Institutionen ist die Handschriftensammlung der Musikbibliothek relativ klein, dennoch besitzt sie neben des umfangreichen Nachlasses von Carl Detsch, einem in der Zentralschweiz aktiven Komponisten und Musiklehrer des 19./20. Jahrhunderts, auch einige einzelne Trouvaillen, die nun in der RISM-Datenbank erfasst sind. Dabei sticht eine unbekannte autographe Handschrift des Schweizer Komponisten Willy Burkhard heraus, nämlich eine eigenhändige Bearbeitung der Sonate für Bratsche solo (op. 59), eingerichtet für Violine solo (op. 59a). Aber auch weitere Manuskripte von vorwiegend in der Zentralschweiz tätigen Komponisten, befinden sich in der Sammlung; darunter Werke von Johann Baptist Hilber, Robert F. Denzler und Peter Josef Zwyssig. RISM Schweiz konnte mit der Bearbeitung dieser Bibliothek rund 700 Werke in seine Datenbank aufnehmen.
</p>
<p>
    Kontakt: <a href="/contact.html">Cédric Güggi</a>
</p>
