<h3>
    Nachlass Ferdinand F&uuml;rchtegott Huber (1791-1863)
</h3>
<p>
    Der Nachlass des St. Galler Komponisten Ferdinand F&uuml;rchtegott Huber befindet sich in der Kantonsbibliothek St. Gallen Vadiana. Huber wurde 1791 als Sohn eines Pfarrers und Schulrektors geboren. Von St. Gallen aus zog es ihn bereits in fr&uuml;hen Jahren ins Ausland, genauer nach Stuttgart, wo er einige Zeit als Trompeter im Opernorchester angestellt war. Nach seiner R&uuml;ckkehr in die Schweiz 1816 arbeitete er als Musiklehrer und Organist in Bern und St. Gallen. In dieser Zeit lernte er in Hofwil bei Bern Gottlieb Jakob Kuhn, den Verfasser vieler volkst&uuml;mlicher Gedichte, kennen, zu dessen Texten er etliche Kompositionen verfasste. Er sammelte und studierte die Schweizerische Volksmusik zeitlebens und setzte sich f&uuml;r die Wiederbelebung des Alphorns ein. Sein bekanntestes volkst&uuml;mliches Lied ist &bdquo;Lueget vo Berg und Tal&ldquo;. Daneben komponierte Huber jedoch auch instrumentale Kammermusik, so z. B. 12 Horntrios.
</p>
<p>
    Der Nachlass Ferdinand F&uuml;rchtegott Hubers stellt damit eine f&uuml;r die Schweizer Musiktradition wichtige Quellensammlung dar. Der St. Galler Musiker geh&ouml;rt denn auch zur Auswahl der Komponisten f&uuml;r das Projekt <em>Repertorium Schweizer Komponisten des 19. Jahrhunderts</em>. Zwar gibt es in etlichen Bibliotheken der Schweiz, insbesondere in der Klosterbibliothek Einsiedeln, einige Drucke und ein paar wenige Abschriften von Werken des Komponisten, jedoch liegt in dieser Sammlung praktisch das gesamte &OElig;uvre Hubers zumeist in autographen Manuskripten vor. Der Nachlass wird von RISM Schweiz im Auftrag der Kantonsbibliothek St. Gallen nun erfasst und einer interessierten &Ouml;ffentlichkeit zug&auml;nglich gemacht.
</p>
<h4>
    Zeitungsartikel
</h4>

{% include common/huber-press.html %}
