<h3>
    Nachlass Ferdinand Fürchtegott Huber (1791-1863)
</h3>
<p>
    Der Nachlass des St. Galler Komponisten Ferdinand Fürchtegott Huber befindet sich in der Kantonsbibliothek St. Gallen Vadiana. Huber wurde 1791 als Sohn eines Pfarrers und Schulrektors geboren. Von St. Gallen aus zog es ihn bereits in frühen Jahren ins Ausland, genauer nach Stuttgart, wo er einige Zeit als Trompeter im Opernorchester angestellt war. Nach seiner Rückkehr in die Schweiz 1816 arbeitete er als Musiklehrer und Organist in Bern und St. Gallen. In dieser Zeit lernte er in Hofwil bei Bern Gottlieb Jakob Kuhn, den Verfasser vieler volkstümlicher Gedichte, kennen, zu dessen Texten er etliche Kompositionen verfasste. Er sammelte und studierte die Schweizerische Volksmusik zeitlebens und setzte sich für die Wiederbelebung des Alphorns ein. Sein bekanntestes volkstümliches Lied ist „Lueget vo Berg und Tal“. Daneben komponierte Huber jedoch auch instrumentale Kammermusik, so z. B. 12 Horntrios.
</p>
<p>
    Der Nachlass Ferdinand Fürchtegott Hubers stellt damit eine für die Schweizer Musiktradition wichtige Quellensammlung dar. Der St. Galler Musiker gehört denn auch zur Auswahl der Komponisten für das Projekt <em>Repertorium Schweizer Komponisten des 19. Jahrhunderts</em>. Zwar gibt es in etlichen Bibliotheken der Schweiz, insbesondere in der Klosterbibliothek Einsiedeln, einige Drucke und ein paar wenige Abschriften von Werken des Komponisten, jedoch liegt in dieser Sammlung praktisch das gesamte Œuvre Hubers zumeist in autographen Manuskripten vor. Der Nachlass wird von RISM Schweiz im Auftrag der Kantonsbibliothek St. Gallen nun erfasst und einer interessierten Öffentlichkeit zugänglich gemacht.
</p>
<h4>
    Zeitungsartikel
</h4>
<p>
    « Du kannst nicht Kaufmann oder Schneider und Musiker werden ...»<br>
    Schweizer Musikzeitung, Nr. 6, Juni 2011, <a href="http://docs.rism-ch.org/press/smz.2011.06_53.pdf" target="_blank">S. 53</a>
</p>
<p>
    <a href="http://docs.rism-ch.org/press/smz.2011.06_53.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/smz.2011.06_53.png"></a>
</p>
