<h3>
    Informationspool „Repertorium Schweizer Komponisten des 19. Jahrhunderts“
</h3>
<p>
    Das Projekt Informationspool „Repertorium Schweizer Komponisten des 19. Jahrhunderts“ wurde im September 2008 ins Leben gerufen. Es wird unter der Mitarbeit der Schweizer Nationalphonothek realisiert und hat zum Ziel, verschiedene dokumentarische Ressourcen in einem Projekt zu vereinen. Dabei werden ca. 500 für die musikalische Produktion des 19. Jahrhunderts bedeutende Quellen digitalisiert und im Internet veröffentlicht. Die Digitalisate sollen dabei mit Aufnahmen aus den Beständen der Nationalphonthek und mit den entsprechenden detaillierten Katalogisaten der RISM-Datenbank verlinkt werden. Ebenso ist eine Verlinkung zu weiterführenden biographischen Angaben vorgesehen (www.hls.ch).
</p>
<p>
    Für dieses Projekt ist RISM Schweiz eine Kooperation mit dem Distributed Digital Music Archives and Libraries (DDMAL) Laboratory der McGill University in Montreal unter der Leitung von Prof. Ichiro Fujinaga eingegangen.
</p>
<p>
    Projektpartner:
</p>
<div align="center">
    <table border="0" cellpadding="5" cellspacing="5" width="80%">
        <tbody>
            <tr>
                <td align="center">
                    <a href="http://www.fonoteca.ch/index_de.htm" target="_blank"><img src="/images/rism_ch/logo_fonoteca.png"></a>
                </td>
                <td align="center">
                    <a href="http://www.mcgill.ca/music/programs/department-music-research/music-technology-area" target="_blank"><img src="/images/rism_ch/logo_mcgill.png"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
