<h3>
    Links und Dokumentation
</h3>
<p>
    Wir wollen immer auf dem neuesten Stand bleiben. Sie helfen uns sehr, wenn Sie uns unbekannte Adressen oder tote Links melden (<a href="mailto:info@rism-ch.org">Kontakt</a>). Vielen Dank!
</p>

<h4>
    Online-Ressourcen zur Erfassung, Erforschung und Erschliessung von Musikquellen
</h4>

<p>
    <strong>Haftungshinweis</strong>: trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.
</p>
