<h3>
    Music Encoding Initiative (MEI)
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <a href="www.music-encoding.org" target="_blank"><img src="/images/rism_ch/meilogo.png"></a>
</div>
<p>
    Der Zweck der Music Encoding Initiative (MEI) liegt darin, einen Codierungsstandard für Musikquellen im Einklang mit den Empfehlungen der Text Encoding Initiative (TEI) zu definieren. RISM Schweiz trägt zum Projekt seine Erfahrung und sein Know-how auf dem Gebiet der Bibliographie bei, ein wichtiger Aspekt bei der Definition dieses Codierungsstandards.
</p>

<h4>
    Was sind die Stärken des MEI-Standards?
</h4>
<ul>
    <li>Er wird von einer Spezialisten-Community entwickelt
    </li>
    <li>Er hat ein offenes XML-Format und kann somit von allen gelesen und entziffert werden
    </li>
    <li>Er ist modular und kann für spezifische Anforderungen erweitert werden
    </li>
    <li>Er eignet sich für eine Vielzahl von Anwendungen – Verlagswesen, Analyse, Archivierung
    </li>
</ul>
<p>
    MEI spielt für viele Projekte eine vermittelnde und verbindende Rolle aufgrund seiner Vielseitigkeit. Dieser Aspekt wird in Zukunft noch weiter ausgebaut. Dank seines weiten Anwendungsbereichs ist der MEI-Standard die geeignete Lösung für verschiedene Projekte, für welche bisher unterschiedliche Formate verwendet wurden.
</p>

{% include common/mei-figure.html %}

<h4>
    Rolle des RISM
</h4>
<p>
    <strong>1 – Expertise</strong>
</p>
<p>
    Erstens spielt RISM Schweiz eine wichtige Rolle bei der Etablierung des Standards in Bezug auf die Codierung der Metadaten. MEI zeichnet sich diesbezüglich durch einen sehr hohen Detailreichtum aus und die Erfahrung des RISM ist für die MEI-Community sehr nützlich.
</p>
<p>
    <strong>2 – Benutzung</strong>
</p>
<p>
    Die zweite Rolle ist die des Benutzers, denn RISM Schweiz nutzt MEI in Zusammenhang mit TEI, um Bibliothekskataloge zu erstellen, welche Notenincipits enthalten. Entgegen der bis vor wenigen Jahren gängigen Praxis, nämlich die Veröffentlichung der Kataloge auf Papier, bietet dieser Ansatz eine viel flexiblere Lösung. In Zukunft wird er beispielsweise ermöglichen, PDF-Dokumente direkt von der RISM-Datenbank zu erzeugen.
</p>
<p>
    <strong>3 – Promotion</strong>
</p>
<p>
    Schliesslich spielt RISM Schweiz auch eine Rolle bei der Promotion des Standards in den Forschungsprojekten, in denen es teilnimmt. RISM Schweiz beteiligt sich regelmässig an Workshops oder Kursen über MEI. Die Förderung von MEI erfolgt auch durch Publikationen.
</p>
