<h3>
    Entwicklung des Katalogisierungssystems Muscat 3.0
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;">
    <img src="/images/rism_ch/muscat-sm.png">
</div>
<p>
    Seit Anfang 2014 wird die Katalogisierungssoftware Muscat in Zusammenarbeit mit der Zentralredaktion RISM weiter entwickelt. Damit setzt RISM Schweiz die Entscheidung des internationalen RISM-Vorstands um, wonach Muscat in Zukunft als neues Werkzeug für die Katalogisierung von sämtlichen RISM-Arbeitsstellen weltweit eingesetzt werden soll. Mehrere Faktoren sprachen bei dieser Entscheidung für Muscat. Ein wichtiger Punkt ist die Entwicklung als Open-Source-basierte und online zugängliche Anwendung, was diese offen, transparent und anwenderfreundlich macht. Ausserdem wurde sie speziell für die Erfassung von Musikquellen eingerichtet, so dass sie nicht komplett neu zu entwickeln und an die Bedürfnisse von RISM zu konfigurieren ist.
</p>
<p>
    Die Weiterentwicklung von Muscat folgt einem im Januar 2014 zusammen mit der RISM Zentralredaktion in Frankfurt verabschiedeten Plan, der die Aufschaltung einer Beta-Version für das Jahr 2015 und für das Jahr 2016 die vollständige Migration aller RISM-Daten weltweit nach Muscat vorsieht. Der Entwicklungsplan von Muscat 3.0 beinhaltet auch die Zusammenlegung des Handschriftenkatalogs (Serie A/II) mit den verschiedenen Serien zu den Drucken (Serien A/I, B/I und B/II). Diese Vereinigung basiert auf den Vorarbeiten von RISM Schweiz in Zusammenarbeit mit der Zentralredaktion für die Migration der Serie A/I nach Muscat 2.0 im Jahr 2013.
</p>
<p>
    Auf internationaler Ebene wurden diese Entwicklungen anlässlich der IAML-Konferenzen in Antwerpen 2014 und in New York 2015 vorgestellt.
</p>
<p>
    Kontakt: <a href="/contact.html">Laurent Pugin</a>
</p>
