<h3>
    Entwicklung des Katalogisierungssystems Muscat
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;">
     <a href="http://muscat-project.org" target="_blank"><img src="/images/rism_ch/muscat-sm.png"></a>
</div>

<p>
    Muscat ist ein Open-Source-Framework für die Katalogisierung von Musikdokumenten (handschriftliche und gedruckte Musiknoten). Das Projekt wurde im Jahr 2002 durch die RISM-Arbeitsgruppe Grossbritanniens initiiert und durch RISM Schweiz  weiterentwickelt. Aufgrund des Entscheids von RISM Schweiz und RISM UK, Muscat als Open-Source zu veröffentlichen, kann die Software seit Anfang 2014 in Zusammenarbeit mit der RISM-Zentralredaktion in Frankfurt weiter ausgebaut werden. 
</p>
    
<p>
    Auf der <a href="http://muscat-project.org" target="_blank">Muscat-Project</a> Website finden Sie eine vollständige Beschreibung des Projekts. 
</p>

<h4>Die Zusammenarbeit mit der RISM Zentralredaktion</h4>

<p>
    Seit 2015 haben die Zentralredaktion von RISM und RISM Schweiz eine Vereinbarung für die Entwicklung und die Verwaltung von Muscat.
</p>

<p class="compact">
    Die RISM-Zentralredaktion ist zuständig für:
</p>
<ul class="compact">
    <li>Die Verwaltung von Daten</li>
    <li>Die Organisation der Entwicklungen für die Normdateien</li>
    <li>Die Aufsicht über die Redaktion der Katalogisierungsrichtlinien</li>
</ul>

<p class="compact">
    RISM Schweiz ist zuständig für:
</p>
<ul class="compact">
    <li>Die Verwaltung der Installation von Muscat auf dem Server in der Staatsbibliothek zu Berlin</li>
    <li>Die Verwaltung des Quellcodes und des GitHub-Repository</li>
    <li>Die Organisation der Aufschaltung neuer Versionen von Muscat</li>
</ul>

<p>
    Kontakt: <a href="/contact.html">Laurent Pugin</a>
</p>

