<h3>
    Nachlass Louis Niedermeyer (1802-1861)
</h3>

<p>
    Der Nachlass von Louis Niedermeyer (1802-1861), welcher im <a href="http://www.niedermeyer-nyon.ch/" target="_blank">Verein Niedermeyer</a> in Nyon aufbewahrt wird, beinhaltet sowohl Manuskripte als auch Drucke für Instrumental- und Vokalmusik. Ein Grossteil der Manuskripte ist in Abschriften überliefert, der Nachlass besitzt jedoch auch einige Autographe. Unter den Drucken befinden sich mehrere Ausgaben der berühmten Pariser Verlagshäuser <em>Richault</em> und <em>Pacini</em>. Der Nachlass, welcher nahezu das gesamte Oeuvre Niedermeyers umfasst, ist überdies eine interessante Quelle im Hinblick auf die Verbreitung von Musik und das Musikeditionswesen im 19. Jahrhundert. Weiter besitzt der Nachlass Drucke von Komponisten, die eine Verbindung zu Niedermeyer aufweisen, wie unter anderem Gioacchino Rossini (1792-1868), Gustave Lefèvre (1831-1910) und Johann Simon Mayr (1763-1846).
</p>

<p>
    Niedermeyers Oeuvre ist sehr vielseitig und reicht von einfachen Klavierstücken bis hin zu Orchesterwerken und Opern. Letztere sind von seinen Studien in Rom und Neapel geprägt. Während seinen Studienaufenthalten freundete sich Niedermeyer unter anderem mit Rossini an und zeigte ihm regelmässig seine Kompositionen. Obwohl Niedermeyer die Schweiz 1834 verlassen hat, blieb er Nyon stets eng verbunden und kehrte im Verlauf seines Lebens häufig zum Komponieren zurück.
</p>

<p>
    Bis anhin wurde das kompositorische Werk von Louis Niedermeyer von der Forschung nicht angemessen gewürdigt. Mit der Inventarisierung des Nachlasses des Vereins Niedermeyer, möchte RISM zur Verbreitung und Anerkennung des Oeuvres dieses faszinierenden und zu unrecht vergessenen Schweizer Komponisten beitragen. Das Projekt wurde am 13. Juli 2015 in Angriff genommen und wird voraussichtlich Ende Jahr abgeschlossen.
</p>
<h4>
    Zeitungsartikel
</h4>

{% include common/niedermeyer-press.html %}
