<h3>
    OnStage: Conservatoire de Musique de Genève
</h3>
<p>
    Das erste OnStage-Projekt, zwischen 2012 und 2013 in Zusammenarbeit mit der Haute Ecole de Musique (HEMU) – Conservatoire Lausanne durchgeführt, hat grosses Interesse bei Institutionen mit ähnlichen Quellen geweckt. Tatsächlich ist die Digitalisierung von historischen und teilweise unbekannten Konzertprogrammen insofern relevant, als sie für die Forschung neue Einblicke in die Aufführungsgeschichte geben. Aus diesem Grund bereitet RISM Schweiz eine Verlängerung des OnStage-Projekts mit entsprechenden Dokumenten aus der Bibliothek des Conservatoire de Musique de Genève vor.
</p>
<p>
    Der Ablauf folgt dem gleichen Ansatz wie bei den Quellen des Lausanner Konservatoriums. Zuerst wird die gesamte Sammlung digitalisiert, worauf die Daten indexiert und die Texte mittels OCR-Technik für die spätere Volltextsuche automatisch eingelesen werden. Angesichts der grossen Menge von über 10'000 Programmheften aus Genf wird die Indexierung zunächst lediglich mit einer geringen Tiefe vorgenommen. Die Zusammenführung beider Projekte wird zu gegebener Zeit mit den verschiedenen Partnern diskutiert. Das Ziel wird sein, eine Lösung zu finden, die sowohl eine übersichtliche Darstellung der einzelnen Sammlungen als auch optimale Suchfunktionen garantiert.
</p>
<p>
    Die Finanzierung des Projekts wird vom Genfer Konservatorium in Partnerschaft mit RISM Schweiz getragen. Sowohl die Digitalisierung als auch die Indexierung haben 2014 begonnen, wobei die Indexierung durch einen Mitarbeiter der Bibliothek unter der Aufsicht von RISM Schweiz und dem Bibliotheksleiter vorgenommen wurde.
</p>
<p>
    Kontakt: <a href="/contact.html">Claudio Bacciagaluppi</a>
</p>
