<h3>
    OnStage: HEMU – Conservatoire de Musique de Gen&egrave;ve
</h3>
<p>
    Das erste OnStage-Projekt, zwischen 2012 und 2013 in Zusammenarbeit mit der Haute Ecole de Musique (HEMU) – Conservatoire Lausanne durchgef&uuml;hrt, hat grosses Interesse bei Institutionen mit &auml;hnlichen Quellen geweckt. Tats&auml;chlich ist die Digitalisierung von historischen und teilweise unbekannten Konzertprogrammen insofern relevant, als sie für die Forschung neue Einblicke in die Aufführungsgeschichte geben. Aus diesem Grund bereitet RISM Schweiz eine Verl&auml;ngerung des OnStage-Projekts mit entsprechenden Dokumenten aus der Bibliothek des Conservatoire de Musique de Gen&egrave;ve vor.
</p>
<p>
    Der Ablauf folgt dem gleichen Ansatz wie bei den Quellen des Lausanner Konservatoriums. Zuerst wird die gesamte Sammlung digitalisiert, worauf die Daten indexiert und die Texte mittels OCR-Technik für die sp&auml;tere Volltextsuche automatisch eingelesen werden. Angesichts der grossen Menge von über 10'000 Programmheften aus Genf wird die Indexierung zun&auml;chst lediglich mit einer geringen Tiefe vorgenommen. Die Zusammenführung beider Projekte wird zu gegebener Zeit mit den verschiedenen Partnern diskutiert. Das Ziel wird sein, eine L&ouml;sung zu finden, die sowohl eine übersichtliche Darstellung der einzelnen Sammlungen als auch optimale Suchfunktionen garantiert.
</p>
<p>
    Die Finanzierung des Projekts wird vom Genfer Konservatorium in Partnerschaft mit RISM Schweiz getragen. Sowohl die Digitalisierung als auch die Indexierung haben 2014 begonnen, wobei die Indexierung durch einen Mitarbeiter der Bibliothek unter der Aufsicht von RISM Schweiz und dem Bibliotheksleiter vorgenommen wurde.
</p>
