<h3>
    Abgeschlossene Projekte
</h3>
<div class="secondary_links">
    <p>
        <a href="cataloging/hslu.html">Frey-Grynäum</a>
    </p>
    <p>
        <a href="cataloging/hslu.html">Hochschule Luzern – Musik</a>
    </p>
    <p>
        <a href="cataloging/kunz.html">Nachlass Ernst Kunz</a>
    </p>
    <p>
        <a href="cataloging/huber.html">Nachlass Ferdinand Fürchtegott Huber</a>
    </p>
    <p>
        <a href="cataloging/einsiedeln.html">Schweizer Komponisten des 19. Jahrhunderts in der Musikbibliothek des Klosters Einsiedeln</a>
    </p>
    <p>
        <a href="cataloging/st-gall.html">Archiv der Dommusik St. Gallen</a>
    </p>
    <p>
        <a href="cataloging/beromuenster.html">Musikbibliothek des Stifts St. Michael Beromünster</a>
    </p>
</div>
