<h3>
    Weitere Projekte
</h3>
<p>
    Die Arbeitsstelle Schweiz des RISM lanciert und realisiert teilweise eigene Projekte gemeinsam mit diversen Partnerinstitutionen. Diese dienen der allgemeinen Verbreitung des musikalischen Kulturguts der Schweiz und sollen insbesondere die Musikwissenschaft als auch die musikalische Praxis zur Auseinandersetzung mit zum Teil vergessener Musik animieren. Dazu gehören Projekte mit der Fonoteca Nazionale Svizzera und der McGill University Montreal (<a href="/projects/informationspool.html">Informationspool</a>) sowie dem Freiburger Lehrstuhl für Musikwissenschaft (<a href="/projects/swiss-monasteries.html">Musik aus Schweizer Klöstern</a>).
</p>
