<h3>
    Publikationen
</h3>
<p>
    In unmittelbarer N&auml;he zur Katalogisierungsarbeit oder durch diese inspiriert entstehen nicht selten neue Erkenntnisse, welche die Mitarbeiter von RISM Schweiz in B&uuml;cher oder wissenschaftliche Artikel einfliessen lassen.
</p>
<p>
    RISM Schweiz bet&auml;tigt sich dar&uuml;ber hinaus als Verleger von online-Publikationen (RISM Digital Library; Historical Music Inventories). Darin werden Archivquellen (ohne musikalischer Notation), welche wichtige Einsichten in das Schweizerische Musikleben bieten, der &Ouml;ffentlichkeit zug&auml;nglich gemacht.
</p>
