<h3>
    Nachlass Adolf Reichel (1816-1896)
</h3>

<p>
    Der Nachlass des in Westpreussen (heute Polen) geborenen und in Bern gestorbenen Komponisten Adolf Reichel (1816-1896) wird in der Musikbibliothek der Hochschule der Künste Bern aufbewahrt. Der Nachlass beinhaltet Manuskripte, Drucke sowie musiktheoretische Schriften, unter anderem auch ein Werkverzeichnis des Komponisten selbst. Die Manuskripte sind als Autographe und Abschriften überliefert. Zu den Kopisten zählen Alexander, Ernst und Julie Reichel aber auch Hermann Heinemann und Fritz Röser. Unter den gedruckten musikalischen Quellen befinden sich Ausgaben der Verlagshäuser S. Richault (Paris), Haslinger (Wien), Peters (Leipzig), Breitkopf & Härtel (Leipzig) sowie Methfessel (Bern). 
</p>

<p>
    Reichels Oeuvre reicht von Stücken für Klavier solo und Kompositionen für Kammerensemble über Orchesterwerke bis hin zu groß besetzten Chorwerken. Letztere sind wohl in Zusammenhang mit seiner Tätigkeit als Leiter des Cäcilienvereins und der Berner Liedertafel anzusehen. Nach Aufenthalten in Wien, Bern und Brüssel liess sich Reichel 1844 als Klavierlehrer und Komponist in Paris nieder. Im Jahr 1867 siedelte er nach Bern über und bekleidete neben den oben genannten Ämtern auch die Stellen des Direktors der Musikgesellschaft und der Musikschule Bern. Zwei Jahre nach seinem Umzug erwarb Reichel in Oberburg (BE) das Schweizer Bürgerrecht.
</p>

<p>
    Die Erschliessung des Nachlasses von Adolf Reichel gehört zum Projekt Repertorium Schweizer Komponisten des 19. Jahrhunderts, welches zum Ziel hat, eine empfindliche Lücke im Bereich der Schweizer Musikdokumentation zu schliessen. Das Projekt wurde Ende Juli 2016 in Angriff genommen und wird voraussichtlich Anfang 2017 abgeschlossen.
</p>

   </p>
<p>
    Kontakt: <a href="/contact.html">Florence Sidler</a>
</p>
