<h3>
    Repertorium Schweizer Komponisten des 19. Jahrhunderts
</h3>
<p>
    Mit dem Projekt Repertorium Schweizer Komponisten des 19. Jahrhunderts setzt sich RISM-Schweiz zum Ziel, eine empfindliche L&uuml;cke im Bereich der Musikdokumentation der Schweiz zu schliessen. Am Anfang dieses Projektes standen folgende Feststellungen:
</p>
<ul>
    <li>Das 19. Jahrhundert ist f&uuml;r die musikalische Identit&auml;t der Schweizerischen Eidgenossenschaft von &uuml;berragender Bedeutung: Durch die liberale Revolution und die allm&auml;hliche Zur&uuml;ckdr&auml;ngung kunstfeindlicher Einfl&uuml;sse entwickelte sich in den meisten St&auml;dten und Kantonen ein reges Musikleben, w&auml;hrend durch die Gr&uuml;ndung der modernen Konf&ouml;deration im Jahre 1848 auch auf nationaler Ebene politische Strukturen geschaffen wurden, die es in einem zunehmenden Masse erlaubten, von einer spezifisch schweizerischen Musikkultur zu sprechen - die Gr&uuml;ndung des Schweizerischen Tonk&uuml;nstlervereins im Jahre 1900 war nur die logische Folge dieser schrittweisen Emanzipation eines zuvor eher nach Sprachgruppen getrennten Schweizer Musiklebens aus der Bindung an die jeweils benachbarten Kulturr&auml;ume.
    </li>
    <li>Die &uuml;beraus zahlreichen Quellen dieses Zeitraums sind bis anhin nur in minimalen Bruchst&uuml;cken nach wissenschaftlichen Kriterien dokumentiert.
    </li>
    <li>Es fehlt f&uuml;r alle schweizerischen Komponistinnen und Komponisten des 19. Jahrhunderts ein zuverl&auml;ssiger und heutigen wissenschaftlichen Anspr&uuml;chen gen&uuml;gender Nachweis des Werkbestands und der entsprechenden Quellen.
    </li>
</ul>
<p>
    Das Repertorium Schweizer Komponisten des 19. Jahrhunderts sieht eine vollst&auml;ndige Erfassung aller Kompositionen von 52 Komponistinnen und Komponisten vor. Die Auswahl fiel auf k&uuml;nstlerisch herausragende Pers&ouml;nlichkeiten, die im Besonderen auch f&uuml;r die Musikkultur des 19. Jahrhunderts als charakteristische Pers&ouml;nlichkeiten gelten k&ouml;nnen. Als weiteres Kriterium der Auswahl wurde ber&uuml;cksichtigt, ob die kompositorischen und anderen k&uuml;nstlerischen T&auml;tigkeiten schwerpunktm&auml;ssig in der Schweiz stattfanden. Erm&ouml;glicht wird dieses Unternehmen durch einen namhaften Beitrag aus dem Pr&auml;gegewinn der Gedenkm&uuml;nzen der Schweizerischen Eidgenossenschaft und der Kantone. Das Projekt Repertorium Schweizer Komponisten des 19. Jahrhundert wurde am 1. September 1998 in Angriff genommen.
</p>
<p>
    <a href="{{ site.search_url }}?utf8=✓&search_field=any_field&q=RepertoriumSchweiz&locale=de">Quellen</a>
</p>
