<h3>
    Repertorium Schweizer Komponisten des 19. Jahrhunderts
</h3>
<p>
    Mit dem Projekt Repertorium Schweizer Komponisten des 19. Jahrhunderts setzt sich RISM-Schweiz zum Ziel, eine empfindliche Lücke im Bereich der Musikdokumentation der Schweiz zu schliessen. Am Anfang dieses Projektes standen folgende Feststellungen:
</p>
<ul>
    <li>Das 19. Jahrhundert ist für die musikalische Identität der Schweizerischen Eidgenossenschaft von überragender Bedeutung: Durch die liberale Revolution und die allmähliche Zurückdrängung kunstfeindlicher Einflüsse entwickelte sich in den meisten Städten und Kantonen ein reges Musikleben, während durch die Gründung der modernen Konföderation im Jahre 1848 auch auf nationaler Ebene politische Strukturen geschaffen wurden, die es in einem zunehmenden Masse erlaubten, von einer spezifisch schweizerischen Musikkultur zu sprechen - die Gründung des Schweizerischen Tonkünstlervereins im Jahre 1900 war nur die logische Folge dieser schrittweisen Emanzipation eines zuvor eher nach Sprachgruppen getrennten Schweizer Musiklebens aus der Bindung an die jeweils benachbarten Kulturräume.
    </li>
    <li>Die überaus zahlreichen Quellen dieses Zeitraums sind bis anhin nur in minimalen Bruchstücken nach wissenschaftlichen Kriterien dokumentiert.
    </li>
    <li>Es fehlt für alle schweizerischen Komponistinnen und Komponisten des 19. Jahrhunderts ein zuverlässiger und heutigen wissenschaftlichen Ansprüchen genügender Nachweis des Werkbestands und der entsprechenden Quellen.
    </li>
</ul>
<p>
    Das Repertorium Schweizer Komponisten des 19. Jahrhunderts sieht eine vollständige Erfassung aller Kompositionen von 52 Komponistinnen und Komponisten vor. Die Auswahl fiel auf künstlerisch herausragende Persönlichkeiten, die im Besonderen auch für die Musikkultur des 19. Jahrhunderts als charakteristische Persönlichkeiten gelten können. Als weiteres Kriterium der Auswahl wurde berücksichtigt, ob die kompositorischen und anderen künstlerischen Tätigkeiten schwerpunktmässig in der Schweiz stattfanden. Ermöglicht wird dieses Unternehmen durch einen namhaften Beitrag aus dem Prägegewinn der Gedenkmünzen der Schweizerischen Eidgenossenschaft und der Kantone. Das Projekt Repertorium Schweizer Komponisten des 19. Jahrhundert wurde am 1. September 1998 in Angriff genommen.
</p>
    Kontakt: <a href="/contact.html">Cédric Güggi</a>
</p>
<p>
    <a href="{{ site.search_url }}?utf8=✓&search_field=any_field&q=RepertoriumSchweiz&locale=de">Quellen</a>
</p>
