<h3>
    Musikbibliothek der Benediktinerinnen-Abtei St. Andreas, Sarnen
</h3>
<p>
    Die Benediktinerinnen-Abtei St. Andreas in Sarnen besitzt eine der bedeutendsten historischen Musikbibliotheken der Schweiz. Bereits im Jahr 2003 haben die Mitarbeiter der RISM-Arbeitsstelle den gesamten Bestand gereinigt, geordnet und in den klostereigenen Kulturgüterschutzraum überführt. Auf dieser Basis unterbreitete RISM Schweiz dem Kloster eine Offerte zur Inventarisierung der musikalischen Bestände. Die Kosten konnten dank namhafter Beiträge der Artephila Stiftung, der Stiftung Reinle Suter Luzern, des Kantons Obwalden sowie des Klosters selbst abgedeckt werden.
</p>
<p>
    Die Finanzierung des Projekts war damit gesichert. Jedoch kurz vor Beginn der Inventarisierungsarbeiten machten die verheerenden Unwetter im August 2005 dem Vorhaben einen Strich durch die Rechnung. Das Hochwasser setzte den Kulturgüterschutzraum unter Wasser, wodurch die Quellen während 72 Stunden im Wasser lagen. Unter Mithilfe unzähliger freiwilliger Helferinnen und Helfern wurden die Musikalien geborgen, provisorisch gereinigt und zusammen mit den übrigen Beständen des Klosters tiefgefroren. 2006 nahm die Firma Docusave in Seftigen die Dehydrierung vor.
</p>
<p>
    Durch das unvorhergesehene Unglück mussten die Inventarisierungsarbeiten verschoben werden, da bei der Bergung der Quellen die bestehende Ordnung verloren ging und die oftmals mit Filzstiften angebrachten Signaturen ausgewaschen wurden. Die Neuordnung nahm ebenfalls ein Team aus Mitarbeitern von RISM Schweiz in der ersten Jahreshälfte 2007 vor. Dabei wurden in mehreren Arbeitsschritten die Drucke von den Manuskripten getrennt, in aufwendiger Kleinarbeit die teilweise losen Blätter den entsprechenden Werken zugeordnet und schliesslich jedes einzelne Blatt signiert und durchnummeriert sowie in provisorische Umschläge verpackt. Erst jetzt konnte die fällige Restaurierung des Kulturguts in Angriff genommen werden, wofür Andrea Giovannini als Leiter gewonnen werden konnte.
</p>
<p>
    Parallel zur Restaurierung konnte ab Herbst 2007 mit der Katalogisierung der Manuskripte und Drucke begonnen werden. Im Verlauf der Inventarisierungarbeiten kristallisierte sich immer mehr heraus, wie reichhaltig und vielfältig die Sarner Musikbibliothek ist. So weist sie etliche Querbezüge zu den Musiksammlungen der Klöster Einsiedeln und Engelberg sowie zum Chorherrenstift St. Michael in Beromünster auf. Neben ‚eigenen’ Werken des lange Zeit als Spiritual in Sarnen wirkenden Pater Wolfgang Iten aus Engelberg sowie vom bekannten Luzerner Stiftsorganisten Franz Joseph Leonti Meyer von Schauensee befinden sich auch etliche Abschriften bekannter europäischer Meister des 18. und 19. Jahrhunderts in der Bibliothek; so beispielsweise von Carl Philipp Emanuel und Johann Christian Bach, von Joseph Haydn und schliesslich von Giovanni Battista Sammartini und Andrea Bernasconi.
</p>
<p>
    Der musikalische Quellenbestand des Klosters St. Andreas Sarnen wird von <a href="http://www.hankeknaus.ch/home/" target="_blank"> Dr. Gabriella Hanke Knaus</a> nach den international geltenden wissenschaftlichen Erschliessungskriterien erschlossen und in der RISM-Datenbank erfasst.
</p>
    <h4>
        Auskunft
    </h4>
    <p>
    Sr. Rut-Maria Buschor<br/>
    Frauenkloster St. Andreas, Sarnen<br/>
    Brünigstrasse 157<br/>
    CH-6060 Sarnen<br/>
    Tel: +41 (0) 41 660 11 61<br/>
    E-mail: <a href="mailto:info@frauenkloster-sarnen.ch">info@frauenkloster-sarnen.ch</a>
</p>
<h4>
    Literatur</h4>
<p>Buschor, Sr. Rut-Maria: Verborgene Juwelen der Musikwelt, in: Musik und Liturgie 4/10, hrsg. vom Schweizerischen Katholischen Kirchenmusikverband SKMV, Juli 2010, Gossau
</p>
