<h3>
    Musikbibliothek der Benediktinerinnen-Abtei St. Andreas, Sarnen
</h3>
<p>
    Die Benediktinerinnen-Abtei St. Andreas in Sarnen besitzt eine der bedeutendsten histori-schen Musikbibliotheken der Schweiz. Bereits im Jahr 2003 haben die Mitarbeiter der RISM-Arbeitsstelle den gesamten Bestand gereinigt, geordnet und in den klostereigenen Kulturg&uuml;-terschutzraum &uuml;berf&uuml;hrt. Auf dieser Basis unterbreitete RISM Schweiz dem Kloster eine Of-ferte zur Inventarisierung der musikalischen Best&auml;nde. Die Kosten konnten dank namhafter Beitr&auml;ge der Artephila Stiftung, der Stiftung Reinle Suter Luzern, des Kantons Obwalden so-wie des Klosters selbst abgedeckt werden.
</p>
<p>
    Die Finanzierung des Projekts war damit gesichert. Jedoch kurz vor Beginn der Inventarisie-rungsarbeiten machten die verheerenden Unwetter im August 2005 dem Vorhaben einen Strich durch die Rechnung. Das Hochwasser setzte den Kulturg&uuml;terschutzraum unter Was-ser, wodurch die Quellen w&auml;hrend 72 Stunden im Wasser lagen. Unter Mithilfe unz&auml;hliger freiwilliger Helferinnen und Helfern wurden die Musikalien geborgen, provisorisch gereinigt und zusammen mit den &uuml;brigen Best&auml;nden des Klosters tiefgefroren. 2006 nahm die Firma Docusave in Seftigen die Dehydrierung vor.
</p>
<p>
    Durch das unvorhergesehene Ungl&uuml;ck mussten die Inventarisierungsarbeiten verschoben werden, da bei der Bergung der Quellen die bestehende Ordnung verloren ging und die oft-mals mit Filzstiften angebrachten Signaturen ausgewaschen wurden. Die Neuordnung nahm ebenfalls ein Team aus Mitarbeitern von RISM Schweiz in der ersten Jahresh&auml;lfte 2007 vor. Dabei wurden in mehreren Arbeitsschritten die Drucke von den Manuskripten getrennt, in aufwendiger Kleinarbeit die teilweise losen Bl&auml;tter den entsprechenden Werken zugeordnet und schliesslich jedes einzelne Blatt signiert und durchnummeriert sowie in provisorische Umschl&auml;ge verpackt. Erst jetzt konnte die f&auml;llige Restaurierung des Kulturguts in Angriff ge-nommen werden, wof&uuml;r Andrea Giovannini als Leiter gewonnen werden konnte.
</p>
<p>
    Parallel zur Restaurierung konnte ab Herbst 2007 mit der Katalogisierung der Manuskripte und Drucke begonnen werden. Im Verlauf der Inventarisierungarbeiten kristallisierte sich immer mehr heraus, wie reichhaltig und vielf&auml;ltig die Sarner Musikbibliothek ist. So weist sie etliche Querbez&uuml;ge zu den Musiksammlungen der Kl&ouml;ster Einsiedeln und Engelberg sowie zum Chorherrenstift St. Michael in Berom&uuml;nster auf. Neben &sbquo;eigenen&rsquo; Werken des lange Zeit als Spiritual in Sarnen wirkenden Pater Wolfgang Iten aus Engelberg sowie vom bekannten Luzerner Stiftsorganisten Franz Joseph Leonti Meyer von Schauensee befinden sich auch etliche Abschriften bekannter europ&auml;ischer Meister des 18. und 19. Jahrhunderts in der Bib-liothek; so beispielsweise von Carl Philipp Emanuel und Johann Christian Bach, von Joseph Haydn und schliesslich von Giovanni Battista Sammartini und Andrea Bernasconi.
</p>
<p>
    Der musikalische Quellenbestand des Klosters St. Andreas Sarnen wird von Frau Dr. Gabri-ella Hanke Knaus nach den international geltenden wissenschaftlichen Erschliessungskrite-rien erschlossen und in der RISM-Datenbank erfasst.
</p>
<p>
    Literatur: Buschor, Sr. Rut-Maria: Verborgene Juwelen der Musikwelt, in: Musik und Liturgie 4/10, hrsg. vom Schweizerischen Katholischen Kirchenmusikverband SKMV, Juli 2010, Gossau
</p>
