<h3>
    Komponistennachlässe der Schweizerischen Nationalbibliothek
</h3>
<p>
    Die Arbeitsstelle Schweiz des RISM hat 2001 die Betreuung des historischen Musikbestandes der Schweizerischen Nationalbibliothek (NB) übernommen. 2006 wurden die Aufgaben auf die Inventarisierung der Archivalien erweitert. Seit diesem Zeitpunkt erfasst RISM Schweiz einerseits die gesamten Komponistennachlässe, die durch das <a href="http://www.nb.admin.ch/org/organisation/00783/index.html?lang=de" target="_blank">Schweizerische Literaturarchiv (SLA)</a> in Form von Inventaren publiziert werden, und erschliesst andererseits die musikalischen Dokumente aus diesen Beständen in der RISM-Datenbank. Die Erschliessung erfolgt nach einem Arbeitsplan, der mit der NB vereinbart und im Rahmen einer Offerte realisiert wird. Zurzeit liegen die Schwerpunkte auf der Katalogisierung der geschlossenen <a href="http://www.nb.admin.ch/sammlungen/spezialsammlungen/00652/01080/index.html?lang=de" target="_blank">Bestände</a>, die sich in der Obhut des Schweizerischen Literatur Archivs (SLA) befinden.
</p>
<p>
    Dazu kommen zahlreiche Drucke, die ca. in der Mitte des 20. Jahrhunderts aus den jeweiligen Sammlungen, in welchen sie ursprünglich an die NB übergeben wurden, entfernt und in den allgemeinen Bestand überführt worden waren. Sowohl die Bibliothek als auch RISM Schweiz erachteten es als notwendig, die Bestände in ihre ursprüngliche Form zurückzuversetzen, um sie in ihrer Gesamtheit wieder sichtbar zu machen.
</p>
<p>
    Neben der Erstellung von Inventaren und der Erschliessung sämtlicher musikalischer Quellen in die RISM-Datenbank übernimmt die Arbeitsstelle auch die Bearbeitung von Anfragen zu den Musiksammlungen der NB selbst. Insbesondere die Sammlung Josef Liebeskind, die bedeutende Quellen von Christoph Willibald Gluck und Karl Ditters von Dittersdorf enthält, wird regelmässig konsultiert.
</p>
<p>
    <a href="http://www.nb.admin.ch/dienstleistungen/benutzung/index.html?lang=de" target="_blank">Benutzung der Sammlung der Schweizerischen Nationalbibliothek</a>: die Arbeitsstelle Schweiz des RISM bittet um Verständnis dafür, dass Anfragen zu den in Bearbeitung befindlichen Dokumenten nur in begrenztem Umfang beantwortet werden können.
</p>
