---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/**
 * Following values were copied from the ./app/assets/stylesheets/variables.scss of Muscat
 */

$rismColor: #8C1515;
$darkRismColor: darken($rismColor, 10%);

$gray100: #000000;
$gray95: #0E0D0B;
$gray90: #1D1B17;
$gray85: #2C2823;
$gray80: #3A362F;
$gray75: #49443B;
$gray70: #585147;
$gray65: #665F53;
$gray60: #756C5F;
$gray55: #847A6B;
$gray50: #938877;
$gray45: #9D9384;
$gray40: #A89F92;
$gray35: #B3AB9F;
$gray30: #BEB7AD;
$gray25: #C9C3BB;
$gray20: #D3CFC8;
$gray15: #DEDBD6;
$gray10: #E9E7E3;
$gray5: #F4F3F1;
$gray0: #FFFFFF;

$brand-primary: $rismColor;
$navbar-inverse-bg: $gray90;
$navbar-inverse-border: $gray100;
$navbar-default-border: $gray15;
$panel-default-heading-bg: $gray5;
$navbar-default-link-hover-bg: $gray10;
$navbar-default-link-color: $gray0;
$navbar-default-link-active-color: $gray75;
$navbar-default-link-active-bg: $gray10;

$brandbar-height: 50px;
$footer-height: 60px;

$link-color: $rismColor;

/**
 * End of copied values
 */

.list-group > a.active {
    color: $gray90;
    background-color: $gray15;
    border-color: $gray25;
}

.list-group > a.active:hover {
    color: $gray90;
    background-color: $gray15;
    border-color: $gray25;
}

.sublist-group a {
    padding: 6px 15px 6px 35px;
    margin: 0px 5px;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px dotted $gray50;
    radius: 0px;
    text-decoration: none;
    background: url(/images/rism_ch/index-mark.png) no-repeat;
    background-position: left center;
}

.sublist-group > .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sublist-group > a.active {
    color: $rismColor;
    border-bottom: 1px dotted $gray50;
    background: url(/images/rism_ch/index-mark-c.png) no-repeat;
    background-position: left center;
}

.sublist-group > a:hover {
    color: $rismColor;
    border-bottom: 1px dotted $gray50;
    background-color: transparent;
}

.sublist-group > a.active:hover {
    color: $rismColor;
    border-bottom: 1px dotted $gray50;
    background-color: transparent;
}

div.secondary_links {
    p {
        padding: 0;
        margin: 0;
    }
    a {
        padding: 5px 0px;
        margin-left: 5px;
        padding-left: 35px;
        display: block;
        background: url(/images/rism_ch/index-mark.png) no-repeat;
        background-position: left center;
    }
}

/** For the content **/
#content {
    h3 {
        margin-bottom: 25px;
    }
    h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    table.about_us tr {
        border-bottom: 1px solid $gray35;
        td {
            padding: 20px 0px;
        }
        td:not(:first-child) {
            padding-left: 10px; 
        }
    }
    table.about_us tr:last-child {
        border-bottom: transparent;
    }
    div.home-logo {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    p.news-more {
        font-style: italic;
        margin-top: -10px;
    }
    div.news {
        padding-bottom: 10px;
    }
    div.news:not(:last-child) {
        border-bottom: 1px solid $gray15;
    }
}

/** Links and finding aids **/
table.links {
    margin-bottom: 30px;
}

table.finding-aid-nav {
    margin-bottom: 10px;
}
table.finding-aid-nav-bottom {
    margin-top: 20px;
    margin-bottom: 40px;
}
table.finding-aid {
    td.letter {
        padding: 12px 0px 6px 0px;
    }
    td.link {
        width: 400px;
    }
}

/** FAQ **/

p.faq {
    color: $link-color;
    text-decoration: underline;
}

div.faq-answer {
    display: none;
}

/** For translations **/
.lang {
    display: none;
}

/** For the carousel **/
.carousel img {
    border: 1px solid #ddd;
}

// Fixing strange blinking text in Safari
.carousel-inner {
  -webkit-transform-style: preserve-3d;
}

.separator {
    border-top: 4px solid $gray15;
    margin-top: 20px;
    padding-top: 25px;
}

h3.news {
    border-top: 5px solid $gray15;
    margin-top: 20px;
    padding-top: 20px;
}

/**
 *
 */

#main-container {
    padding-top: 15px;
}
