---
layout: default
search: true
active_section: projects
active: projects/psmd
lang: de
---

<div class="lang en">
    {% include en/psmd.html %}
</div>
<div class="lang de">
    {% include de/psmd.html %}    
</div>
<div class="lang fr">
    {% include fr/psmd.html %}
</div>
<div class="lang it">
    {% include it/psmd.html %}
</div>

<div style="width: 150px; float: left; margin: 0px 30px 10px 0px;">
    <a href="http://www.printed-sacred-music.org" target="_blank"><img src="/images/rism_ch/psmd.png"></a>
</div>