<h3>
    Associazione
</h3>
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <p>
            L’Associazione Ufficio RISM-Svizzera è aperta a tutte le persone e istituzioni interessate che sono pertanto benvenute. I membri godono di servizi gratuiti di informazione per quanto riguarda i fondi musicali storici siti in Svizzera. Inoltre RISM-Svizzera organizza sporadicamente eventi culturali quali concerti, produzioni di CD o presentazioni di cataloghi. A tutte queste manifestazioni i membri sono invitati. L’assemblea annuale dell’associazione ha lo scopo di informare i membri sull’esercizio dell’anno in corso e sull’elezione del consiglio d’amministrazione. Tale occasione è accompagnata da una parte culturale che vuole agevolare lo scambio di informazioni e approfondire i contatti tra i soci.
        </p>
        <h4>
            Tassa di adesione
        </h4>
        <ul>
            <li>Socio min. CHF 50.--
            </li>
            <li>Istituto / Persona giuridica min. CHF 100.--
            </li>
            <li>Socio sostenitore min. CHF 500.--
            </li>
        </ul><br>
    </div>
    <div class="col-sm-4 col-xs-12">
        <p>
            <strong>PDFs</strong>
        </p>
        <p>
            Statuti dell'Associazione <a href="http://docs.rism-ch.org/Statuten_DEUTSCH.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/STATUTS_FRAN.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2005 <a href="http://docs.rism-ch.org/Jahresbericht_2005.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Rapportannuel_2005.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2006 <a href="http://docs.rism-ch.org/Jahresbericht_2006.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Rapportannuel_2006.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2007 <a href="http://docs.rism-ch.org/Jahresbericht_2007.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Rapportannuel_2007.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2008 <a href="http://docs.rism-ch.org/Jahresbericht_2008.pdf" target="_blank">DE</a> /<a href="http://docs.rism-ch.org/Rapport_annuel_2008.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2009 <a href="http://docs.rism-ch.org/Jahresbericht-2009-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2009-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2010 <a href="http://docs.rism-ch.org/Jahresbericht-2010-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2010-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2011 <a href="http://docs.rism-ch.org/Jahresbericht-2011-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2011-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2012 <a href="http://docs.rism-ch.org/Jahresbericht-2012-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2012-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2013 <a href="http://docs.rism-ch.org/Jahresbericht-2013-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2013-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Relazione annuale 2014 <a href="http://docs.rism-ch.org/Jahresbericht-2014-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2014-f-web.pdf" target="_blank">FR</a>
        </p>
    </div>
</div>
