<h3>
    Collezione del Monastero di Montorge
</h3>

<p>
    La collezione musicale del monastero di Montorge è stata trasferita alla Biblioteca universitaria e cantonale di Friburgo dall'Istituto di Musicologia dell'Università di Friburgo nel 2016. La collezione riflette da un lato il repertorio musicale spirituale e liturgico delle suore cappuccine del XVIII e XIX secolo e, dall'altro, rivela diversi legami con le collezioni musicali dei monasteri di Einsiedeln e Beromünster e con l'abbazia femminile di Sant'Andrea di Sarnen. Gran parte della collezione musicale di Montorge è composta da manoscritti. Tuttavia, ci sono anche alcuni documenti stampati. Oltre ai brani destinati alla liturgia delle ore, ci sono fonti per l'ordinario e il proprio della Messa. I compositori provengono principalmente dall'Italia o dalla Germania meridionale. Tuttavia, per una parte significativa dei manoscritti il compositore non ha potuto essere identificato.
   </p>
<p>
    Contatto: <a href="/contact.html">Florence Sidler</a>
</p>
