<h3>
    Catalogazione nell'archivio musicale della BCU Lausanne
</h3>

<p>
    All'interno della collaborazione con l'archivio musicale della BCU Lausanne, RISM Schweiz catalogherà i fondi Henri Plumhof (1836-1914), Paul Juon (1872-1940), Louis Piantoni (1885-1958) e Raffaele d’Alessandro (1911-1959). 
</p>

<p>
    Per i fondi Plumhof e Juon si tratta di un'estensione e una verifica di documenti già catalogati in precedenza. Il fondo Plumhof comprende, accanto ad alcune opere strumentali, numerose composizioni corali, da mettere verosimilmente in relazione con la sua fervente attività come  direttore di vari cori a Vevey e a Losanna. Plumhof ha dato un contributo sostanziale allo sviluppo del canto corale nella Svizzera francese. Il compositore svizzero di origine russa Paul Juon invece è stato prevalentemente attivo a Berlino. Soltanto nel 1934 con l'avvento del nazismo si è trasferito da Berlino a Vevey. Juon ha scritto, accanto a musica strumentale e vocale, numerose opere di teoria come l'Aufgabenbuch für den einfachen Kontrapunkt (1910) e il Handbuch für Harmonie (1919).
</p>

<p>
    La catalogazione del lascito parziale di Piantoni è complementare al fondo presente nella Biblioteca nazionale e già catalogato da RISM Svizzera nel 2011. Il lascito del compositore ginevrino, secondo il suo desiderio, è stato suddiviso nel 1976 dalla moglie Paulette Piantoni-Chatron tra la Biblioteca nazionale a Berna e la BCU Lausanne e consegnato alle due biblioteche. L'opera di Piantoni comprende composizioni per pianoforte e per organo, Lieder, musica cameristica, corale e orchestrale. Il suo stile musicale è influenzato dai compositori francesi.
</p>

<p>
    Raffaele d'Alessandro è probabilmente il più noto dei quattro compositori. La BCU Lausanne possiede soltanto poche fonti musicali, in gran parte riproduzioni dei suoi autografi. Anche la catalogazione di questi documenti è complementare rispetto al lascito nella Biblioteca nazionale, già catalogato nel 2011 in occasione del centenario della nascita del compositore. La sua opera comprende tutti i generi musicali, da composizioni cameristiche e orchestrali fino a composizioni per il teatro e colonne sonore per film.
</p>
    Contatto: <a href="/contact.html">Florence Sidler</a>
</p>

