<h3>
    Catalogazione
</h3>
<p>
    L&rsquo;Ufficio RISM-Svizzera ha lo scopo di catalogare il maggior numero di fonti musicali dei secoli passati site in Svizzera e di metterle a disposizione del pubblico. Tale iniziativa &egrave; organizzata sulla base di progetti specifici. In differenti progetti, definiti quanto a durata e contenuto, vengono visionate le fonti che poi, ove necessario, vengono inserite in materiali di custodia privi di acidi e infine registrati nella banca dati del RISM.
</p>
<p>
    RISM offre questi servizi a pagamento. I progetti vengono elaborati e realizzati in collaborazione con le istituzioni proprietarie delle fonti (biblioteche, archivi e monasteri).
</p>
