<h3>
    From Bologna to Beromünster – Cazzati: Messa e Salmi, op. 36
</h3>


<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/cd_cazzati.jpg">
</div>

<p>
    La biblioteca musicale della Collegiata di Beromünster (CH-BM) ospita il Bonus Ordo Musicus, un inventario manoscritto del 1696 che descrive una collezione musicale dell’epoca che è oggi in gran parte perduta. In un progetto precedente, <a href="http://inventories.rism-ch.org/" target="_blank">Historical Music Inventories 1500-1800</a>, RISM Svizzera ha digitalizzato, indicizzato e pubblicato online questo e altri inventari. L’inventario riporta un esemplare dell’edizione stampata della Messa e Salmi, op. 36, di Maurizio Cazzati (1616-1678), che come maestro di cappella della Basilica di San Petronio a Bologna ricopriva all’epoca una posizione importante all’interno della vita musicale della città.
</p>
<p>
    In occasione del XX anniversario dell’Associazione RISM Svizzera – e del 400° anniversario di Cazzati – RISM Svizzera ha avuto l’opportunità di produrre un CD di quest’opera in collaborazione con l’etichetta musicale <a href="http://www.claves.ch/collections/all-albums/products/from-bologna-to-beromunster-maurizio-cazzati-mass-psalms-op-36" target="_blank">Claves Records</a> e l’ensemble di Basilea <a href="http://www.voces-suaves.ch/" target="_blank">Voces Suaves</a>. Il personale RISM ha svolto un ruolo di consulenza durante la registrazione del CD e ha anche scritto testi per il libretto. Inoltre, ha assunto alcuni compiti organizzativi e amministrativi e l’Associazione ha anche contribuito finanziariamente al progetto. Il CD è stato pubblicato il 4 marzo 2016 ed è disponibile nei negozi e da scaricare on-line.
</p>

{% include common/cd-cazzati-dlinks.html %}

<h4>
    Links
</h4>
<ul>
    <li>
        <a href="http://docs.rism-ch.org/press/CD_1605_booklet.pdf" target="_blank">Libretto del CD da scaricare (PDF)</a>
    </li>
</ul>

<h4>
    Articoli della stampa
</h4>

{% include common/cd-cazzati-press.html %}