<h3>
    Il Pasto Fido – Luca Marenzio
</h3>


<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/cd_marenzio.jpg">
    <p align="center">
        <a href="http://docs.rism-ch.org/press/CD_1814_booklet.pdf" target="_blank">Libretto del CD da scaricare (PDF)</a>
    </p>
    {% include common/cd-marenzio-awards.html %}
</div>

<p>
        Nell'archivio del comune svizzero di Zuoz, in Engadina, è conservato un libro musicale molto prezioso. Con il sostegno di RISM Svizzera, il direttore Francesco Saverio Pedrini e il suo ensemble <a href="https://www.lapedrina.ch/">La Pedrina</a> hanno scelto di registrare una selezione di questa collezione per l'etichetta <a href="https://www.claves.ch/collections/rarities/products/luca-marenzio-il-pastor-fido">Claves</a>. La scelta è caduta sui madrigali del compositore rinascimentale italiano Luca Marenzio. La registrazione è stata scientificamente accompagnata dal <a href="http://www.marenzio.org/">Progetto Marenzio</a>, con sede negli Stati Uniti. Il <a href="https://www.claves.ch/collections/rarities/products/luca-marenzio-il-pastor-fido">CD</a> contiene tutte le composizioni musicali di Marenzio su testi della commedia pastorale Il pastor fido di Battista Guarini. 
</p>
<p>
    La collezione di Zuoz è composta da salmi in francese da un lato e da madrigali rinascimentali italiani di Claudio Monteverdi (1567-1643) e Luca Marenzio (1554-1599) dall'altro. Balthasar Planta (1685-1764) di Zuoz acquistò questa collezione nel 1707 durante il servizio militare ad Amsterdam. L'origine delle singole stampe è concentrata nel nord Europa, tra cui Haarlem, Amsterdam e Anversa. Tra queste, spicca una raccolta stampata e pubblicata ad Anversa nel 1632 dagli eredi di Pierre Phalèse (1510-1573) con madrigali in cinque parti di Marenzio. Questa edizione ha un duplice valore. In primo luogo, Phalèse ha aggiunto un basso continuo alle composizioni puramente vocali di Marenzios; in secondo luogo, la collezione di Zuoz è l'unica copia di questa edizione attualmente conosciuta. La presenza di un gruppo di basso continuo, come previsto nella fonte del 1632, rende il progetto unico nel suo genere. Il CD è disponibile dal luglio 2018.
</p>

{% include common/cd-marenzio-dlinks.html %}

<h4>
    Articoli della stampa
</h4>

{% include common/cd-marenzio-press.html %}