<h3>
    RISM Digital Library
</h3>

<p>La serie 'RISM Digital Library' (d-lib) riunisce la pubblicazione di documenti d'archivio di interesse per la storia della musica in Svizzera. Data la particolare natura di questi documenti, una pubblicazione online presenta vantaggi decisivi rispetto a una tradizionale pubblicazione cartacea.

I documenti raccolti in questa serie (programmi di concerto, corrispondenza, protocolli di riunioni societarie) sono testi in sé disorganici ma generalmente uniti da una continuità istituzionale. Questa struttura rende una pubblicazione tradizionale su carta poco adeguata, in facsimile o sotto forma di trascrizione. Una pubblicazione digitale si rivela il modo più efficace per mettere in risalto sia i documenti stessi che la ricerca ad essi collegata.</p>
<p>
    Le pubblicazioni sono organizzate su tre punti:</p>
<ul>
    <li>la scansione dei documenti e la pubblicazione delle immagini</li>
    <li>la trascrizione dei documenti e il collegamento della trascrizione con le relative immagini</li>
    <li>l'indicizzazione del contenuto (persone, date, ecc.)</li>
</ul>
<p>
     Questa organizzazione, che collega l'immagine del documento scansionato, la sua trascrizione e vari indici, è un tipo di pubblicazione originale e in sé compiuto. Il suo interesse è che funziona al contempo come un'edizione in facsimile del documento, come una sua trascrizione e come un database. I tre aspetti sono uniti senza dover fare la difficile scelta di adottare uno solo di questi approcci.
</p>
<p>
    Un codice ISSN permette di fare riferimento facilmente alla serie, mentre ciascun volume della collana è individuato da un indirizzo permanente (<a href="http://purl.org" target="_blank">purl.org</a>). La serie è organizzata in modo tale che altre edizioni di documenti rilevanti per la storia della musica in Svizzera in età moderna vi possono essere integrati facilmente. Trascrizione e indicizzazione utilizzano lo standard TEI (<a href="http://www.tei-c.org" target="_blank">Text Encoding Initiative</a>).
</p>
<h4>
    Volumi pubblicati
</h4>
<p>

<p>
    <a href="http://d-lib.rism-ch.org/onstage">OnStage</a>
</p>
<p>
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">Kapellmeisterbuch</a>
</p>
<p>RISM digital library (d-lib), ISSN 2297-573X</p>
