<h3>
   Digital Music Unica in Switzerland (D-MUS)
</h3>
<p>
    Il progetto mira a fornire accesso pubblico a fonti musicali uniche custodite in biblioteche e archivi pubblici o privati di piccole dimensioni in Svizzera. Queste fonti, di grande interesse per ricercatori e musicisti, sono digitalizzate e pubblicate nel catalogo RISM
</p>
<p>
    I manoscritti sono per definizione unici, anche se esistono diverse copie manoscritte o edizioni a stampa della stessa composizione. Tuttavia, le fonti manoscritte sono particolarmente preziose se sono scritte nella mano del compositore stesso. I manoscritti autografi possono rivelare dettagli persi nelle copie successive, dare informazioni sul processo di composizione, o mostrare tracce del loro primo utilizzo, ossia delle prime esecuzioni delle opere trasmesse. Fornire campioni di grafia dei compositori può essere di aiuto nel confrontare e identificare gli scribi di altri manoscritti. Per la digitalizzazione sono state considerate solo le partiture autografe complete di opere di dominio pubblico, secondo il diritto svizzero. Ad oggi, ci sono circa 3'500 manoscritti di 174 compositori presenti in 23 biblioteche conformi a questi criteri nel database RISM. Di questi titoli, una selezione di circa 500 titoli sarà digitalizzata e pubblicata online.
</p>
<p>
   Le fonti stampate possono essere uniche se la copia conservata è l'unica copia sopravvissuta di quell'edizione o tiratura. Particolarmente interessanti per il pubblico sono le copie uniche delle prime edizioni conservate di un'opera musicale. Tuttavia, per il ricercatore anche copie uniche di ristampe possono fornire preziose informazioni, nel caso di adattamenti o modifiche nel testo musicale, o anche solo come testimonianza della popolarità duratura di un'opera. In Svizzera sono conservate circa 1600 copie uniche di stampe musicali in 40 diversi luoghi. Lo scopo del progetto è digitalizzare e pubblicarle tutte online. 
</p>
<p>
    Il progetto è iniziato con una fase pilota nel 2017 (comprendente fonti della Biblioteca nazionale di Berna e la biblioteca della Hochschule der Künste Bern). È programmato il suo completamento entro il 2020.
</p>

   </p>
    Contatto: <a href="/contact.html">Claudio Bacciagaluppi</a>
</p>
