<h3>
    Compositori svizzeri dell'Ottocento nella biblioteca del convento di Einsiedeln
</h3>
<p>
    Il progetto Compositori svizzeri dell'Ottocento nella biblioteca musicale del convento di Einsiedeln è stato sviluppato da RISM-Svizzera nell'ambito dei lavori relativi al <a href="/cataloging/repertorium">Repertorio dei compositori svizzeri dell'Ottocento</a> presso la biblioteca musicale del <a href="http://www.kloster-einsiedeln.ch/" target="_blank">convento di Einsiedeln</a>. Questo progetto, iniziato il 1. luglio 2000, è stato terminato nella primavera del 2007. Sono stati catalogati complessivamente 6472 documenti: 1688 manoscritti e 4784 stampe.
</p>
<div style="display: block;">
    <p>
        Numerosi documenti di compositori appartenenti al Repertorio dei compositori svizzeri dell'Ottocento sono conservati in questa biblioteca. La biblioteca musicale del convento di Einsiedeln e il suo responsabile, P. Lukas Helg, avevano espresso l'esigenza di documentare esaurientemente i compositori svizzeri dell'Ottocento presenti nella biblioteca e di effettuare i relativi inventari in collaborazione con RISM-Svizzera. L'importanza della biblioteca musicale del convento di Einsiedeln per la storia della musica nella Svizzera ottocentesca è dimostrata anche dal fatto che accanto ai documenti presi in considerazione dal Repertorio dei compositori svizzeri dell'Ottocento vi si trovano all'incirca altri 3000 manoscritti e stampe di compositori ottocenteschi svizzeri. Ciò giustifica la volontà di una completa documentazione e inventarizzazione.
    </p>
    <p>
        Per la realizzazione pratica di questo progetto, P. Lukas Helg ha dato la propria disponibilità a lavorare con il programma PIKaDo del RISM; in questo modo l'Ufficio svizzero del RISM ha potuto costituire nella biblioteca musicale del convento di Einsiedeln una "succursale". Questo progetto è stato interamente finanziato dal convento di Einsiedeln che ha beneficiato di un significativo contributo della <a href="http://www.ubs.com/global/it/about_ubs/stiftungen.html" target="_blank">Fondazione UBS per la cultura</a>.
    </p>
    <h4>
        Contatti
    </h4>
    <p>
        P. Lukas Helg OSB<br>
        Kloster<br>
        CH-8840 Einsiedeln<br>
        Tel: +41(0) 55 418 65 49<br>
        Fax: +41(0) 55 418 61 12<br>
        e-mail: <a href="mailto:lukas.helg@bluewin.ch">lukas.helg@bluewin.ch</a>
    </p>
</div>
