<h3>
    FAQ
</h3>
<p>
    Un importante obiettivo del RISM Svizzera è che il suo database di fonti musicali venga utilizzato sempre di più dai musicisti, oltre che dalla ricerca musicologica. Infatti, il database contiene una serie di fonti musicali emozionanti che esulano dal repertorio concertistico standard, che aspettano solo di essere eseguite. Spesso si tratta di composizioni legate a una realtà locale. Perché non eseguire una composizione scritta esplicitamente per un particolare luogo? Alle domande comune si trova risposta nelle seguenti FAQ.
</p>

<p class="faq">
    L'accesso alla banca dati RISM è libero?
</p>
<div class="faq-answer">
    <p>
        La banca dati di RISM Svizzera viene fornita gratuitamente, e non è richiesto un login per cercare le fonti. Possono però insorgere dei costi da parte delle biblioteche, in particolare se si richiedono copie delle fonti.
    </p>
</div>
<p class="faq">
    Dove sono le fonti presenti nel database?
</p>
<div class="faq-answer">
    <p>
        RISM Svizzera non è in possesso delle fonti musicali. Queste si trovano all'interno di varie istituzioni. Si prega di contattare la biblioteca corrispondente e prendere un appuntamento. I recapiti si possono trovare sotto la rubrica "sigla della biblioteca".
    </p>
</div>
<p class="faq">
    Dove posso ottenere copie delle fonti?
</p>
<div class="faq-answer">
    <p>
        La maggior parte delle biblioteche accetta richieste di copie delle fonti. Si prega di verificare questa possibilità direttamente con le relative istituzioni e notare che la riproduzione potrebbe essere a pagamento. Inoltre, specialmente nel caso di esecuzioni pubbliche, è necessario accertarsi della situazione dei diritti d'autore sulle rispettive composizioni.
    </p>
</div>
<p class="faq">
    E' possibile scaricare copie digitali delle fonti?
</p>
<div class="faq-answer">
    <p>
        Alcune fonti vengono digitalizzate e pubblicate online da RISM Svizzera nell'ambito di specifici progetti. In parte, queste immagini possono essere anche scaricate. Non è però compito del RISM la digitalizzazione di tutte le fonti.
    </p>
</div>
<p class="faq">
    Che tipi di materiale sono compresi tra le fonti?
</p>
<div class="faq-answer">
    <p>
        RISM Svizzera cataloga ogni tipo di materiale musicale. Nella maggior parte dei casi, si tratta di manoscritti (Manuscript) e stampe (Print); tra i manoscritti si distinguono ulteriormente gli autografi (Autograph) e gli autografi discutibili (Probably autograph) dalle copie (Manuscript). La designazione appropriata si trova sotto la voce Descrizione fisica / Categoria di fonte.
    </p>
</div>
<p class="faq">
    Che repertorio è incluso nella banca dati RISM?
</p>
<div class="faq-answer">
    <p>
        Il database contiene un vasto repertorio di musica. La gamma si estende nell'organico da brani per strumento solo a composizioni orchestrali di grandi dimensioni, e comprende opere dal 15. al 20. secolo. In termini di generi, la banca dati copre un ampio spettro; la musica sacra ha un ruolo particolarmente rilevante.
    </p>
    <p>
        Come sono organizzate le schede di catalogo nel database RISM?
    </p>
    <p>
        Il database contiene schede singole (fonti che contengono una sola composizione musicale), ma anche miscellanee (Convolutum) e raccolte (Collection). Una raccolta comprende diverse opere singole, una miscellanea comprende una raccolta e un'altra raccolta e/o altre opere singole. Il database è strutturato in un ordine gerarchico, in cui tutti i titoli di livello più alto (miscellanea e/o raccolta) sono collegati con le singole voci al loro interno, e viceversa.
    </p>
</div>
<p class="faq">
    Le biblioteche sono sempre in possesso dell'intero materiale esecutivo?
</p>
<div class="faq-answer">
    <p>
        Questo non è sempre il caso. E' opportuno controllare nelle schede del database se il materiale della fonte è integro, in particolare se mancano parti staccate. Il relativo riferimento ("Incomplete material") si trova sotto la voce Note. In questi casi, di solito si trova una descrizione più accurata delle parti mancanti sotto la voce Descrizione fisica / Parti staccate mancanti. Si osservi anche la presenza di termini come "missing" o "incpl" nella Descrizione fisica.
    </p>
</div>
<p class="faq">
    Esistono filtri di ricerca specifici per i miei progetti?
</p>
<div class="faq-answer">
    <p>
        Nel database RISM può essere raggiunto un buon risultato sia attraverso la ricerca avanzata, che attraverso la ricerca libera (Ricerca rapida). Vi è anche la possibilità di effettuare una ricerca sfogliando i diversi indici (Ricerca per indici). Il risultato di una ricerca può essere precisato attraverso una serie di filtri. Si possono così cercare, tra l'altro, generi (ad es. Symphonies), lingue (ad es. roh = romancio), biblioteche (ad es. CH-E = Einsiedeln, biblioteca del monastero), autori di testi (ad es. Staub, Joseph), e naturalmente parole chiave generiche (ad esempio, Sängerverein).
    </p>
    <p>
        Un progetto speciale che RISM Svizzera conduce da diverso tempo è il <a href="/cataloging/repertorium.html">"Repertorio dei compositori svizzeri del 19. secolo"</a>. Se si desidera cercare fonti comprese in questo progetto, è possibile inserire come parola-chiave RepertoriumSchweiz.
    </p>
</div>
<!--
<p class="faq">
    Posso anche cercare un tema musicale?
</p>
<div class="faq-answer">
    <p>
        Questo è possibile. La ricerca per tema (Incipit) è utile soprattutto per trovare più fonti per lo stesso brano. Anche per l'identificazione di opere di cui si conosce, per esempio, solo il tema principale, la ricerca per incipit può produrre buoni risultati. All'<a href="http://www.rism-ch.org/pages/help">indirizzo seguente</a> si trova una guida alla ricerca per incipit.
    </p>
</div>
-->
<p class="faq">
    Chi posso contattare se ho dei dubbi?
</p>
<div class="faq-answer">
    <p>
        Per domande su fonti specifiche, si prega di contattare l'istituzione cui appartiene la fonte. Ciò vale anche per questioni organizzative, come annunciare una visita alla biblioteca, ordinare una riproduzione, ecc. Per tutte le altre domande si può contattare RISM Svizzera. I nostri <a href="/contact.html">contatti</a> si trovano sul nostro sito web.
    </p>
</div>
