<h3>
    Collezioni musicali in archivi e biblioteche svizzere
</h3>
<p>
    Le liste <a href="/links/ch-people-a-e.html">Collezioni - persone</a> e <a href="/links/ch-institutions.html">Collezioni - istituzioni</a> forniscono una panoramica delle collezioni conservate nelle biblioteche e negli archivi svizzeri con una forte componente musicale. Raccolgono autografi, manoscritti, materiale stampato relativo alle opere, registrazioni sonore, testi manoscritti, testi a stampa, corrispondenza, fotografie e altri documenti personali o istituzionali.
</p>
