<h3>
    Monastero di Fischingen
</h3>
<p>
    Il progetto di catalogazione nel monastero di Fischingen ha come obiettivo la estensiva documentazione della ricca tradizione liturgico-musicale dei monaci benedettini all'epoca del tardo barocco e dell'Illuminismo, a partire dai manoscritti e dalle stampe musicali del periodo fra il tardo Seicento e il primo Ottocento. Questo fondo deriva la sua importanza dalla opportunità che offre di integrare il repertorio, già censito dall'ufficio svizzero del RISM, dei fondi di Beromünster, Einsiedeln, Engelberg, Disentis, San Gallo (St. Johann) e del monastero femminile di S. Andreas a Sarnen, la cui catalogazione è prossima alla conclusione.
</p>
<p>
    Il progetto monastero di Fischingen prevede un completo censimento del fondo musicale. Una particolare attenzione è rivolta alle fonti musicali manoscritte, che mostrano di essere in diretta relazione con la pratica musicale nel monastero tra il 1692 e il 1808, essendo state per la maggior parte redatte appositamente per l'accompagnamento musicale della liturgia benedettina a Fischingen. Di particolare rilevanza in questo contesto è il „Diurnale Monastico Benedictinum“ del 1805; questo „calendario festivo“ per le feste liturgiche benedettine a Fischingen è la chiave per riscoprire la vita musicale monastica all'inizio del XIX secolo. Si trovano altresì fonti manoscritte dell'ordinario e del proprio della messa e numerosi canti dell'ufficio.
</p>
<p>
    La ricchezza della pratica musicale si riflette anche nel numero di fonti musicali a stampa, che risalgono quasi tutte al XVIII secolo e riflettono il repertorio, allora assai diffuso nei monasteri svizzeri, di musica sacra solenne, che prevedeva sempre l'esecuzione di musica polifonica con accompagnamento strumentale. Pertanto non sorprende che il materiale a stampa sia più numeroso del materiale manoscritto.
</p>
<p>
    Questo progetto di catalogazione è reso possibile dall'appoggio dell'Associazione amici del monastero di Fischingen. Il progetto monastero di Fischingen ha preso avvio il 19 maggio 2014.
</p>
