<h3>
    Kloster Fischingen
</h3>
<p>
    Das Inventarisierungsprojekt Kloster Fischingen setzt sich zum Ziel, die reiche liturgisch-musikalische Tradition der Benediktinermönche im Zeitalter des Spätbarocks und der Aufklärung anhand der überlieferten handschriftlichen sowie gedruckten Musikalien aus dem späten 17. bis zum frühen 19. Jahrhundert umfassend zu dokumentieren. Seine einzigartige Bedeutung verleiht diesem Bestand die Tatsache, dass das Repertoire des Klosters Fischingen sich ergänzend zu den durch die Arbeitstelle Schweiz des RISM erschlossenen Quellenbeständen von Beromünster, Einsiedeln, Engelberg, Disentis, St. Gallen (Neu St. Johann) und kurz vor Abschluss befindenden Erfassung der gesamten historischen Musik-bibliothek des Frauenklosters St. Andreas Sarnen verhält.
</p>
<p>
    Das Projekt Kloster Fischingen sieht eine vollständige Erfassung des Musikalienbestands vor. Besonderes Augenmerk gilt dabei den handschriftlichen Musikquellen, die einen direkten Bezug zur klösterlichen Musikpraxis zwischen 1692 und 1808 aufweisen, da sie grösstenteils speziell für die Musikpflege der benediktinischen Liturgie in Fischingen komponiert wurden. Von besonderer Bedeutung ist hierbei das „Diurnale Monastico Benedictinum“ von 1805; dieser „Festkalender“ für die liturgischen Feierlichkeiten der Benediktiner in Fischingen, ist der Schlüssel zur Wiederentdeckung des klösterlichen Musik-lebens zu Beginn des 19. Jahrhunderts. Daneben finden sich handschriftliche Quellen für das Ordinarium sowie das Proprium Missae und zahlreiche Gesänge für das Offizium.
</p>
<p>
    Die Reichhaltigkeit der Musikpflege schlägt sich auch in der Anzahl der gedruckten musikalischen Quellen nieder, die fast durchwegs aus dem 18. Jahrhundert stammen und das damals weit verbreitete Repertoire feierlicher Kirchenmusik in Schweizer Klöster widerspiegeln, das immer auf eine Wiedergabe mehrstimmiger Musik mit Instrumental-begleitung ausgerichtet war. Insofern erstaunt es nicht, dass der Materialbestand bei den gedruckten Musikalien einen grösseren Umfang einnimmt als bei den handschriftlichen Quellen.
</p>
<p>
    Ermöglicht wird dieses Inventarisierungsprojekt durch den Verein Freunde des Klosters Fischingen. Das Projekt Kloster Fischingen wurde am 19. Mai 2014 in Angriff genommen.
</p>
