<p>
RISM Svizzera cataloga le partiture e gli scritti sulla musica (manoscritti e a stampa) conservati nelle biblioteche e negli archivi svizzeri rispettando le norme scientifiche internazionali. Il RISM fornisce pertanto un contributo importante alla salvaguardia del patrimonio culturale musicale svizzero. I dati raccolti da RISM-Svizzera sono messi a disposizione della ricerca musicologica e della prassi musicale in tutto il mondo attraverso una banca dati accessibile on-line. Le fonti catalogate possono essere pubblicate anche in forma di libri stampati.
</p>


<p>
    RISM Svizzera è sostenuto da
</p>

{% include common/home-logos.html %}