<p>
    Numerosi <a href="infrastructure.html">progetti di infrastruttura</a> ruotano attorno alle fonti musicali. In molti di questi, la digitalizzazione ha un ruolo importante.
</p>
<p>
    Il software di catalogazione <a href="/infrastructure/muscat.html">Muscat</a> viene co-sviluppato da RISM Svizzera. Basato su norme internazionali, è fatto su misura per le esigenze della catalogazione di musica.
</p>
<p>
    Al centro del lavoro si trovano le fonti musicali. Un manoscritto rappresentativo è l'autografo del Salmo svizzero di Alberik Zwyssig.
</p>
<p>
    RISM Svizzera offre il suo aiuto a molti archivi e biblioteche svizzere nell'ordinare, conservare e inventariare le loro collezioni musicali.
</p>
