<h3>
    Biblioteca musicale della Scuola universitaria di musica a Lucerna
</h3>
<p>
    La sezione musicale della Scuola universitaria di Lucerna è nata nel 1999 come "Musikhochschule Luzern" dalla fusione del conservatorio, dell'accademia di musica sacra e pedagogia musicale e della scuola di jazz. Contestualmente, le diverse biblioteche sono state riunite in una unica struttura bibliotecaria distribuita su cinque sedi. Tutte le fonti storiche di pertinenza del RISM sono state trasferite dalle sedi periferiche alla biblioteca principale, dove sono attualmente conservate. RISM Svizzera ha censito nella sua banca-dati questo piccolo fondo manoscritto in un progetto svoltosi nel 2013. Le fonti storiche sono pervenute in possesso della biblioteca musicale principalmente attraverso donazioni. Il donatore più conosciuto è il violinista Rudolf Baumgartner, cui sono anche dedicate alcune delle opere.
</p>
<p>
    In confronto ad altre istituzioni più grandi, la raccolta di manoscritti della biblioteca musicale è relativamente piccola. Tuttavia, accanto all'ampio fondo di Carl Detsch, un compositore e insegnante di musica attivo nella Svizzera centrale tra il XIX e il XX secolo, si trovano isolatamente delle vere e proprie trouvailles, che ora sono censite nella banca-dati. Tra queste spicca un manscritto autografo finora sconosciuto del compositore svizzero Willy Burkhard, un suo proprio arrangiamento per violino solo (op. 59a) della sonata per viola sola (op. 59). Nella collezione si trovano anche altri manoscritti di compositori attivi principalmente in Svizzera centrale, tra cui opere di Johann Baptist Hilber, Robert F. Denzler e Peter Josef Zwyssig. Con il censimento di questa biblioteca, RISM Svizzera ha potuto aggiungere circa 700 opere alla propria banca-dati.
</p>
<p>
    Contatto: <a href="/contact.html">Cédric Güggi</a>
</p>
