<h3>
    Fondo Ferdinand Fürchtegott Huber (1791-1863)
</h3>
<p>
    Il lascito del compositore sangallese Ferdinand Fürchtegott Huber si trova nella Biblioteca cantonale Vadiana a S. Gallo. Huber nacque a S. Gallo nel 1791 figlio di un pastore riformato e direttore di scuola. Già in gioventù si recò all’estero, giungendo a Stoccarda dove per qualche tempo trovò impiego quale trombettista nell’orchestra dell’opera. Dopo il suo ritorno in Svizzera nel 1816 svolse attività di insegnante di musica e organista a Berna e S. Gallo. In quel periodo conobbe a Hofwil, nei pressi di Berna, Gottlieb Jakob Kuhn , autore di poesie popolari, che lui in gran numero mise in musica. Per tutta la vita raccolse e studiò la musica popolare svizzera, impegnandosi per il recupero del corno alpino. Il suo <em>Lied</em> popolare più noto è „Lueget vo Berg und Tal“. Huber compose inoltre musica cameristica strumentale, ad esempio dodici trii per corni.
</p>
<p>
    Il lascito di Ferdinand Fürchtegott Huber rappresenta pertanto una raccolta di particolare significato per la tradizione musicale svizzera. Il musicista sangallese fa dunque parte dei compositori selezionati per il progetto <em>Repertorio di compositori svizzeri dell’Ottocento</em>. Sebbene molte biblioteche della Svizzera – soprattutto la biblioteca del monastero di Einsiedeln – custodiscano singole edizioni a stampa e qualche copia manoscritta di opere del compositore, in questa raccolta è riunita quasi l’intera produzione di Huber, formata per lo più di manoscritti autografi. Il lascito viene attualmente catalogato da RISM-Svizzera su ordine della Biblioteca cantonale di S. Gallo e sarà messo a disposizione del pubblico interessato.
</p>
<h4>
    Contatto
</h4>
<p>
    Wolfgang Göldi<br/>
    Kantonsbibliothek St. Gallen<br/>
    Notkerstrasse 22<br/>
    CH-9000 St. Gallen<br/>
    Tel: +41 (0) 58 229 23 40<br/>
    e-mail: <a href="mailto:kb.rara@sg.ch">kb.rara@sg.ch</a>
</p>
<h4>
    Articolo della stampa
</h4>


{% include common/huber-press.html %}
