<h3>
    Fondo Ferdinand F&uuml;rchtegott Huber (1791-1863)
</h3>
<p>
    Il lascito del compositore sangallese Ferdinand F&uuml;rchtegott Huber si trova nella Biblioteca cantonale Vadiana a S. Gallo. Huber nacque a S. Gallo nel 1791 figlio di un pastore riformato e direttore di scuola. Gi&agrave; in giovent&ugrave; si rec&ograve; all&rsquo;estero, giungendo a Stoccarda dove per qualche tempo trov&ograve; impiego quale trombettista nell&rsquo;orchestra dell&rsquo;opera. Dopo il suo ritorno in Svizzera nel 1816 svolse attivit&agrave; di insegnante di musica e organista a Berna e S. Gallo. In quel periodo conobbe a Hofwil, nei pressi di Berna, Gottlieb Jakob Kuhn , autore di poesie popolari, che lui in gran numero mise in musica. Per tutta la vita raccolse e studi&ograve; la musica popolare svizzera, impegnandosi per il recupero del corno alpino. Il suo <em>Lied</em> popolare pi&ugrave; noto &egrave; &bdquo;Lueget vo Berg und Tal&ldquo;. Huber compose inoltre musica cameristica strumentale, ad esempio dodici trii per corni.
</p>
<p>
    Il lascito di Ferdinand F&uuml;rchtegott Huber rappresenta pertanto una raccolta di particolare significato per la tradizione musicale svizzera. Il musicista sangallese fa dunque parte dei compositori selezionati per il progetto <em>Repertorio di compositori svizzeri dell&rsquo;Ottocento</em>. Sebbene molte biblioteche della Svizzera &ndash; soprattutto la biblioteca del monastero di Einsiedeln &ndash; custodiscano singole edizioni a stampa e qualche copia manoscritta di opere del compositore, in questa raccolta &egrave; riunita quasi l&rsquo;intera produzione di Huber, formata per lo pi&ugrave; di manoscritti autografi. Il lascito viene attualmente catalogato da RISM-Svizzera su ordine della Biblioteca cantonale di S. Gallo e sar&agrave; messo a disposizione del pubblico interessato.
</p>
<h4>
    Articolo della stampa
</h4>


{% include common/huber-press.html %}
