<h3>
    Informationspool
</h3>
<p>
    Il progetto „Repertorio dei compositori svizzeri dell’Ottocento“ nasce nel settembre del 2008 e si dovrebbe concludere a fine 2011. E’ realizzato con la collaborazione della Fonoteca Nazionale Svizzera e ha come scopo riunire in un progetto differenti risorse documentarie. Vengono pertanto digitalizzate e rese disponibili in rete circa 500 fonti significative della produzione musicale del XIX secolo. Le opere digitalizzate verranno collegate da link a incisioni provenienti dai repertori della Fonoteca Nazionale e alle corrispettive opere dettagliatamente catalogate della banca dati del RISM. E’ pure previsto un link a ulteriori indicazioni biografiche (<a href="http://www.dhs.ch" target="_blank">www.dhs.ch</a>).
</p>
<p>
    Per tale progetto RISM Svizzera ha altresì stipulato una cooperazione con il Distributed Digital Music Archives and Libraries (DDMAL) Laboratory der McGill University di Montreal diretto dal prof. Ichiro Fujinaga.
</p>
<p>
    Project partner:
</p>
<div align="center">
    <table border="0" cellpadding="5" cellspacing="5" width="80%">
        <tbody>
            <tr>
                <td align="center">
                    <a href="http://www.fonoteca.ch/index.htm" target="_blank"><img src="/images/rism_ch/logo_fonoteca.png"></a>
                </td>
                <td align="center">
                    <a href="http://www.mcgill.ca/music/programs/department-music-research/music-technology-area" target="_blank"><img src="/images/rism_ch/logo_mcgill.png"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
