<h3>
    Progetti di infrastruttura
</h3>
<p>
    L’Ufficio RISM-Svizzera lancia e in parte realizza progetti propri in collaborazione con diverse istituzioni. Queste collaborazioni vertono a diffondere i beni musicali della Svizzera e soprattutto a stimolare sia la musicologia sia la prassi musicale ad occuparsi di composizioni in parte dimenticate. Tra questi progetti si segnalano le collaborazioni con la Fonoteca Nazionale Svizzera e la McGill University di Montréal (<a href="/infrastructure/informationspool.html">Informationspool</a>) nonché con la cattedra di musicologia presso l’università di Friburgo (<a href="/infrastructure/swiss-monasteries.html">Musica dei monasteri svizzeri</a>).
</p>
