<h3>
    Das Einsiedler &lsquo;Kapellmeisterbuch&rsquo;
</h3>

<div style="float: right; margin: 0px 0px 10px 30px;">
    <img src="/images/rism_ch/einsiedeln_c.png">
</div>

<p>
    In der Musikbibliothek der Benediktinerabtei Einsiedeln ist ein ungew&ouml;hnliches handschriftliches Musikinventar aufbewahrt, das Kapellmeisterbuch, das jedes in der Abtei an Sonn- und anderen Feiertage aufgef&uuml;hrte Musikst&uuml;ck verzeichnet. F&uuml;r die Jahre zwischen 1813 und 1852 ist die vom jeweiligen Kapellmeister verfasste Liste vollst&auml;ndig, zwischen 1805 und 1884 nur noch fragmentarisch erhalten. Das etwa 350 Seiten starke Buch ist ein einzigartiges Dokument und eine &auml;usserst wertvolle Ressource f&uuml;r Musikwissenschaftler beim Studium des Schweizer Musiklebens im 19. Jahrhundert.
</p>
<p>
    Um das Buch der Forschung in geeigneter Weise zug&auml;nglich zu machen, wurde es vollst&auml;ndig in TEI (Text Encoding Initiative) transkribiert und im Internet ver&ouml;ffentlicht. Die TEI-Transkription des Kapellmeisterbuchs erm&ouml;glichte die Einrichtung von verschiedenen Register, mit deren Hilfe die Benutzer und Benutzerinnen die Eintr&auml;ge nach Datum, nach Komponist und nach liturgischer Feier durchsuchen k&ouml;nnen. In der Transkription wurden zweifelhafte Stellen und die Aufl&ouml;sung der zahlreichen Abk&uuml;rzungen besonders kennzeichnet. Weil das Lesen des handschriftlichen Dokuments bisweilen schwierig sein kann, ist die M&ouml;glichkeit, diese Informationen den Benutzern und Benutzerinnen zur Verf&uuml;gung zu stellen, ein wichtiger Aspekt des gew&auml;hlten Ansatzes.
</p>
<div style="width: 150px; float: left; margin: 0px 30px 10px 0px;">
    <a href="http://www.tei-c.org" target="_blank"><img src="/images/rism_ch/tei_400-small200.jpg" width="150"></a>
</div>
<p>
    Die Transkription des Kapellmeisterbuchs ist eine Online-Ressource, welche in den Jahren 2009-2010 vom Institut f&uuml;r Musikwissenschaft der Universit&auml;t Fribourg und RISM Schweiz mit Unterst&uuml;tzung des Schweizerischen Nationalfonds realisiert wurde (&bdquo;Musical Repertoire in Swiss Collegiate and Monastic Churches&ldquo;, Projekt Nr. 100012-124416).<br>
</p>
<h4 style="text-align: center;">
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">http://d-lib.rism-ch.org/kapellmeisterbuch</a>
</h4>
<p>
    Bilder: Mit freundlicher Genehmigung von P. Lukas Helg OSB (Einsiedeln)
</p>

<div style="clear: both;">
    <div style="width: 500px; float: right; margin: 30px 0px 10px 30px;">
        <a href="http://www.unifr.ch/musicologie" target="_blank"><img src="/images/rism_in/unifr.jpg"></a>
    </div>
    <p>
        Projektteam:
    </p>
    <ul>
        <li>
            <a href="mailto:luca.zoppelli@unifr.ch">Prof. Luca Zoppelli</a> (Leitung)
        </li>
        <li>
            <a href="mailto:claudio.bacciagaluppi@unifr.ch">Claudio Bacciagaluppi</a>
        </li>
        <li>
            <a href="mailto:luigi.collarile@unifr.ch">Luigi Collarile</a><br>
        </li>
        <li>
            <a href="mailto:laurent.pugin@rism-ch.org">Laurent Pugin</a>
        </li>
    </ul>
</div>
