<h3>
    Il ‘Kapellmeisterbuch’ di Einsiedeln
</h3>

<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/einsiedeln_c.png">
</div>
<p>
    L'abbazia benedettina di Einsiedeln in Svizzera conserva tra i manoscritti musicali un inventario inconsueto, il Kapellmeisterbuch, in cui ogni brano musicale eseguito presso l'Abbazia le domeniche e le altre feste tra il 1813 e il 1852, e in maniera frammentaria tra il 1805 e il 1884, è stato registrato dal maestro di cappella. Il libro, che conta circa 350 pagine, è un documento unico e una risorsa estremamente preziosa per i musicologi che studiano la vita musicale in Svizzera nel XIX secolo.
</p>
<p>
    Al fine di renderne disponibile il contenuto agli studiosi in modo adeguato, il libro è stato interamente trascritto in TEI (Text Encoding Initiative) e pubblicato online. La trascrizione TEI del Kapellmeisterbuch ha permesso la creazione di diversi indici, che forniscono all'utente la possibilità di navigare all'interno del libro per data, compositore e festa liturgica. Nella trascrizione, i passi dubbi e il completamento delle numerose abbreviazioni sono stati contrassegnati. Poiché il documento scritto a mano può essere a volte molto difficile da leggere, la possibilità di fornire all'utente questa informazione è un aspetto importante dell'approccio scelto.
</p>

<div style="width: 150px; float: left; margin: 0px 30px 10px 0px;">
    <a href="http://www.tei-c.org" target="_blank"><img src="/images/rism_ch/tei_400-small200.jpg" width="150"></a>
</div>
<p>
    La trascrizione del Kapellmeisterbuch è una risorsa online realizzata nel 2009-2010 dall'Istituto di Musicologia dell'Università di Friburgo e dall'ufficio svizzero del RISM, con il sostegno del Fondo nazionale svizzero („Musical Repertoire in Swiss Collegiate and Monastic Churches“, progetto n. 100012-124416).<br>
</p>


<h4 style="text-align: center;">
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">http://d-lib.rism-ch.org/kapellmeisterbuch</a>
</h4>

<p>Immagini: per gentile concessione di P. Lukas Helg OSB (Einsiedeln)</p>

<p>
    Hanno collaborato al progetto:
</p>
<ul>
    <li>
        <a href="mailto:luca.zoppelli@unifr.ch">Prof. Luca Zoppelli</a> (direttore)
    </li>
    <li>
        <a href="mailto:claudio.bacciagaluppi@rism-ch.org">Claudio Bacciagaluppi</a>
    </li>
    <li>
        <a href="mailto:luigi.collarile@unifr.ch">Luigi Collarile</a><br>
    </li>
    <li>
        <a href="mailto:laurent.pugin@rism-ch.org">Laurent Pugin</a>
    </li>
</ul>
