<h3>
    Il &lsquo;Kapellmeisterbuch&rsquo; di Einsiedeln
</h3>

<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/einsiedeln_c.png">
</div>
<p>
    L&#x27;abbazia benedettina di Einsiedeln in Svizzera conserva tra i manoscritti musicali un inventario inconsueto, il Kapellmeisterbuch, in cui ogni brano musicale eseguito presso l&#x27;Abbazia le domeniche e le altre feste tra il 1813 e il 1852, e in maniera frammentaria tra il 1805 e il 1884, &egrave; stato registrato dal maestro di cappella. Il libro, che conta circa 350 pagine, &egrave; un documento unico e una risorsa estremamente preziosa per i musicologi che studiano la vita musicale in Svizzera nel XIX secolo.
</p>
<p>
    Al fine di renderne disponibile il contenuto agli studiosi in modo adeguato, il libro &egrave; stato interamente trascritto in TEI (Text Encoding Initiative) e pubblicato online. La trascrizione TEI del Kapellmeisterbuch ha permesso la creazione di diversi indici, che forniscono all&#x27;utente la possibilit&agrave; di navigare all&#x27;interno del libro per data, compositore e festa liturgica. Nella trascrizione, i passi dubbi e il completamento delle numerose abbreviazioni sono stati contrassegnati. Poich&eacute; il documento scritto a mano pu&ograve; essere a volte molto difficile da leggere, la possibilit&agrave; di fornire all&#x27;utente questa informazione &egrave; un aspetto importante dell&#x27;approccio scelto.
</p>

<div style="width: 150px; float: left; margin: 0px 30px 10px 0px;">
    <a href="http://www.tei-c.org" target="_blank"><img src="/images/rism_ch/tei_400-small200.jpg" width="150"></a>
</div>
<p>
    La trascrizione del Kapellmeisterbuch &egrave; una risorsa online realizzata nel 2009-2010 dall&#x27;Istituto di Musicologia dell&#x27;Universit&agrave; di Friburgo e dall&#x27;ufficio svizzero del RISM, con il sostegno del Fondo nazionale svizzero (&bdquo;Musical Repertoire in Swiss Collegiate and Monastic Churches&ldquo;, progetto n. 100012-124416).<br>
</p>


<h4 style="text-align: center;">
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">http://d-lib.rism-ch.org/kapellmeisterbuch</a>
</h4>

<p>Immagini: per gentile concessione di P. Lukas Helg OSB (Einsiedeln)</p>

<p>
    Hanno collaborato al progetto:
</p>
<ul>
    <li>
        <a href="mailto:luca.zoppelli@unifr.ch">Prof. Luca Zoppelli</a> (direttore)
    </li>
    <li>
        <a href="mailto:claudio.bacciagaluppi@unifr.ch">Claudio Bacciagaluppi</a>
    </li>
    <li>
        <a href="mailto:luigi.collarile@unifr.ch">Luigi Collarile</a><br>
    </li>
    <li>
        <a href="mailto:laurent.pugin@rism-ch.org">Laurent Pugin</a>
    </li>
</ul>
