<h3>
    Nachlass Ernst Kunz
</h3>
<p>
    Der Nachlass des Komponisten und Dirigenten Ernst Kunz, der in der ZB Solothurn untergebracht ist, wurde zwischen 2010 und 2013 bearbeitet. RISM Schweiz hat damit den gesamten Nachlass nicht nur in seiner Datenbank erschlossen, sondern ihn darüber hinaus auch geordnet, gesäubert und in säurefreie Materialien verpackt. Der Nachlass erhielt Anfang 2013 eine unerwartete Erweiterung von ergänzenden Quellen aus dem Stadtarchiv Olten. Aus Gründen der nun erreichten Fast-Vollständigkeit der Werke von Ernst Kunz in Solothurn erachteten es die Mitarbeitenden von RISM Schweiz jedoch als äusserst sinnvoll, die zusätzlichen Dokumente ebenfalls zu beschreiben und in die Datenbank aufzunehmen. Sämtliche Daten, nämlich 545 Titeleintragungen, sind seit Mitte 2013 online geschaltet.
</p>
