<h3>
    Fondo Ernst Kunz
</h3>
<p>
    Il fondo del compositore e direttore Ernst Kunz, conservato nella Biblioteca centrale di Soletta, è stato censito tra il 2010 e il 2013. RISM Svizzera non si è limitato alla catalogazione dell'intero fondo nella sua banca-dati, ma lo ha anche riordinato, pulito e riposto in contenitori non acidi. All'inizio del 2013, il fondo è stato inaspettatamente accresciuto da alcune fonti complementari provenienti dall'archivio della città di Olten. Visto che il fondo di Soletta conserva quasi integralmente le opere di Ernst Kunz, i collaboratori di RISM Svizzera hanno considerato opportuno catalogare anche questi documenti supplementari e inserirli nella banca-dati. Tutti i dati, ossia 545 titoli, sono accessibili online dalla metà del 2013.
</p>
 <h4>
        Contatto
    </h4>
    <p>
    Hans Braun<br/>
    Zentralbibliothek Solothurn<br/>
    Bielstrasse 39<br/>
    CH-4502 Solothurn<br/>
    Tel: +41 (0) 32 627 62 14<br/>
    e-mail: <a href="mailto:musikabteilung@zbsolothurn.ch">musikabteilung@zbsolothurn.ch</a>
</p>
