<h3>
    Link
</h3>
<p>
    Vogliamo rimanere sempre aggiornati. Potete aiutarci segnalando indirizzi sconosciuti o collegamenti interrotti (<a href="mailto:info@rism-ch.org">contatto</a>). Grazie mille!
</p>

<h4>
    Risorse online per la catalogazione, lo studio e l'accesso alle fonti musicali
</h4>

<p>
    <strong>Disclaimer</strong>: Nonostante un attento controllo, non ci assumiamo alcuna responsabilità per il contenuto dei link esterni. I proprietari delle pagine collegate sono i soli responsabili per il loro contenuto.
</p>
