<h3>
    Links und Dokumentation
</h3>
<p>
    Wir wollen immer auf dem neuesten Stand bleiben. Sie helfen uns sehr, wenn Sie uns unbekannte Adressen oder tote Links melden (<a href="mailto:info@rism-ch.org">Kontakt</a>). Vielen Dank!
</p>

<h4>
    Online-Ressourcen zur Erfassung, Erforschung und Erschliessung von Musikquellen
</h4>

<p>
    <strong>Haftungshinweis</strong>: trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer links. F&uuml;r den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.
</p>
