<h3>
    Music Encoding Initiative (MEI)
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <a href="www.music-encoding.org" target="_blank"><img src="/images/rism_ch/meilogo.png"></a>
</div>
<p>
    Il fine della Music Encoding Initiative (MEI) è definire uno standard di codificazione per le fonti musicali, in linea con le raccomandazioni della Text Encoding Initiative (TEI). Il RISM Svizzera contribuisce a questo progetto con la sua esperienza e la sua competenza nel campo bibliografico, un aspetto importante nella definizione di questo codice standard.
</p>

<h4>
    Quali sono i punti di forza dello standard MEI?
</h4>
<ul>
    <li>Si tratta di un formato sviluppato da una comunità di specialisti
    </li>
    <li>Si tratta di un formato aperto, in XML, dunque leggibile e decifrabile da tutti
    </li>
    <li>È modulabile e può essere esteso per rispondere a bisogni specifici
    </li>
    <li>Si adatta a un ampio ventaglio di applicazioni – pubblicazione, analisi, archiviazione
    </li>
</ul>
<p>
    Il suo polimorfismo permette a MEI di svolgere in numerosi progetti un ruolo di mediazione e unificazione, un ruolo che in futuro sarà ancora rafforzato. Grazie alla sua estensione, MEI è adatto a progetti assai diversi che fino ad ora avrebbero utilizzato dei formati differenti.
</p>

{% include common/mei-figure.html %}

<h4>
    Il ruolo del RISM
</h4>
<p>
    <strong>1 – Competenza</strong>
</p>
<p>
    In primo luogo, RISM Svizzera svolge un ruolo importante nella definizione dello standard per quanto riguarda la codifica di meta-dati. MEI si distingue del resto per un livello di dettaglio assai elevato su questo aspetto e l'esperienza di RISM è molto utile alla comunità.
</p>
<p>
    <strong>2 – Utilizzo</strong>
</p>
<p>
    Il secondo ruolo è quello dell'utente, poiché RISM Svizzera utilizza MEI insieme a TEI per produrre dei cataloghi di biblioteche che comprendono gli incipit musicali. Al contrario di quanto era consueto fino a qualche anno fa, ossia la pubblicazione su carta di simili cataloghi, questo approccio offre una soluzione molto più flessibile. In avvenire, permetterà per esempio di generare dei documenti PDF su richiesta direttamente a partire dalla banca-dati RISM.
</p>
<p>
    <strong>3 – Promozione</strong>
</p>
<p>
    Infine, RISM Svizzera svolge un ruolo di promotore dello standard nei progetti di ricerca ai quali partecipa. RISM Svizzera è regolarmente presente in corsi o atelier dedicati a MEI. MEI viene altresì promosso attraverso pubblicazioni scientifiche. 
</p>
