<h3>
    Sviluppo del sistema di catalogazione Muscat
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;">
    <a href="http://muscat-project.org" target="_blank"><img src="/images/rism_ch/muscat-sm.png"></a>
</div>

<p>
    Muscat è un framework open-source per la catalogazione di documenti musicali (partiture musicali manoscritte e a stampa). Il progetto è stato avviato nel 2002 dal gruppo di lavoro Regno Unito di RISM e poi ulteriormente sviluppato da RISM Svizzera. Dall’inizio del 2014, Muscat è stato sviluppato in collaborazione con la Redazione centrale di RISM a Francoforte, grazie alla decisione del RISM-UK e di RISM Svizzera di renderlo open-source.
</p>
    
<p>
    Il sito web del <a href="http://muscat-project.org" target="_blank">progetto Muscat</a> contiene una descrizione completa del progetto.
</p>

<h4>La collaborazione con la Redazione centrale di RISM</h4>

<p>
    Dal 2015, la Redazione centrale di RISM e RISM Svizzera hanno un accordo per lo sviluppo e la gestione di Muscat.
</p>

<p class="compact">
    La Redazione centrale di RISM responsabile de:
</p>
<ul class="compact">
    <li>La gestione dei dati</li>
    <li>L’organizzazione degli sviluppi per le voci di autorità</li>
    <li>La supervisione della redazione delle regole di catalogazione</li>
</ul>

<p class="compact">
    Il RISM Svizzera è responsabile de:
</p>
<ul class="compact">
    <li>La gestione dell’installazione di Muscat su server ubicato presso la Staatsbibliothek zu Berlin</li>
    <li>La gestione del codice sorgente e del repository GitHub</li>
    <li>L’organizzazione della release delle nuove versioni di Muscat</li>
</ul>

<p>
    Contato: <a href="/contact.html">Laurent Pugin</a>
</p>

