<h3>
    Sviluppo del software di catalogazione Muscat 3.0
</h3>
<p>
    Dall'inizio del 2014 il software di catalogazione Muscat è sviluppato in collaborazione con la redazione centrale del RISM. Con ciò, RISM Svizzera mette in opera una decisione del comitato direttivo internazionale del RISM, secondo la quale Muscat diventerà il nuovo strumento di catalogazione per tutti gli uffici RISM nel mondo. Vari fattori hanno giocato a favore di Muscat in questa decisione. Un punto importante è il suo sviluppo come applicazione open source e accessibile online, così da renderlo aperto, trasparente e di facile utilizzo. Inoltre è stato concepito specificamente per il censimento di fonti musicali, in modo che non è necessario svilupparlo interamente e adattarne la configurazione ai bisogni di RISM. 
</p>
<p>
    Lo sviluppo di Muscat si svolge secondo un piano approvato nel gennaio 2014 insieme alla redazione centrale del RISM a Francoforte, che prevede il lancio di una versione beta nel 2015 e nel 2016 la migrazione integrale su Muscat di tutti i dati RISM nel mondo. Lo sviluppo di Muscat 3.0 comprende anche la confluenza del catalogo dei manoscritti (serie A/II) con le varie serie dedicate alle fonti a stampa (serie A/I, B/I e B/II). Questa unificazione si basa sul lavoro preliminare svolto da RISM Svizzera in collaborazione con la redazione centrale per la migrazione della serie A/I in Muscat 2.0 nel 2013.
</p>
<p>
     A livello internazionale, questi sviluppi sono stati presentati in occasione dei congressi IAML di Anversa (2014) e New York (2015). 
</p>
