<h3>
    Sviluppo del software di catalogazione Muscat
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;">
    <img src="/images/rism_ch/muscat-sm.png">
</div>

<p>
    Muscat is an open-source framework for cataloging music documents (handwritten and printed music scores). The project was initiated in 2002 by the United Kingdom working group of RISM and then developed further by the RISM Switzerland. Since early 2014, Muscat has been developed in collaboration with the RISM Central Office in Frankfurt thanks to the decision of the RISM-UK and the RISM Switzerland to make it open-source.
</p>
    
<p>
    Muscat is a Ruby on Rails application that provides facilities for creating and managing MarcXML records with a focus on music. The source code is available on <a href="https://github.com/rism-ch/muscat" target="_blank">GitHub</a>.    
</p>

<h4>Collaboration with the RISM Central Office history</h4>

<p>
    Since 2015, the RISM Central Office and the RISM Switzerland have an agreement for the development and the management of Muscat.
</p>

<p class="compact">
    The RISM Central Office is responsible for:
</p>
<ul class="compact">
    <li>The management of data</li>
    <li>The organisation of the developments for the authority files</li>
    <li>The supervision of the redaction of the cataloguing guidelines</li>
</ul>

<p class="compact">
    The RISM Switzerland is responsible for:
</p>
<ul class="compact">
    <li>The management of the installation of Muscat on the server at the Staatsbibliothek zu Berlin</li>
    <li>The management of the source code and of the GitHub repository</li>
    <li>The organisation of the release of the new versions of Muscat</li>
</ul>
    
<h4>Development history</h4>

<p class="compact">2002-2009 (Version 1)</p>
<ul class="compact">
    <li>RISM-UK (2002-2008) projects funded by the Arts and Humanities Research Council (AHRB)</li>
    <li>RISM-CH (2008-2009) project funded by the Swiss National Science Foundation (SNF)</li>
</ul>

<p class="compact">2013-2015 (Version 2)</p>
<ul class="compact">
    <li>Maintenance update</li>
    <li>Release as open-source</li>
    <li>Adjustments for RISM Series A/I (hosted in Switzerland)</li>
</ul>

<p class="compact">2015 (Version 3)</p>
<ul class="compact">
    <li>Redesign of the user interface</li>
    <li>Update to the state-of-the art search engine (Solr)</li>
    <li>Real-time incipit display (MEI <a href="http://verovio.org" target="_blank">Verovio</a> rendering)</li>
    <li>Refined access level definition (users and user groups)</li>
</ul>

<p>
    Contact: <a href="/contact.html">Laurent Pugin</a>
</p>

