<h3>
    Fondo Louis Niedermeyer (1802-1861)
</h3>

<p>
    Il fondo Louis Niedermeyer (1802-1861), custodito <a href="http://www.niedermeyer-nyon.ch "target="_blank">dall'Associazione Niedermeyer</a> a Nyon, comprende manoscritti ed edizioni a stampa di musica tanto strumentale che vocale. Gran parte dei manoscritti sono copie, tuttavia il fondo contiene anche una serie di autografi. Tra le stampe si trovano molte edizioni originali (1825-1900), pubblicate dai grandi editori musicali parigini <em>Richault</em> e <em>Pacini</em>. Il fondo, che riunisce quasi l'intera produzione di Niedermeyer, è una fonte particolarmente interessante di informazioni riguardanti la trasmissione della musica e la pratica dell'editoria musicale nel XIX secolo. Il fondo contiene anche opere di compositori che furono legati al musicista, tra gli altri Gioacchino Rossini (1792-1868), Gustave Lefèvre (1831-1910) e Johann Simon Mayr (1763-1845).
</p>

<p>
    L'opera di Niedermeyer è molto varia e spazia da semplici pezzi per pianoforte a composizioni orchestrali e operistiche. Le sue opere teatrali sono segnate dall'influenza italiana assorbita durante i suoi studi a Roma e Napoli. Durante i suoi viaggi di studio, Niedermeyer stringe tra l'altro amicizia con Rossini, e gli sottopone regolarmente le proprie composizioni. Sebbene Niedermeyer abbia lasciato da giovane la Svizzera, egli resta strettamente legato a Nyon e vi ritorna a comporre più volte durante la sua vita.
</p>

<p>
    Finora, l'opera di Louis Niedermeyer non è stata apprezzata nel suo giusto valore dalla ricerca scientifica. Con l'inventario del fondo raccolto dalla Fondazione Niedermeyer, RISM Svizzera contribuisce al riconoscimento e alla diffusione del lavoro di questo affascinante e ingiustamente dimenticato compositore svizzero. Il progetto ha avuto inizio il 13 luglio 2015 e il suo completamento è previsto per la fine del 2015.
</p>
<h4>
    Articolo della stampa
</h4>

{% include common/niedermeyer-press.html %}
