<h3>
    OnStage: Conservatorio di musica di Ginevra
</h3>
<p>
    Il progetto OnStage condotto tra il 2012 e il 2013 dalla Scuola di Musica (HEMU) - Conservatorio di Losanna in collaborazione con RISM Svizzera ha suscitato grande interesse da parte di diverse istituzioni che hanno fondi simili. Infatti, queste collezioni di programmi di concerti sono fonti con un notevole interesse storico e relativamente sconosciute, e la loro pubblicazione online offre nuove prospettive per lo studio della storia dell'esecuzione musicale. Un'estensione del progetto OnStage è pertanto in preparazione con i programmi dei concerti della Biblioteca del Conservatorio di Ginevra.
</p>
<p>
    Questo progetto segue lo stesso approccio che per l'istituzione losannese, vale a dire la digitalizzazione della collezione, l'indicizzazione e il riconoscimento automatico dei caratteri (OCR) per la ricerca full-text. Tuttavia, data la notevole quantità di programmi (oltre 10.000), l'indicizzazione della raccolta di Ginevra sarà inizialmente meno approfondita. L'integrazione delle due risorse sarà discussa e definita a suo tempo con i diversi partner. L'obiettivo è quello di trovare una soluzione che ottimizza una ricerca integrata, mantenendo una presentazione distinta di ciascuna collezione.
</p>
<p>
    Il progetto è sostenuto finanziariamente dalla Biblioteca del Conservatorio di musica di Ginevra in collaborazione con RISM Svizzera. L'indicizzazione e la scansione sono iniziate nel 2014. Gli indici sono stati compilati da un dipendente del Conservatorio sotto la supervisione del direttore della Biblioteca e di RISM Svizzera.
</p>
