<h3>
    OnStage: HEMU – Conservatorio di Losanna
</h3>
<p>
    Alla fine del 2012, RISM Svizzera ha stabilito una collaborazione con la Scuola universitaria di musica (HEMU) - Conservatorio di Losanna per il progetto OnStage. Questo progetto riguarda i programmi dei concerti storici ed è stato finanziato dalla stessa HEMU. Il suo obiettivo era l'indicizzazione e la scansione dei programmi di concerto custoditi presso la biblioteca del Conservatorio. Il modello proposto da RISM Svizzera per questo progetto è stato il progetto TEI "Kapellmeisterbuch". L'uso dello standard XML TEI dà al progetto un alto profilo scientifico e assicura una buona interoperabilità per possibili sviluppi futuri. La partecipazione di RISM Svizzera in questo progetto si è svolta in due fasi, vale a dire d'un lato la scansione delle fonti e dall'altro lo sviluppo di una pubblicazione online. I programmi di concerto sono stati provvisti di testi di commento scritti dai collaboratori del Conservatorio e sono stati messi in rete alla fine di settembre 2013.
</p>
<p>
    Il progetto è stato presentato in una conferenza a fine novembre 2013 presso il Conservatorio di Losanna (P. Boschetti, V. Struijk Van Bergen e L. Pugin).
</p>
    Contatto: <a href="/contact.html">Claudio Bacciagaluppi</a>
</p>

