<h3>
    Progetti conclusi
</h3>
<div class="secondary_links">
    <p>
        <a href="cataloging/reichel.html">La collezione Adolf Reichel</a>
    </p>
    <p>
        <a href="cataloging/sarnen.html">Monastero femminile di Sarnen</a>
    </p>
    <p>
        <a href="cataloging/bcu-lausanne.html">BCU Lausanne</a>
    </p>
    <p>
        <a href="cataloging/niedermeyer.html">Louis Niedermeyer</a>
    </p>
    <p>
        <a href="cataloging/fischingen.html">Monastero di Fischingen</a>
    </p>
    <p>
        <a href="cataloging/munzingeriana.html">Munzingeriana</a>
    </p>
    <p>
        <a href="cataloging/hslu.html">Scuola professionale di musica di Lucerna</a>
    </p>
    <p>
        <a href="cataloging/kunz.html">Fondo Ernst Kunz</a>
    </p>
    <p>
        <a href="cataloging/huber.html">Fondo Ferdinand Fürchtegott Huber</a>
    </p>
    <p>
        <a href="cataloging/einsiedeln.html">Compositori svizzeri dell'Ottocento nella biblioteca del convento di Einsiedeln</a>
    </p>
    <p>
        <a href="cataloging/st-gall.html">Fonti musicali presso il Domarchiv St. Gallen</a>
    </p>
    <p>
        <a href="cataloging/beromuenster.html">Biblioteca musicale della collegiata di San Michele a Beromünster</a>
    </p>
</div>
