<h3>
    Abgeschlossene Projekte
</h3>
<ul>
    <li><a href="cataloging/hslu.html">Hochschule Luzern &ndash; Musik</a>
    </li>
    <li><a href="cataloging/kunz.html">Nachlass Ernst Kunz</a>
    </li>
    <li><a href="cataloging/huber.html">Nachlass Ferdinand F&uuml;rchtegott Huber (1791-1863)</a>
    </li>
    <li><a href="cataloging/einsiedeln.html">Schweizer Komponisten des 19. Jahrhunderts in der Musikbibliothek des Klosters Einsiedeln</a>
    </li>
    <li><a href="cataloging/st-gall.html">Archiv der Dommusik St. Gallen</a>
    </li>
    <li><a href="cataloging/beromuenster.html">Musikbibliothek des Stifts St. Michael Berom&uuml;nster</a>
    </li>
</ul>
