<h3>
    Projetti
</h3>
<p>
    L&rsquo;Ufficio RISM-Svizzera lancia e in parte realizza progetti propri in collaborazione con diverse istituzioni. Queste collaborazioni vertono a diffondere i beni musicali della Svizzera e soprattutto a stimolare sia la musicologia sia la prassi musicale ad occuparsi di composizioni in parte dimenticate. Tra questi progetti si segnalano le collaborazioni con la Fonoteca Nazionale Svizzera e la McGill University di Montr&eacute;al (<a href="/projects/informationspool.html">Informationspool</a>) nonch&eacute; con la cattedra di musicologia presso l&rsquo;universit&agrave; di Friburgo (<a href="/projects/swiss-monasteries.html">Musica dei monasteri svizzeri</a>).
</p>
