<h3>
    Pubblicazioni
</h3>
<p>
    Le conoscenze che RISM Svizzera acquisisce durante il proprio lavoro di catalogazione o all'interno dei progetti a questo correlati vengono puntualmente pubblicate in articoli scientifici o libri.
</p>
<p>
    RISM Svizzera svolge inoltre un'attività editoriale per pubblicazioni online (ad esempio nelle serie RISM Digital Library e Historical Music Inventories). In questa maniera vengono rese accessibili al pubblico delle fonti archivistiche (senza quindi notazione musicale) che offrono scorci importanti della vita musicale svizzera.
</p>
