<h3>
    Publikationen
</h3>
<p>
    In unmittelbarer Nähe zur Katalogisierungsarbeit oder durch diese inspiriert entstehen nicht selten neue Erkenntnisse, welche die Mitarbeiter von RISM Schweiz in Bücher oder wissenschaftliche Artikel einfliessen lassen.
</p>
<p>
    RISM Schweiz betätigt sich darüber hinaus als Verleger von online-Publikationen (ad esempio, RISM Digital Library e Historical Music Inventories). Darin werden Archivquellen (also ohne musikalischer Notation), welche wichtige Einsichten im Schweizer Musikleben bieten, der Öffentlichkeit zugänglich gemacht.
</p>
