<h3>
    La collezione Adolf Reichel (1816-1896)
</h3>

<p>
    Il lascito del compositore Adolf Reichel – nato nella Prussia Occidentale (oggi Polonia) e morto a Berna – è conservato nella Biblioteca musicale della Scuola universitaria delle arti di Berna (HKB). La collezione comprende manoscritti, stampe e scritti di teoria musicale, tra cui un catalogo delle opere del compositore stesso. I manoscritti sono autografi oppure copie. Tra i copisti si trovano Alexander, Ernst e Julie Reichel, Hermann Heinemann e Fritz Roser. Le fonti musicali a stampa sono state pubblicate da diversi editori, come S. Richault (Parigi), Haslinger (Vienna), Peters (Leipzig), Breitkopf & Hartel (Leipzig) e Methfessel (Berna).
</p>

<p>
    L’opera di Reichel spazia da semplici pezzi per pianoforte solo e composizioni per ensemble da camera fino a opere orchestrali e corali. Le composizioni corali sono legate alla sua attività come direttore del «Cäcilienverein» e della «Berner Liedertafel». Dopo aver vissuto a Vienna, Berna e Bruxelles, Reichel si trasferisce a Parigi dove vive come compositore e insegnante di pianoforte. Nel 1867, si trasferisce da Parigi a Berna assumendo, accanto agli impieghi menzionati prima, anche quelli di direttore della «Musikgesellschaft» e della «Musikschule» a Berna. Due anni dopo il trasloco, Reichel ottiene la nazionalità svizzera a Oberburg (BE).
</p>

<p>
    La catalogazione del fondo Adolf Reichel è parte del <a href="http://rism-ch.org/cataloging/repertorium.html?locale=it" target="_blank"> progetto Repertorio dei compositori svizzeri dell’Ottocento</a>, che ha lo scopo di colmare una lacuna in materia di documentazione musicale svizzera.
</p>

   </p>
    Contatto: <a href="/contact.html">Florence Sidler</a>
</p>
