<h3>
    Repertorio dei compositori svizzeri dell'Ottocento
</h3>
<p>
    Con il progetto Compositori svizzeri dell'Ottocento, RISM-Svizzera si è posto l'obbiettivo di colmare le lacune inerenti la documentazione musicale in Svizzera. Questo progetto prende orgine dalle seguenti considerazioni:
</p>
<ul>
    <li>L'Ottocento ha un'importanza fondamentale per l'identità musicale della Confederazione Svizzera: con la rivoluzione liberale e il graduale superamento degli influssi ostili alle arti si sviluppa un'attiva vita musicale in gran parte delle città e dei cantoni. Grazie alla costituzione della moderna confederazione nel 1848 si creano anche a livello nazionale delle strutture politiche che consentono lo sviluppo di una cultura musicale specificamente svizzera. La logica conseguenza di questa graduale emancipazione della vita musicale svizzera, precedentemente divisa dai confini linguistici e dalle influenze culturali dei Paesi confinanti, è la fondazione dell'Associazione svizzera dei musicisti (Schweizerischer Tonkünstlerverein) nel 1900.
    </li>
    <li>Le numerose fonti di questo periodo sono documentate solo in minima parte secondo criteri scientifici.
    </li>
    <li>Una documentazione delle opere e delle relative fonti, che sia affidabile e soddisfi le odierne esigenze scientifiche, non è attualmente disponibile per nessun compositore svizzero dell'Ottocento.
    </li>
</ul>
<p>
    Il Repertorio dei compositori svizzeri dell'Ottocento prevede l'inventario dell'intera produzione musicale di 52 compositori e compositrici. La scelta di questi ultimi è stata fatta considerando sia le personalità artistiche d'importanza maggiore, sia quelle rappresentative della cultura musicale ottocentesca. Un altro criterio di selezione dei musicisti è relativo all'attività compositiva e, in generale, artistica: essa deve essersi svolta principalmente in Svizzera. Il progetto ha potuto essere intrapreso grazie alle sovvenzioni provenienti dai ricavi del conio di monete commemorative della Confederazione e dai contributi dei Cantoni. Il progetto Repertorio dei compositori svizzeri dell'Ottocento ha avuto inizio il 1. settembre 1998.
</p>

<p>
    <a href="{{ site.search_url }}?utf8=✓&search_field=any_field&q=RepertoriumSchweiz&locale=it">Manoscritti</a>
</p>
