<h3>
    La biblioteca musicale del convento di suore benedettine di S. Andrea, Sarnen
</h3>
<p>
    L’abbazia di suore benedettine di S. Andrea a Sarnen possiede una delle più significative biblioteche musicali storiche della Svizzera. Già nel 2003 i collaboratori dell’ufficio RISM hanno ripulito e riordinato l’intera collezione e l’hanno riposta nel magazzino protetto per beni culturali (”Kulturgüterschutzraum“). Su questa base, RISM Svizzera ha potuto indicare al convento un preventivo dei costi di catalogazione del patrimonio musicale. I costi hanno potuto essere coperti grazie al generoso contributo della Fondazione Artephila, della Fondazione Reinle Suter di Lucerna, del Cantone Obvaldo e del convento stesso.
</p>
<p>
    Il finanziamento del progetto era così assicurato. Tuttavia, a breve distanza dall’inizio dell’inventariazione, l’alluvione dell’agosto 2005 ne ha sconvolto il piano. L’acqua allaga il magazzino, e le fonti musicali rimangono immerse per 72 ore. Con l’aiuto di innumerevoli volontari la musica viene salvata, provvisoriamente ripulita e congelata insieme agli altri tesori del convento. Nel 2006 l’impresa Docusave di Seftingen effettua la desidratazione.
</p>
<p>
    L’imprevisto disastro naturale costringe a rinviare l’inventariazione, poiché durante il salvataggio delle fonti l’ordine esistente era andato perduto e molte delle segnature, riportate con un pennarello, si erano disciolte nell’acqua. Anche il riordino viene effettuato da un gruppo di collaboratori del RISM Svizzera nella prima metà del 2007. Suddividendo il lavoro in varie fasi, vengono dapprima separati i manoscritti dalle stampe; in seguito, con acribica metodicità, le molte carte sciolte vengono riassegnate alle opere corrispondenti; ogni foglio riceve una nuova segnatura e numerazione e viene riposto in nuovi contenitori. Solo a questo punto inizia l’opera di restauro, sotto la guida di Andrea Giovannini.
</p>
<p>
    Parallelamente ai restauri, dall’autunno 2007 può iniziare la ricatalogazione di manoscritti e stampe. Durante i lavori d’inventariazione appare sempre più evidente la ricchezza e la varietà della biblioteca musicale di Sarnen. Essa mostra numerosi punti di contatto con le raccolte musicali dei conventi di Einsiedeln ed Engelberg e con la canonica di S. Michele a Beromünster. Accanto a opere ‘proprie’ del convento – composizioni di padre Wolfgang Iten da Engelberg, a lungo residente a Sarnen come padre spirituale, o dell’organista lucernese Franz Joseph Leonti Meyer von Schauensee – si trovano numerose copie di maestri europei del 18. e 19. secolo, ad esempio Carl Philipp Emanuel e Johann Christian Bach, Joseph Haydn e per finire Giovanni Battista Sammartini e Andrea Bernasconi.
</p>
<p>
    Il partimonio di fonti musicali del convento di S. Andrea a Sarnen è catalogato dalla Dr Gabriella Hanke Knaus seguendo le regole di catalogazione riconosciute internazionalmente ed è immesso nella banca-dati RISM. 
</p>
<h4>Bibliografia</h4>
<p>
    Buschor, Sr. Rut-Maria: Verborgene Juwelen der Musikwelt, in: Musik und Liturgie 4/10, a cura dello Schweizerischer Katholischer Kirchenmusikverband SKMV, luglio 2010, Gossau
</p>
