<h3>
    Fondi di compositori nella Biblioteca nazionale svizzera
</h3>
<p>
    Dal 2001, l'Ufficio svizzero del RISM cura i fondi storici musicali della Biblioteca nazionale svizzera (BN). Nel 2006, l'incarico è stato esteso all'inventario dei documenti d'archivio. Da allora, RISM Svizzera elabora d'un lato gli interi fondi di compositori, pubblicati dall'<a href="http://www.nb.admin.ch/org/organisation/00783/index.html?lang=it" target="_blank">Archivio letterario svizzero (ALS)</a> sotto forma di inventari, e dall'altro cataloga nella banca-dati RISM i documenti musicali compresi in questi fondi. Il piano di lavoro è realizzato in accordo con la BN nel contesto di un'offerta. Al momento, l'accento è posto sulla catalogazione dei <a href="http://www.nb.admin.ch/sammlungen/spezialsammlungen/00652/01080/index.html?lang=it" target="_blank">fondi completi</a> conservati presso l'ALS.
</p>
<p>
    A queste fonti si aggiungono numerose stampe musicali, che verso la metà del XX secolo sono state estratte dalle collezioni all'interno delle quali erano originariamente pervenute alla BN e inserite nella collezione generale. Tanto la biblioteca che RISM Svizzera hanno considerato necessario ripristinare i fondi nel loro stato originario per poterli rendere visibili nella loro integralità.
</p>
<p>
    Accanto alla redazione di inventari e alla catalogazione di tutte le fonti musicali nella banca-dati RISM, l'ufficio RISM si prende carico delle richieste degli utenti riguardo i fondi musicali della BN. In particolare viene consultata regolarmente la raccolta Josef Liebeskind, che contiene fonti importanti di Christoph Willibald Gluck e Karl Ditters von Dittersdorf.
</p>
<p>
    <a href="http://www.nb.admin.ch/dienstleistungen/benutzung/index.html?lang=it" target="_blank">Utilizzo delle raccolte della Biblioteca nazionale svizzera</a>: Richieste riguardanti dei documenti in corso di elaborazione possono essere soddisfatte solo in misura limitata. L'ufficio svizzero del RISM spera nella comprensione degli utenti.
</p>
