<h3>
    Musica dei Monasteri Svizzeri
</h3>
<p>
    Nel settembre 2005 il Fondo Nazionale Svizzero per la Ricerca Scientifica ha stanziato un importante finanziamento al progetto di ricerca Musica dei monasteri svizzeri proposto dalla <a href="http://www.unifr.ch/musicologie/" target="_blank">cattedra di Musicologia dell’Università di Friburgo</a> diretta da Luca Zoppelli, in collaborazione con l’Ufficio svizzero del RISM, la Società Svizzera di Musicologia, la Fonoteca Nazionale Svizzera (Lugano) e un comitato scientifico internazionale. Scopo del progetto è riconoscere, studiare e spiegare nel loro contesto storico e liturgico, nonché di rendere finalmente accessibile agli studiosi e ai musicisti un numero importante di documenti musicali del XVII, XVIII e XIX secolo conservati nelle biblioteche dei monasteri della Svizzera.
</p>
<p>
    Questo vasto patrimonio, che conta documenti di valore musicale insospettabile, è rimasto quasi totalmente sconosciuto fino ad oggi. Il progetto si propone quindi di studiare e svelare alla conoscenza generale un campo di ricerca in gran parte ancora inesplorato.
</p>
<p>
    La ricerca in tale ambito è già a buon punto: lo attestano le edizioni critiche di composizioni selezionate pubblicate sino ad oggi. Con la catalogazione dei fondi musicali dei monasteri di Einsiedeln, Engelberg, Disentis, Müstair e Neu St. Johann, della collegiata di Beromünster e dell’abbazia delle suore benedettine di St. Andreas a Sarnen (fondo parziale) l’Ufficio svizzero del RISM ha condotto decisivi lavori preliminari nel rendere disponibili le fonti. Grazie a questo lavoro, sappiamo che tali biblioteche possiedono oggi un’imponente quantità di fonti musicali manoscritte e a stampa, spesso in parti separate, provenienti dai secoli XVII, XVIII e XIX. Lo studio e la trascrizione di un certo numero di partiture di questo corpus presentano molteplici ragioni d’interesse:
</p>
<ul>
    <li>si evidenzia la particolarità delle musiche scritte per le liturgie locali specifiche, quali ad esempio le musiche «angeliche» composte per la festa della Engelweihe (commemorazione della "dedicazione angelica" della cappella della Madonna) a Einsiedeln,
    </li>
    <li>si permette una panoramica della storia della stampa musicale in certi centri della Svizzera: ad esempio le raccolte op. I e op. II del padre Johannes Evangelista Schreiber (1716-1800), monaco a Sankt Urban, sono pubblicate dall’editore Hautt a Friburgo nel 1747 e 1749, mentre l’op. III dalle edizioni del monastero di San Gallo,
    </li>
    <li>viene svelata la presenza di composizioni di autori «esterni» di grande valore, come nel caso delle messe composte da Hans Huber (1852-1921) per l’abbazia di Einsiedeln,
    </li>
    <li>si scopre infine che molte partiture sono degli unica di grandissimo valore storico e estetico, quale ad esempio la musica sacra di Giovanni Battista Sammartini (c. 1700-1775), le cui fonti si trovano quasi integralmente a Einsiedeln.
    </li>
</ul>
<div style="float: right; margin: 5px 0px 30px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/kunzelmann.jpg" alt="kunzelmann">
</div>
<p>
    La situazione odierna della ricerca evidenzia soprattutto la mancanza quasi assoluta di edizioni musicali. Per questa ragione, una delle priorità del progetto è la pubblicazione di testi musicali. In base ai cataloghi dell’Ufficio svizzero del RISM, un comitato editoriale seleziona le musiche più interessanti che saranno trascritte in partitura secondo i criteri filologici appropriati, situate nel loro quadro stilistico, storico e liturgico, e pubblicate con un’introduzione storico-critica dettagliata e un commento critico. Queste partiture verranno pubblicate nel quadro di una serie di monumenti musicali della Società Svizzera di Musicologia, presieduta all'epoca da Therese Bruggisser-Lanker.
</p>
<h4>
    Volumi pubblicati finora:
</h4>

<a target="_blank" href="http://www.smg-ssm.ch/smg/Forschung-Publikationen/Editionen/Musik-aus-Schweizer-Kloestern.html">Editionsreihe "Musik aus Schweizer Klöstern"</a>

<h4>
    Articolo della stampa
</h4>

{% include common/swiss-monasteries-press.html %}