<h3>
    Biblioteca centrale e universitaria di Lucerna 
</h3>
<p>
    Il fondo musicale storico della Biblioteca centrale e universitaria di Lucerna (BCU Lucerna) ha un'importanza non solo a livello regionale, ma anche nel contesto della storia della musica dell'intera Svizzera. Comprende circa 240 manoscritti del Sette e Ottocento (in particolare, di Leo Stöcklin e Franz Joseph Breitenbach), vari fondi completi (ad esempio, di Richard Rosenberg, Albert Jenny, Otto Kreis e altri) e circa 600 edizioni musicali a stampa del XVIII e XIX secolo. A questi si aggiungono singoli manoscritti di musiche di Franz Xaver Schnyder von Wartensee, il cui fondo parziale è anche di rilievo per il progetto "Repertorio dei compositori svizzeri dell'Ottocento". 
</p>
<p>
    Accanto ai manoscritti, nella BCU Lucerna si trovano anche varie edizioni musicali a stampa del XVIII secolo in deposito dalla collegiata di S. Leodegar. Si tratta perlopiù di miscellanee e volumi compositi, trasmessi in parti staccate. L'importanza di questa collezione risiede d'un lato nel suo ruolo di complemento alle edizioni già catalogate nella serie RISM A/I, e dall'altro nell'offrire un panorama della prassi musicale corrente nella 'Hofkirche' di Lucerna nel Sette e Ottocento. Grazie alla catalogazione da parte di RISM, tanto la musicologia come la prassi musicale ricevono uno strumento per l'identificazione, la ricerca e la riproposta esecutiva di fonti musicali storiche.
</p>
<p>
    Il progetto di catalogazione si articola su vari anni, vista la grande quantità di fonti musicali storiche. In un primo passo sono catalogate le edizioni a stampa della collegiata di S. Leodegar, in seguito i manoscritti più rappresentativi. In parallelo, tutti gli altri documenti come corrispondenza, fotografie o appunti sono catalogati dal personale della biblioteca nel catalogo collettivo dei manoscritti, degli archivi e dei fondi postumi (<a href="http://www.ub.unibas.ch/han/" target="_blank">il consorzio HAN</a>).
</p>
    Contatto: <a href="/contact.html">Cédric Güggi</a>
</p>

