---
layout: default
search: true
active_section: cataloging
lang: de
redirect_from: /pages/cataloging/
---

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="lang en">
            {% include en/cataloging.html %}
        </div>
        <div class="lang de">
            {% include de/cataloging.html %}
        </div>
        <div class="lang fr">
            {% include fr/cataloging.html %}
        </div>
        <div class="lang it">
            {% include it/cataloging.html %}
        </div>
    </div>
    <div class="col-md-4 col-sm-12 hidden-xs hidden-sm">
        <img src="/images/rism_ch/box.jpg" alt="box">
    </div>
</div>
