---
layout: default
search: true
active_section: cds
active: cd-swiss-monasteries
lang: de
redirect_from: /pages/cd/
---

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="lang en">
            {% include en/cd-swiss-monasteries.html %}
        </div>
        <div class="lang de">
            {% include de/cd-swiss-monasteries.html %}
        </div>
        <div class="lang fr">
            {% include fr/cd-swiss-monasteries.html %}
        </div>
        <div class="lang it">
            {% include it/cd-swiss-monasteries.html %}
        </div>
    </div>
    <div class="col-md-4 col-sm-12 hidden-xs hidden-sm">
        <img src="/images/rism_ch/cd-swiss-monasteries.png" alt="box">
    </div>
</div>
