---
layout: default
search: true
lang: de
redirect_from: 
  - /pages/home/
  - /pages/indexes/
  - /pages/inventories/
  - /pages/logos/
  - /pages/database/
---

<div class="row hidden-xs">
    <div class="col-sm-7">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <img src="images/carousel/scanner.jpg">
                </div>
                <div class="item">
                    <img src="images/carousel/muscat-3.jpg" border="2">
                </div>
                <div class="item">
                    <img src="images/carousel/psalm-2.jpg">
                </div>
                <div class="item">
                    <img src="images/carousel/shelf-2.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-description col-sm-5 lang en">
            {% include en/home-images.html %}
    </div>
    <div class="carousel-description col-sm-5 lang de">
        {% include de/home-images.html %}
    </div>
    <div class="carousel-description col-sm-5 lang fr">
        {% include fr/home-images.html %}
    </div>
    <div class="carousel-description col-sm-5 lang it">
        {% include it/home-images.html %}
    </div>
</div>

<div class="separator hidden-xs"></div>

<div class="lang en">
    {% include en/home.html %}
</div>
<div class="lang de">
    {% include de/home.html %}    
</div>
<div class="lang fr">
    {% include fr/home.html %}
</div>
<div class="lang it">
    {% include it/home.html %}
</div>

<h3 class="news" data-localize="news"></h3>

<div>
{% for post in site.posts %}
    <div class="news">
        <h4>
        
                <div class="lang en">{{ post.title.en }}</div>
                <div class="lang de">{{ post.title.de }}</div>
                <div class="lang fr">{{ post.title.fr }}</div>
                <div class="lang it">{{ post.title.it }}</div>
            </a>
        </h4>
        {{ post.excerpt }}
        <p class="lang en news-more"><a href="{{ post.url }}">read more ...</a></p>
        <p class="lang de news-more"><a href="{{ post.url }}">mehr lesen ...</a></p>
        <p class="lang fr news-more"><a href="{{ post.url }}">en savoir plus ...</a></p>
        <p class="lang it news-more"><a href="{{ post.url }}">read more ...</a></p>
        <div style="clear: both;"></div>
    </div>
{% endfor %}
</div>

<script type="text/javascript">

    function load_description( image ) {
        $(".carousel-description").each(function(){
            des = $("p", this).eq( image );
            $("p", this).not(des).hide();
            des.show();
        });
    }
    
	$( document ).ready(function() {
        rand = Math.floor( Math.random() * $( "#carousel .item" ).length );
        $('#carousel .item').eq(rand).addClass("active");
        load_description( rand );
        
		$( "#carousel" ).carousel( { interval: 10000 } );
        $( "#carousel" ).on('slid.bs.carousel', function (e) {
            idx = $(".active", e.target).index();
            load_description(idx);
        });

	});
</script>