---
layout: default
search: true
active_section: projects
hide_secondary: true
lang: de
redirect_from: /pages/projects/
---

<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="lang en">
            {% include en/projects.html %}
        </div>
        <div class="lang de">
            {% include de/projects.html %}
        </div>
        <div class="lang fr">
            {% include fr/projects.html %}
        </div>
        <div class="lang it">
            {% include it/projects.html %}
        </div>
    </div>
    <div class="col-md-4 col-sm-12 hidden-xs hidden-sm" style="margin-top: 25px;">
        <img src="/images/rism_ch/scanner.png" alt="box" class="pull-right" style="margin-right: 5px;">
    </div> 
</div>

{% include secondary_links.html %}

