{% include common/about_us_logos.html %}

<div>
    
    <h3>
        About us
    </h3>

    <p>
        Since its foundation in 1956 the Swiss RISM branch has recorded
        systematically more than 10'000 prints before 1800, collective prints
        of the 16th, 17th and 18th centuries and other works about music, more
        than 34'000 manuscripts after 1600 as well as more than 21'000 prints
        of the 19th and 20th centuries.
    </p>

    <p>
        Since 1996 the Swiss RISM branch is organized as an independent
        association mainly financed through contributions for projects and
        commissions for inventorization by libraries and archives. The
        following founding members established Swiss RISM Association on
        June 21st 1996:
    </p>

    <ul>
        <li>Swiss Musicological Society (<a href="http://www.smg-ssm.ch" target="_blank">SMG</a>)</li>
        <li>Association of Swiss Music Collections (<a href="http://www.iaml.ch" target="_blank">ASCM</a>)</li>
         <li>Swiss Society for the Rights of Authors of Musical Works (<a href="http://www.suisa.ch/en/" target="_blank">SUISA</a>)</li>
         <li>Swiss Music Council (SMR: <a href="http://www.miz.ch/smr/de.aspx" target="_blank">german version</a>, <a href="http://www.miz.ch/smr/fr.aspx" target="_blank">french version</a>)</li>
    </ul>

    <h4>Organisation</h4>

    <ul>
        <li><a href="{{ site.baseurl }}/committee.html">Steering committee</a></li>
        <li><a href="{{ site.baseurl }}/contact.html">Swiss RISM office</a></li>
        <li><a href="{{ site.baseurl }}/association.html">Association</a></li>
    </ul>
    
    <h4>Press articles</h4>

    {% include common/about_us_press.html %}

</div>