<h3>
    Association
</h3>
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <p>
            The Swiss RISM Association is open to all interested persons and institutions. The benefits of membership are a free information and qualified advice on manuscripts and printed music collections held in Switzerland institutions. Periodically, the RISM organizes cultural events such as concerts, CD recordings or catalog presentations, to which members are invited. The annual meeting of the Association provides information to members and also enables the election of the board of directors to be held. A cultural event is linked to this meeting which allows members to create or maintain contacts.
        </p>
        <h4>
            Cost of membership
        </h4>
        <ul>
            <li>Individuals min. CHF 50.--
            </li>
            <li>Institutions min. CHF 100.--;
            </li>
            <li>Sponsor member min. CHF 500.--
            </li>
        </ul>
        <br/>
    </div>
    <div class="col-sm-4 col-xs-12">
        <p>
            <img src="/images/rism_ch/pdf.png">
        </p>
        <p>
            Statutes of the Association <a href="http://docs.rism-ch.org/Statuten_DEUTSCH.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/STATUTS_FRAN.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2005  <a href="http://docs.rism-ch.org/Jahresbericht_2005.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Rapportannuel_2005.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2006 <a href="http://docs.rism-ch.org/Jahresbericht_2006.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Rapportannuel_2006.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2007 <a href="http://docs.rism-ch.org/Jahresbericht_2007.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Rapportannuel_2007.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2008 <a href="http://docs.rism-ch.org/Jahresbericht_2008.pdf" target="_blank">DE</a> /<a href="http://docs.rism-ch.org/Rapport_annuel_2008.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2009 <a href="http://docs.rism-ch.org/Jahresbericht-2009-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2009-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2010 <a href="http://docs.rism-ch.org/Jahresbericht-2010-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2010-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2011 <a href="http://docs.rism-ch.org/Jahresbericht-2011-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2011-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2012 <a href="http://docs.rism-ch.org/Jahresbericht-2012-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2012-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2013 <a href="http://docs.rism-ch.org/Jahresbericht-2013-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2013-f-web.pdf" target="_blank">FR</a>
        </p>
        <p>
            Annual report 2014 <a href="http://docs.rism-ch.org/Jahresbericht-2014-d-web.pdf" target="_blank">DE</a> / <a href="http://docs.rism-ch.org/Jahresbericht-2014-f-web.pdf" target="_blank">FR</a>
        </p>
    </div>
</div>
