<h3>
    Cataloguing in the music archive of the BCU Lausanne
</h3>

<p>
  Within the framework of the cooperation with the music archive of the BCU Lausanne, RISM Switzerland will catalogue the collections of Henri Plumhof (1836-1914), Paul Juon (1872-1940), Louis Piantoni (1885-1958) and Raffaele d'Alessandro (1911-1959).
</p>

<p>
  The cataloguing of the Plumhof and Juon collections is an extension and verification of holdings already catalogued at an earlier date. The Plumhof Nachlass includes, besides some instrumental works, numerous choral works that are probably in connection with his busy activity as a conductor of various choirs in Vevey and Lausanne. Plumhof has contributed significantly to the revival of choral singing in French-speaking Switzerland. The Swiss composer of Russian origin, Paul Juon, was instead mostly active in Berlin. With the advent of Nazism in 1934 he moved from Berlin to Vevey. Besides instrumental and vocal music, Juon has written several theoretical works, e.g. the Aufgabenbuch für den einfachen Kontrapunkt (1910) or the Handbuch für Harmonie (1919).
</p>

<p>
  The cataloguing of the partial Nachlass Piantoni is complementary to the inventory of the holdings in the National Library, which were catalogued in 2011 by RISM Switzerland. The Nachlass of the Geneva-born composer was divided at his request in 1976 by his wife, Paulette Piantoni-Chatron, between the National Library in Bern and the BCU Lausanne and was handed over to the two libraries. Piantonis compositions include works for piano and for organ, Lieder, chamber, choral and orchestral music. His musical style is influenced by French composers.
</p>

</p>
 Among the four composers, Raffaele d'Alessandro is probably the best known. The BCU Lausanne has only a few sources, mainly reproductions of his autographs. The cataloging of these documents also represents a complement to the Nachlass in the National Library, catalogued already in 2011 on the occasion of the 100th birthday of the composer. His work covers every genre of music, from chamber and orchestral works to stage and film music.

<h4>
