<h3>
    Collection of the Convent of Montorge
</h3>

<p>
    The music collection of the Convent of Montorge was transferred to the University and Cantonal Library of Fribourg by the Institute of Musicology of the University of Fribourg in 2016. The collection reflects on the one hand the sacred and liturgical music repertoire of the Capuchin sisters in the 18th and 19th centuries and, on the other hand, reveals several links with the music collections of the monasteries of Einsiedeln and Beromünster and with the female abbey of St Andrew's in Sarnen. A large part of Montorge's music collection consists of manuscripts. However, there are also some printed documents. In addition to the vocal music for the service, there are sources for the ordinary and the proper of the Mass. The composers are mainly from Italy or southern Germany. However, the composer could not be identified for a significant part of the manuscripts.
   </p>
<p>
    Contact: <a href="/contact.html">Florence Sidler</a>
</p>
