<h3>
    Cataloguing projects
</h3>
<p>
    The aim of the Swiss RISM is to inventory the largest number of musical sources and make them accessible to the public. The work is organized according to specific projects. In the projects, the sources are documented and if necessary transferred into non-acid boxes.
</p>
<p>
    The RISM operates as a service provider. Projects are developed and implemented in collaboration with the institutions (libraries, archives, monasteries) that own the sources.
</p>
