<h3>
    From Bologna to Beromünster – Cazzati: Messa e Salmi, op. 36
</h3>

<div style="float: right; margin: 0px 0px 0px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/cd_cazzati.jpg">
    <p align="center">
        <a href="http://docs.rism-ch.org/press/CD_1605_booklet.pdf" target="_blank">Download CD booklet (PDF)</a> 
    </p>
</div>

<p>
    The music library of Beromünster Collegiate church (CH-BM) houses the Bonus Ordo Musicus, a handwritten inventory from 1696 which lists a music collection from the time that is largely lost today. In a separate project, <a href="http://inventories.rism-ch.org/" target="_blank">Historical Music Inventories 1500-1800</a>, RISM Switzerland digitized, indexed, and published online this and other inventories. The inventory registers a printed edition of Messa e Salmi, op. 36, by Maurizio Cazzati (1616-1678), who in his time as Maestro of the Basilica San Petronio in Bologna held a distinguished position within the musical life of the city.
</p>
<p>
    On the occasion of the 20th anniversary of the RISM Switzerland Association – and the 400th birthday of Cazzati – RISM Switzerland had the opportunity to produce a CD of this work in cooperation with the music label <a href="http://www.claves.ch/collections/all-albums/products/from-bologna-to-beromunster-maurizio-cazzati-mass-psalms-op-36" target="_blank">Claves Records</a> and the Basel ensemble <a href="http://www.voces-suaves.ch/" target="_blank">Voces Suaves</a>. RISM staff played an advisory role while the CD was being recorded and they also wrote texts for the booklet. In addition, they assumed some organizational and administrative tasks and the Association also made a considerable financial contribution to the project. The CD was released on 4 March 2016 and is available in stores and to download online.
</p>

{% include common/cd-cazzati-dlinks.html %}

<h4>
    Press articles
</h4>

{% include common/cd-cazzati-press.html %}
