<h3>
    CD - Swiss Monasteries Music
</h3>
<p>
    The production of a CD has been on the wish list of the RISM for a while. In 2009, it was possible to make it.
</p>
<p>
    The CD is based on recordings produced at the Saint-Michel church, with the exception of the Magnificat of Anselm Schubiger - a contrafacta on excerpts of the Mozart opera „Le nozze di Figaro“. The performer are the ensemble specialised in early music Capriccio Basel, the vocal ensemble Cappella Murensis, and solo singers specialised in sacred music, under the direction of Johannes Strobl.
</p>
<p>
    The CD contains mostly liturgical works from the 18th century. On the one side, the CD contains two compositions from Giovanni Battista Sammartini (1701-1775): the Miserere and the Beatus vir, the second being a contrafacta. The contrafacta is based on a work that very early made its path to the affiliated monastery of Bellizona, and then through the Alps to the principal monastery of Einsiedeln. On the other side, the CD includes two original compositions from the internal production of the benedictin monastery of Ensiedeln. The two works, one from P. Gerold Brandenberg (1729-1795) and the other from P. Marian Müller (1724-1780), where especially composed for the Engelweihe feast, which is still widely celebrated today. The aforementioned Magnificat from Schubiger, played during a concert at the international RISM days organised within the IMS congress in 2007, concludes the CD.
</p>
<h4>
    Press articles
</h4>

{% include common/cd-swiss-monasteries-press.html %}
