<h3>
    Knowledge transfer
</h3>
<p>
    A major concern of the Swiss RISM is to familiarize future musicians and musicologists with the activity of the RISM. To this end, the collaborators of RISM Switzerland give lectures and courses.
</p>
<h4>
    Course at the University of Basel
</h4>
<p>
    Claudio Bacciagaluppi was charged with a course on behalf of RISM Switzerland at Basel University in the fall semester of 2014. The course was entitled "Ancient Sources, New Media: RISM and digital editions of music, with study cases 1550-1700". The course introduced the opportunities and challenges arising from the application of digital technologies in the fields of music bibliography and music publishing. The activities of the Swiss RISM office served as a guide. An introduction to the principal issues (digital humanities, digital music editions and RISM database, for example) was followed by several case studies taken from between the 16th and 17th centuries. Five double lessons were given by other employees of RISM Switzerland. An excursion to the music library of the abbey of Einsiedeln, led by Father Lukas Helg OSB, rounded off the course.
</p>
<h4>
    Course at the University of Bern
</h4>
<p>
    In the fall semester of 2011, a course led by Prof. Dr. Cristina Urchueguia was held at the University of Bern, entitled "Working with musical sources in Switzerland". The exercise enabled the students, under the direction of Swiss RISM employees (Claudio Bacciagaluppi, Laurent Pugin, Yvonne Peters, and Nicola Schneider), to become systematically acquainted with the different stages of cataloguing work, to discuss them and put them into practice. Examples from the RISM office - real sources - were used as the object of the students' work. The purpose of the exercise was to convey basic and in-depth knowledge on the realization of musicological catalogues. The catalogues are sometimes difficult to read and cumbersome, but they are a treasure of unknown works, new and exciting, which could decisively expand our field of view on the history of music. During an excursion, Father Lukas Helg OSB led the students through the music library of the monastery in Einsiedeln.
</p>