<h3>
    RISM Digital Library
</h3>

<p>
    In the series 'RISM Digital Library' (d-lib), archival documents of interest for the history of music in Switzerland are published. Given the particular nature of these documents, an online publication presents decisive advantages over traditional paper publication.

The documents collected in this series (concert programs, correspondence, minutes of society meetings) are in themselves discontinuous texts but are generally united by an institutional continuity. Because of this structure, the traditional form of publication on paper, either in facsimile or in the form of a transcript, is not adequate. A digital publication is the most effective way to enhance both the documents themselves and the research attached to them.
</p>
<p>
The publication is organized along three lines:
</p>
<ul>
    <li>scanning documents and publishing the images</li>
    <li>transcribing the documents and linking the transcription with the corresponding images</li>
    <li>indexing the content (persons, dates, etc.)</li>
</ul>
<p>
    This organization, linking the images of the scanned document, its transcription and various indexes, is a quite original kind of publication. Its interest is that it works at the same time as a facsimile edition of the document, as a text transcription and as a database. The three aspects are united, avoiding the difficult choice between these approaches.
</p>
<p>
An ISSN code permits to easily reference the set, and each volume is identified by a permanent address (<a href="http://purl.org" target="_blank">purl.org</a>). The series is organized in order that further editions of relevant documents to the history of music in Switzerland in the modern age can be integrated easily. Transcriptions and indexes follow the TEI standard (<a href="http://www.tei-c.org" target="_blank">Text Encoding Initiative</a>).
</p>
<h4>
    Published volumes
</h4>
<p>
    <a href="http://d-lib.rism-ch.org/onstage">OnStage</a>
</p>
<p>
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">Kapellmeisterbuch</a>
</p>
