<h3>
   Digital Music Unica in Switzerland (D-MUS)
</h3>

<p>
    The project aims at providing public access to unique musical sources kept in private or small public libraries and archives in Switzerland. These sources, being of great interest to researchers and performers, are digitised and published in the RISM catalogue.
</p>
<p>
    Manuscripts are by definition unique, even if several manuscript copies or printed scores do exist. Manuscript sources are especially precious if they are written in the composer's own hand. Autograph scores may reveal details lost in subsequent copies, give insight into the process of composition, or show traces of their use in early, viz. first performances. Providing samples of the composers' handwriting may be of help in comparing and identifying the scribes of other manuscripts. Only complete autograph scores of works in public domain, according to Swiss right, were considered for digitisation. To date, there are some 3'500 manuscripts by 174 composers distributed in 23 libraries complying to these criteria in the RISM database. From these titles, a selection of approximately 500 items will be digitised and published online.
</p>
<p>
    Printed sources may be unique, if the copy preserved is the only surviving copy of that edition or print run. Particularly interesting for the public are unique copies of the first preserved editions of a musical work. Still, for the researcher also unique copies of reprints can yield precious insights, in the case of adaptations or modifications in the musical text, or also just as a testimony of a work's enduring popularity. Some 1600 unique copies of music prints in 40 different locations are preserved in Switzerland. The aim of the project is to digitise and publish them all online. 
</p>
<p>
    The project started with a pilot phase in 2017 (comprising sources from the National Library in Bern and the library of the Hochschule der Künste Bern). It is planned to be accomplished by 2020
</p>

   </p>
    Contact: <a href="/contact.html">Claudio Bacciagaluppi</a>
</p>
