<h3>
    Swiss composers of the 19th century in the music library of the monastery of Einsiedeln
</h3>
<p>
    The project Swiss composers of the 19th century in the music library of the monastery of Einsiedeln originated in consequence of the inventory project <a href="/cataloging/repertorium">Repertory of Swiss composers of the 19th century</a> carried out by the Swiss RISM in the music library of <a href="http://www.kloster-einsiedeln.ch/" target="_blank">Einsiedeln monastery</a>. The project was started on 1 July 2000 and finished in Spring 2007. 6472 sources were recorded: 1688 music manuscripts and 4784 printed music editions.
</p>
<div style="display: block;">
    <p>
    Many sources of the composers selected for the Repertory of Swiss composers of the 19th century are preserved in the music library of Einsiedeln monastery. Still, there was as strong wish on behalf of the director of the music library of Einsiedeln monastery, Father Lukas Helg, to fully document the Swiss composers of the 19th century in the music library of the monastery and to carry out the cataloging in partnership with RISM Switzerland. Already the fact that the Einsiedeln library, apart from the sources documented in the Repertory of Swiss composers of the 19th century, still contains about 3'000 further music manuscripts or printed music editions by Swiss composers of the 19th century, illustrates the significance of the music library of Einsiedeln monastery for the Swiss music history of the 19th century and legitimates the strong wish for a complete catalog and documentation.    </p>
    <p>
        In order to realize this ambitious project Father Lukas Helg agreed to gather the data by means of the RISM software PIKaDo; thanks to this generous concession the Swiss RISM office was permitted to establish a "branch" in the music library of the monastery in Einsiedeln. The costs for this project were fully borne by the monastery in Einsiedeln; for the project the monastery itself was financially supported by a substantial contribution coming from the <a href="http://www.ubs.com/global/en/about_ubs/stiftungen.html" target="_blank">UBS Culture Foundation</a>.
    </p>
    <h4>
        Contact
    </h4>
    <p>
        P. Lukas Helg OSB<br>
        Kloster<br>
        CH-8840 Einsiedeln<br>
        Tel: +41(0) 55 418 65 49<br>
        Fax: +41(0) 55 418 61 12<br>
        e-mail: <a href="mailto:lukas.helg@bluewin.ch">lukas.helg@bluewin.ch</a>
    </p>
</div>
