<h3>
    Search tips for performing musicians
</h3>
<p>
    An important goal of RISM Switzerland is that its source database be used increasingly by performing musicians, in addition to scholars and musicologists. In fact, the database contains a number of exciting music sources, far off from the standard concert repertoire, which await to be performed. Often these compositions are born locally. So why not perform a work which was written explicitly for a specific location? Some general questions are answered below.
</p>

<p class="faq">
    Is access to the RISM database open?
</p>
<div class="faq-answer">
    <p>
        The database of RISM Switzerland is provided free of charge and no login is required to search for sources. Costs may however arise with the libraries, particularly when requesting copies.
    </p>
</div>
<p class="faq">
    Where are the sources listed in the database?
</p>
<div class="faq-answer">
    <p>
        RISM Switzerland itself is not in possession of any musical sources. These are located in different institutions. Please contact directly the library owning the source and take an appointment. Contact details can be found under the heading Library sigla.
    </p>
</div>
<p class="faq">
    Where can I get copies of the sources?
</p>
<div class="faq-answer">
    <p>
        Reproductions of sources can be requested from most libraries. Please check this directly with the owner institutions and note that fees may apply for copies. Moreover, especially in the case of performances, check the copyright situation of the works concerned.
    </p>
</div>
<p class="faq">
    Is it possible to download digital copies of the sources?
</p>
<div class="faq-answer">
    <p>
        A few sources were digitized and published online by RISM Switzerland in the course of specific projects. Some of these can also be downloaded. However, it is not the task of RISM to digitize all sources.
    </p>
</div>
<p class="faq">
    What types of material are there in the sources?
</p>
<div class="faq-answer">
    <p>
        RISM Switzerland catalogues all types of materials. Most often, these are Manuscripts or Prints; manuscripts are further divided in Autographs, questionable autographs (Probably autograph) and copies (Manuscript). The appropriate term is found under the heading Source details / Autograph note.
    </p>
</div>
<p class="faq">
    Which repertoire is included in the RISM database?
</p>
<div class="faq-answer">
    <p>
        The database contains a wide repertoire of music. The distribution ranges from music for solo instrument to large-scale orchestral compositions, and the time-span of the works goes from the 15th to the 20th century. In terms of genres, the database covers a broad spectrum, in which the sacred music is given a special significance.
    </p>
</div>
<p class="faq">
    How are the catalogue entries in the RISM database organized?
</p>
<div class="faq-answer">
    <p>
        The database contains individual entries (sources which include a single work), but also miscellanies and Collections. The latter consist of several individual works; miscellanies contain at least one collection and, in addition, further collections and/or individual works. The database is structured in a hierarchical order, that is, all higher-level entries (miscellanies and/or collections) are linked with their individual sub-entries and vice versa.
    </p>
</div>
<p class="faq">
    Are the libraries always in possession of the whole performance material?
</p>
<div class="faq-answer">
    <p>
        This is not always the case. Check in the database entries if the source material is fully available. You will find the remark "Incomplete material" under the header Further information. In these cases, there is usually a more accurate description of the missing parts in the field Source details / Parts missing. Also look for terms such as "missing" or "incpl" in the Source details.
    </p>
</div>
<p class="faq">
    Are there special search filters for my projects?
</p>
<div class="faq-answer">
    <p>
        In the RISM database a good result can be achieved both with the advanced search as well as with the full-text search (Quick search). There is also the possibility to browse different indexes. To refine a query, a number of filters are offered. These allow to filter results by genre (e.g., Symphonies), languages (e.g., roh = Romansh), library sigla (e.g., CH-E = Einsiedeln monastery library), text authors (e.g., Staub, Joseph), and of course general keywords (e.g., Sängerverein).
    </p>
    <p>
        A special project in which RISM Switzerland has been engaged for some time already is the <a href="/cataloging/repertorium.html">"Repertoire of Swiss Composers of the 19th Century"</a>. If you wish to look up sources in this project, you can filter them by typing the keyword RepertoriumSchweiz.
    </p>
</div>
<!--
<p class="faq">
    Can I also search for musical motives?
</p>
<div class="faq-answer">
    <p>
        This is possible. The search for motives (Incipit search) is suitable above all to find concordances / several sources for the same work. The incipit search produces good results also to identify works of which only the main theme is known. The following <a href="http://www.rism-ch.org/pages/help">link</a> is a guide to the incipit search.
    </p>
</div>
-->
<p class="faq">
    Who do I contact if I have doubts?
</p>
<div class="faq-answer">
    <p>
        For questions about specific sources, please contact the owner institution. This also applies to organizational issues such as announcing yourself for a visit to the library, ordering a reproduction of the source, etc. For any other question feel free to contact RISM Switzerland. You will find our <a href=/contact.html>contact</a> details on our website.
    </p>
</div>
