<h3>
    Music collections in Swiss archives and libraries
</h3>
<p>
    The lists <a href="/links/ch-people-a-e.html">Collections – People</a> and <a href="/links/ch-institutions.html">Collections – Institutions</a> give an overview of collections with emphasis on music kept in Swiss archives and libraries. They contain autographs, manuscripts, prints, material linked to works, sound recordings, handwritten texts, printed texts, correspondence, photographs and other personal or business documents.
</p>
