<h3>
    Geschlossene Musikbest&auml;nde in schweizerischen Archiven und Bibliotheken
</h3>
<p>
    Die Listen <a href="/links/ch-people-a-e.html">Best&auml;nde - Personen</a> und <a href="/links/ch-institutions.html">Best&auml;nde - Institutionen</a> bieten einen &Uuml;berblick &uuml;ber Best&auml;nde mit Schwerpunkt Musik, die in der schweizerischen Archiven und Bibliotheken aufbewahrt sind. Darunter befinden sich Nachl&auml;sse, Archive, Sammlungen und Handbibliotheken. Sie umfassen Dokumente, wie: Autographe, Musikhandschriften, Musikdrucke, Materialien zum Werk, Tontr&auml;ger, Textmanuskripte, Druckschriften, Korrespondenz, Fotos und weitere pers&ouml;nliche oder gesch&auml;ftliche Unterlagen.
</p>
