<h3>
    Fischingen monastery
</h3>
<p>
    The aim of the inventory project at Fischingen monastery is to document comprehensively the rich liturgical and musical tradition of Benedictine monks in the late Baroque era and during the Enlightenment, on the basis of handwritten and printed music from the late 17th to the early 19th century. This inventory derives its unique importance from the fact that the repertoire of Fischingen monastery is complementary to the collections already catalogued by the Swiss RISM at Beromünster, Einsiedeln, Engelberg, Disentis, St. Gallen (new St. Johann) and in the convent of St Andrew in Sarnen (which is nearly completed).
</p>
<p>
    The aim of the Fischingen monastery project is to produce a full catalogue of the musical items. Particular attention is given to the handwritten music sources that have a direct relation to monastic musical practice between 1692 and 1808, as they were largely composed especially for the music of the Benedictine liturgy in Fischingen. Of particular importance here is the "Diurnale Monastico Benedictinum" from 1805; this festival calendar for the liturgical celebrations of the Benedictines in Fischingen is the key to rediscovering the monastic musical life at the beginning of the 19th century. In addition, there are handwritten sources of the Ordinary and the Proper of the Mass and numerous melodies for the Office.</p>
<p>
    The richness of the musical culture is also reflected in the number of printed musical sources, almost all of which date from the 18th century, and reflect the ambitious repertoire of solemn church music in Swiss monasteries that always included polyphonic music with instrumental accompaniment. Thus it is not surprising that the printed material is of greater extent than the manuscript sources.</p>
<p>
    This inventory project has been made possible by the Association of the friends of the Fischingen monastery. The Fischingen monastery project was begun on 19 May 2014.</p>
