<h3>
    Musical fragments in the bindings of the Frey-Gryn Institute library
</h3>

<p>
    The original collection of the Frey-Gryn library in Basel dates from 1747. In a project launched in 2012, the Swiss RISM inserted into its database those books which present handwritten music on their bindings. The project is a collaborative endeavour between the Institute for Musicology of the University of Basel, the Frey-Gryn Institute and Basel University Library. Among the ca. 1,200 books with parchment or half-parchment bindings, 17 with music notation were identified and catalogued (and one additional volume in the more recent collection). In a subsequent stage, the part of the collection deposited in Basel University Library was examined (ca. 8,500 volumes). Here, 124 musical fragments were found and catalogued in the RISM database. At present, the bindings are digitized by the Basel University Library. The images will be linked to the catalogue data, providing the users not only with metadata, but also with a reproduction of the source itself.
</p>

<p>
    The description of such fragments is important for musicological research. Firstly, a no longer existing library can under certain circumstances be partially reconstructed. In fact, after the Reformation, Catholic liturgical books of former monasteries in Basel were often taken apart by numerous booksellers and re-used as bindings. Secondly, the distribution of liturgical musical can be tracked.
</p>
