<p>
    Several <a href="infrastructure.html">infrastructure projects</a> are centred on the music sources. In many of them, digitization plays a major role.
</p>
<p>
    The cataloging software <a href="/infrastructure/muscat.html">Muscat</a> is co-developed by the Swiss RISM. It is based on international standards, and tailored to the requirements of a music catalog.
</p>
<p>
    The core work is cataloguing music sources. A representative manuscript is the autograph of Alberik Zwyssig's Swiss Psalm.
</p>
<p>
    The Swiss RISM supports many Swiss archives and libraries in ordering, preserving and compiling inventories of their music collections.
</p>
