<p>
The Swiss RISM records music manuscripts and printed musical sources in Swiss libraries and archives according to international scientific standards. It thus contributes in an essential way to the conservation of cultural assets in music in Switzerland. The inventoried collections are accessible to musical performers as well as to musicological research worldwide via internet. The inventoried collections can also be published as printed catalogues.
</p>


<p>
    The Swiss RISM is supported by
</p>

{% include common/home-logos.html %}