<h3>
    Library of the Lucerne School of Music
</h3>
<p>
   The Music Department of the University of Lucerne resulted from the merger of the Conservatory, the Academy for School and Church Music and the Jazz School in Lucerne in 1999 under the name of Lucerne School of Music. The various existing libraries were merged into a single music library with five locations. All historical sources of interest for the RISM, however, were removed from the subsidiary libraries and transferred to the main library, where they are now kept. The Swiss RISM was engaged in a project in 2013 to enter into its database this small manuscript collection. Most of the historical sources came to the music library by donation. The best-known donor is the violinist Rudolf Baumgartner, to whom several of the works are dedicated.</p>
<p>
    Compared with other larger institutions, the manuscript collection of the music library is relatively small. Still, in addition to the extensive collection of Carl Detsch, a composer and music teacher active in central Switzerland in the 19th and 20th centuries, it preserves some individual gems that are now catalogued in the RISM database. Quite outstanding among these is a hitherto unknown autograph manuscript by the Swiss composer Willy Burkhard, namely his own adaptation of the Sonata for solo viola (Op. 59), set for solo violin (Op. 59a). However, other manuscripts of composers mainly active in central Switzerland are in the collection, including works by Johann Baptist Hilber, Robert F. Denzler and Peter Josef Zwyssig. The Swiss RISM entered in its database a total amount of ca. 700 works from this library.</p>
<p>
    Contact: <a href="/contact.html">Cédric Güggi</a>
</p>
