<h3>
    Ferdinand Fürchtegott Huber collection
</h3>
<p>
    The collection of the composer from St. Gallen Ferdinand Fürchtegott Huber (1791-1863) is held at the Cantonal Library Viadana of St. Gallen. Huber, born in 1791, was the son of the vicar and school rector. He very early left St. Gallen for Stuttgart, where he was for some time trumpet player at the Opera orchestra. After his return to Switzerland in 1816, he worked as music teacher and organist in Berne and St. Gallen. During this period, he met in Hofwil bei Bern Gottlieb Jakob Kuhn, author of many folk poems, on whose texts he composed many songs. He constantly collected and studied Swiss folk music, and was engaged in the revival of the alpenhorn. His most famous <em>Lied</em> is „Lueget vo Berg und Tal“. Huber also composed instrumental music, including 12 horn trios.
</p>
<p>
    The Ferdinand Fürchtegott Huber collection is a very important set of sources for the Swiss music tradition. The musician of St. Gallen is also included in the composers chosen for the project <em>Repertory of Swiss composer of the 19th century</em>. Even if a handful of prints and a few handwritten copies of works of the composer can be found in other Swiss libraries, in particular at the music library of the monastery in Einsiedeln, the collection comprises almost the complete work of Huber, mostly in autograph manuscripts. The Swiss RISM has been mandated by the Canton Library of St. Gallen to catalog the collection and make it available to the public.
</p>
<h4>
    Press article
</h4>

{% include common/huber-press.html %}
