<h3>
    Informationspool
</h3>
<p>
    The project Informationspool „Repertory of 19th century's swiss composers” is a three year project started in September 2008. The project, conducted in collaboration with the Swiss National Sound Archives aims to put together differentes resources in link with a digitisation project. About 500 sources being particularly significant for the 19th century Swiss music will be digitised and published online together with sound recording of the Swiss National Library and with detailed source description following the Swiss RISM cataloging rules. Eventually, links with biographical resources (<a href="http://www.dhs.ch" target="_blank">www.dhs.ch</a>) are also be considered.
</p>
<p>
    For this project, the Swiss RISM has established a collaboration with the Distributed Digital Music Archives and Libraries (DDMAL) laboratory led by Prof. Ichiro Fujinaga at McGill University in Montreal.
</p>
<p>
    Project partners:
</p>
<div align="center">
    <table border="0" cellpadding="5" cellspacing="5" width="80%">
        <tbody>
            <tr>
                <td align="center">
                    <a href="http://www.fonoteca.ch/index_en.htm" target="_blank"><img src="/images/rism_ch/logo_fonoteca.png"></a>
                </td>
                <td align="center">
                    <a href="http://www.mcgill.ca/music/programs/department-music-research/music-technology-area" target="_blank"><img src="/images/rism_ch/logo_mcgill.png"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
