<h3>
    Infrastructure projects
</h3>
<p>
    The Swiss RISM participates in projects in partnership with other institutions. These projects highlight the cultural heritage of Switzerland, and, through musicological studies and music practice, encourage the revival of forgotten repertoires. Among these projects, we may mention the collaboration with the Swiss National Sound Archives and McGill University in Montreal (<a href="/infrastructure/informationspool.html">Informationspool</a>), and the project in partnership with the chair of Musicology in Fribourg (<a href="/infrastructure/swiss-monasteries.html">Switzerland Music monasteries</a>).
</p>
