<h3>
    The ‘Kapellmeisterbuch’ of Einsiedeln
</h3>

<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/einsiedeln_c.png">
</div>
<p>
    The Benedictine abbey of Einsiedeln in Switzerland holds an uncommon handwritten music inventory, the Kapellmeisterbuch, in which each piece of music performed at the abbey on Sundays and other feasts between 1813 and 1852, and in a fragmentary way from 1805 to 1884, was registered by the Kapellmeister. The book, which contains about 350 pages, is a unique document and an extremely valuable resource for musicologists for the study of musical life in the 19th century in Switzerland.
</p>
<p>
    In order to make it available to scholars and browsable in an appropriate way, the book has been fully transcribed in TEI (Text Encoding Initiative) and published online. The TEI transcription of the Kapellmeisterbuch enabled the creation of different indexes, which provide the user with browsing by date, by composer and by liturgical feast. In the transcription, doubtful passages and the completion of the numerous abbreviations were also encoded. Because it is a handwritten document that can sometimes be very hard to read, being able to provide the user with this information is an asset of the approach.
</p>
<div style="width: 150px; float: left; margin: 0px 30px 10px 0px;">
    <a href="http://www.tei-c.org" target="_blank"><img src="/images/rism_ch/tei_400-small200.jpg" width="150"></a>
</div>
<p>
    The transcription of the Kapellmeisterbuch is an online resource realized in 2009-2010 by the Institute of Musicology of Fribourg University and the Swiss RISM office, with the support of the Swiss National Science Foundation ("Musical Repertoire in Swiss Collegiate and Monastic Churches", project No. 100012-124416).<br>
</p>

<h4 style="text-align: center;">
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">http://d-lib.rism-ch.org/kapellmeisterbuch</a>
</h4>
<p>
    Images: courtesy of P. Lukas Helg OSB (Einsiedeln)
</p>

<p>
    Project team:
</p>
<ul>
    <li>
        <a href="mailto:luca.zoppelli@unifr.ch">Prof. Luca Zoppelli</a> (head)
    </li>
    <li>
        <a href="mailto:claudio.bacciagaluppi@rism-ch.org">Claudio Bacciagaluppi</a>
    </li>
    <li>
        <a href="mailto:luigi.collarile@unifr.ch">Luigi Collarile</a><br>
    </li>
    <li>
        <a href="mailto:laurent.pugin@rism-ch.org">Laurent Pugin</a>
    </li>
</ul>
