<h3>
    Ernst Kunz collection
</h3>
<p>
    The collection of the composer and conductor Ernst Kunz, which is housed in the Central Library in Solothurn, was taken in charge by the Swiss RISM from 2010 to 2013. The entire collection was not only entered into the RISM database, but also ordered, cleaned and stored in acid-free materials. The collection was extended in early 2013 by an unexpected quantity of supplementary sources from the Olten city archives. Because the collection of works by Ernst Kunz in Solothurn is almost complete, the employees of RISM Switzerland deemed it extremely useful to catalogue also the additional documents and include them in the database. All data, namely 545 entries, were made available online in mid-2013.</p>
