<h3>
    Music Encoding Initiative (MEI)
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <a href="www.music-encoding.org" target="_blank"><img src="/images/rism_ch/meilogo.png"></a>
</div>
<p>
    The goal of the Music Encoding Initiative (MEI) is to define an encoding standard for music sources, following the path traced by the well-known Text Encoding Initiative (TEI). The Swiss RISM contributes to this important project with its expertise in the bibliographical domain, an important component in the definition of the encoding standard.
</p>

<h4>
    What are the key strengths of MEI?
</h4>
<ul>
    <li>It is a format devlopped by a community of specialists.
    </li>
    <li>It is an open format in XML, which means human-readable.
    </li>
    <li>It is modular and can be extended for specific needs.
    </li>
    <li>It is suitable for a wide range of applications – publication, analysis, archiving.
    </li>
</ul>
<p>
    MEI plays in many projects the role of making the interoperable and compatible thanks to its polymorphism, and this role is expected to increase in the future. Thanks to its wide scope, MEI is suitable to a large range of projects for which dedicated specific formats were used up to now.
</p>

{% include common/mei-figure.html %}

<h4>
    The role of RISM
</h4>
<p>
    <strong>1 – Expertise</strong>
</p>
<p>
    Firstly, the Swiss RISM plays an important role in the establishment of the standard with respect to the coding of metadata. MEI distinguishes itself by a very high level of detail on this aspect and the experience of RISM is very useful for the community.</p>
<p>
    <strong>2 – Utilisation</strong>
</p>
<p>
    The second role is that of the user, since RISM Switzerland uses MEI together with TEI to produce library catalogs including musical incipits. Contrary to what was often done some years ago, namely the publication of catalogs on paper, this approach offers a much more flexible solution. In the future, it will for example generate PDFs on demand directly from the RISM database.</p>
<p>
    <strong>3 – Promotion</strong>
</p>
<p>
    Finally, the Swiss RISM also promotes the standard in research projects it collaborates with. RISM Switzerland regularly participates in workshops or courses on MEI. MEI is also promoted through publications.
</p>
