<h3>
    Development of the cataloguing software Muscat 3.0
</h3>
<p>
   Since early 2014, the Muscat cataloguing software has been developed in collaboration with the RISM central office in Frankfurt. The Swiss RISM has followed the decision of the board of the international RISM association, who chose Muscat as the new cataloguing tool for all working groups around the world. Several factors have contributed in favour of Muscat in that decision. An important point is its development as an open-source and online application, which makes it open, transparent and easy to use. In addition, it has been specially conceived for the input of music sources, so it is not necessary to develop and adapt it to the needs of RISM from scratch.</p>
<p>
    The development of Muscat follows a plan approved in January 2014 by the central office, which aims to launch a beta version in 2015, and in 2016 the complete migration of all RISM data worldwide on Muscat. The development plan of Muscat 3.0 also includes merging the manuscript catalogue (Series A/II) with the different series cataloguing printed sources (series A/I, B/I and B/II). This unification is based on the preliminary work of RISM Switzerland in collaboration with the central office for migrating the series A/I to Muscat 2.0 in 2013.</p>
<p>
    At an international level, this development was presented at the IAML conference in Antwerp in July 2014.</p>
<p>
    Contact: <a href="/contact.html">Laurent Pugin</a>
</p>

