<h3>
    Louis Niedermeyer (1802-1861) collection
</h3>

<p>The Louis Niedermeyer (1802-1861) collection, preserved by the <a href="http://www.niedermeyer-nyon.ch "target="_blank">Association Niedermeyer</a> in Nyon, includes manuscripts and printed editions of both instrumental and vocal music. Many of the manuscripts are copies, although the collection also contains a certain number of autographs. Many original editions (from 1825-1900) are included in the printed music, published by the well-known Parisian music publishers <em>Richault</em> and <em>Pacini</em>. The collection, comprising almost the entire production of Niedermeyer, is a particularly interesting source of information regarding the transmission of music and the practice of music publishing in the 19th century. The collection also contains printed editions of works by composers who had a connection with the musician, among others by Gioacchino Rossini (1792-1868), Gustave Lefèvre (1831-1910) and Johann Simon Mayr (1763-1845).
</p>

<p>
    Niedermeyer's work is very varied and ranges from simple piano pieces to large orchestral compositions and operas. In his operas, the Italian influence gathered during his studies in Rome and Naples is strong. During his study trips, he also established a friendship with Rossini and regularly showed him his compositions. Though Niedermeyer left Switzerland in his youth, he remained attached to Nyon and often returned there to compose during his life.
</p>

<p>
    So far, the work of Louis Niedermeyer has not been appreciated at its true value by research. By inventorying the collection preserved by the Association Niedermeyer, the Swiss RISM contributes to the recognition and dissemination of the work of this fascinating and unjustly forgotten Swiss composer. The project started on 13 July 2015 and its completion is planned for the end of the year.
</p>
    Contact: <a href="/contact.html">Florence Sidler</a>
</p>

<h4>
    Press article
</h4>

{% include common/niedermeyer-press.html %}

