<h3>
    OnStage: HEMU – Lausanne conservatory
</h3>
<p>
    At the end of 2012, the Swiss RISM inaugurated a collaboration with the School of Music (HEMU) - Lausanne Conservatory for the OnStage project concerning historical concert programmes. This project was funded by the HEMU itself. Its goal was the indexing and digitization of concert programmes kept in the Conservatoire library. The model proposed by RISM Switzerland for this project was the TEI Project "Kapellmeisterbuch". Using the TEI XML standard gives the project a high scientific profile and ensures good interoperability for possible future developments. RISM participated in this project on two levels, namely by scanning sources and by developing an online publication platform. The concert programmes were commented with texts written by employees of the Conservatory and were made available online at the end of September 2013.
</p>
<p>
    The project was presented at a conference in late November 2013 at the Lausanne Conservatory (P. Boschetti, V. Struijk Van Bergen and L. Pugin).
</p>
    Contact: <a href="/contact.html">Claudio Bacciagaluppi</a>
</p>
