<h3>
    OnStage: Geneva Music Conservatory
</h3>
<p>
    The OnStage project conducted between 2012 and 2013 by the School of Music (HEMU) - Lausanne Conservatory in collaboration with RISM Switzerland has aroused great interest on the part of several institutions that have similar collections. Indeed, these concert program collections are sources with a significant historical interest and relatively unknown, and their online publication offers new perspectives for the study of the history of performance. An extension of the OnStage project is being prepared with the concert programs of the Library of the Geneva Conservatory of Music.
</p>
<p>
    This project follows the same approach as for the Lausanne institution, namely digitizing the collection, indexing the data and implementing optical character recognition (OCR) for a full-text search. Nevertheless, given the significant amount of programs (over 10,000), indexing will initially be less in-depth for the Geneva collection. An integration of the two resources will be discussed and defined in time with the different partners. The goal is to find a solution that optimizes an integrated research while keeping a distinct presentation of each collection.
</p>
<p>
    Funding for the project is provided by the Library of Geneva Music Conservatory in partnership with RISM Switzerland. The indexing and scanning began in 2014. The index was relized by an employee of the Conservatory under the supervision of the head of the Library and of RISM Switzerland.</p>
