<h3>
    OnStage: HEMU &ndash; Conservatoire de Lausanne
</h3>
<p>
    Ende 2012 begann RISM Schweiz eine Zusammenarbeit mit der Haute Ecole de Musique (HEMU) &ndash; Conservatoire Lausanne f&uuml;r das Projekt OnStage, das sich mit historischen Konzertprogrammen auseinandersetzte. Dieses Projekt wurde von der HEMU selbst finanziert. Ziel war es, die Konzertprogramme aus der Bibliothek zu digitalisieren und zu indexieren. Das Modell, das RISM Schweiz f&uuml;r dieses Projekt vorgeschlagen hat, stammt aus dem TEI-Projekt &bdquo;Kapellmeisterbuch&ldquo;. Die Verwendung des XML-Standards TEI gibt dem Projekt eine hohe wissenschaftliche Basis und sorgt f&uuml;r gute Datenaustauschm&ouml;glichkeiten bei m&ouml;glichen zuk&uuml;nftigen Entwicklungen. RISM Schweiz beteiligte sich an diesem Projekt in zwei Bereichen; bei der Digitalisierung der Quellen und bei der Entwicklung der Online-Publikation. Die Konzertprogramme wurden mit Texten von Mitarbeitern des Konservatoriums erg&auml;nzt und Ende September 2013 online gestellt.
</p>
<p>
    Das Projekt wurde auch an einer Konferenz Ende November 2013 am Lausanner Konservatorium (P. Boschetti, V. Struijk Van Bergen und L. Pugin) vorgestellt.
</p>
