<h3>
    Past projects
</h3>
<div class="secondary_links">
    <p>
        <a href="infrastructure/onstage-gc.html">OnStage – Geneva</a>
    </p>
    <p>
        <a href="infrastructure/onstage-lac.html">OnStage: HEMU – Lausanne conservatory</a>
    </p>
    <p>
        <a href="infrastructure/psmd.html">Printed Sacred Music</a>
    </p>
    <p>
        <a href="infrastructure/kapellmeisterbuch.html">The 'Kapellmeisterbuch'</a>
    </p>
    <p>
        <a href="infrastructure/informationspool.html">Informationspool</a>
    </p>
    <p>
        <a href="infrastructure/swiss-monasteries.html">Music from monasteries in Switzerland</a>
    </p>
</div>
