<h3>
    Past projects
</h3>
<div class="secondary_links">
    <p>
        <a href="cataloging/hslu.html">Fischingen Monastery</a>
    </p>
    <p>
      <a href="cataloging/hslu.html">Munzingeriana</a>
    </p>
    <p>
        <a href="cataloging/hslu.html">Frey-Gryn-Library</a>
    </p>
    <p>
        <a href="cataloging/hslu.html">Lucerne School of Music</a>
    </p>
    <p>
        <a href="cataloging/kunz.html">Ernst Kunz collection</a>
    </p>
    <p>
        <a href="cataloging/huber.html">Ferdinand Fürchtegott Huber collection</a>
    </p>
    <p>
        <a href="cataloging/einsiedeln.html">Swiss composers of the 19th century in the music library of Einsiedeln monastery</a>
    </p>
    <p>
        <a href="cataloging/st-gall.html">Music archives of St. Gallen cathedral</a>
    </p>
    <p>
        <a href="cataloging/beromuenster.html">Music library of the collegiate church of Beromünster</a>
    </p>
</div>
