<h3>
    Past projects
</h3>
<div class="secondary_links">
    <p>
        <a href="cataloging/reichel.html">Adolf Reichel</a>
    </p>
    <p>   
        <a href="cataloging/sarnen.html">Convent of Sarnen</a>
    </p>
    <p>
        <a href="cataloging/bcu-lausanne.html">BCU Lausanne</a>
    </p>
    <p>
        <a href="cataloging/niedermeyer.html">Louis Niedermeyer</a>  
    </p>
    <p>
        <a href="cataloging/fischingen.html">Fischingen Monastery</a>
    </p>
    <p>
        <a href="cataloging/munzingeriana.html">Munzingeriana</a>
    </p>
    <p>
        <a href="cataloging/hslu.html">Lucerne School of Music</a>
    </p>
    <p>
        <a href="cataloging/kunz.html">Ernst Kunz collection</a>
    </p>
    <p>
        <a href="cataloging/huber.html">Ferdinand Fürchtegott Huber collection</a>
    </p>
    <p>
        <a href="cataloging/einsiedeln.html">Swiss composers of the 19th century in the music library of Einsiedeln monastery</a>
    </p>
    <p>
        <a href="cataloging/st-gall.html">Musical sources of the Domarchiv St. Gallen</a>
    </p>
    <p>
        <a href="cataloging/beromuenster.html">Music library of the collegiate church of Beromünster</a>
    </p>
</div>
