<h3>
    Past projects
</h3>
<ul>
    <li><a href="cataloging/hslu.html">Lucerne School of Music</a>
    </li>
    <li><a href="cataloging/kunz.html">Ernst Kunz collection</a>
    </li>
    <li><a href="cataloging/huber.html">Ferdinand Fürchtegott Huber collection</a>
    </li>
    <li><a href="cataloging/einsiedeln.html">Swiss composers of the 19th century in the music library of the monastery of Einsiedeln</a>
    </li>
    <li><a href="cataloging/st-gall.html">Music archives of the cathedral in St. Gallen</a>
    </li>
    <li><a href="cataloging/beromuenster.html">Music library of the collegiate church of Beromünster</a>
    </li>
</ul>
