<h3>
    Publications
</h3>
<p>
   New knowledge frequently arises besides the cataloging work or inspired by it. The staff of the Swiss RISM publishes such insights in books or scientific articles.
</p>
<p>
    In addition, the Swiss RISM is itself active as publisher of online publication series (RISM Digital Library; Historical Music Inventories). These publications give public access to archival sources (i.e., sources without music notation) offering important insights in the musical life of Switzerland.
</p>
