<h3>
    Publications
</h3>
<p>
   New knowledge frequently arises alongside the cataloguing work or is inspired by it. The staff of the Swiss RISM publish such insights in books or scientific articles.
</p>
<p>
    In addition, the Swiss RISM is itself active as a publisher of online publication series (e.g., RISM Digital Library and Historical Music Inventories). These publications give the public access to archival sources (i.e., sources without music notation) offering important insights into the musical life of Switzerland.
</p>
