<h3>
    Adolf Reichel (1816-1896) collection
</h3>

<p>
    The collection of the composer Adolf Reichel—born in West Prussia (now Poland) and died in Bern—is kept in the Music Library of the University of the Arts Bern. The collection comprises manuscripts, printed editions and works of music theory, including a catalogue of the works of the composer himself. The manuscripts are autographs or copies. Amongst the copyists there are Alexander, Ernst and Julie Reichel, and also Hermann Heinemann and Fritz Röser. Printed music was published by different houses, such as S. Richault (Paris), Haslinger (Vienna), Peters (Leipzig), Breitkopf & Hartel (Leipzig) and Methfessel (Berne). 
</p>

<p>
    Reichel’s work ranges from simple pieces for solo piano and compositions for chamber ensemble to orchestral and choral works. The choral compositions are linked with his activities as conductor of the “Cäcilienverein” and “Berner Liedertafel”. After living in Vienna, Berne and Brussels Reichel moved to Paris, living as a composer and piano teacher. In 1867, he moved from Paris to Berne and took over the positions mentioned above, as well as the posts of director of “Musikgesellschaft” and of the “Musikschule” in Berne. Two years after moving Reichel obtained the Swiss nationality from Oberburg (BE).
</p>

<p>
    The cataloging of the Adolf Reichel collection is part of the <a href="http://rism-ch.org/cataloging/repertorium.html?locale=en" target="_blank"> project Repertory of 19th century Swiss composers </a> that aims to fill a gap in the area of Swiss music documentation. 
</p>

   </p>
    Contact: <a href="/contact.html">Florence Sidler</a>
</p>
