<h3>
    Repertory of 19th century's swiss composers
</h3>
<p>
    By initiating the project Repertory of 19th century's swiss composers, the Swiss RISM branch set itself the goal to fill out a severe gap within Switzerland's documentation of music. At the beginning of this project we could point out to the following facts:
</p>
<ul>
    <li>The 19th century has a significant importance for the musical identity of the Swiss Confederation at that time: as a consequence of the liberal revolution and the gradual repression of influences opposing the fine arts, that period has witnessed an increase in the music culture in the towns and cantons. At that time - on the political level - by founding the modern state as a confederation in 1848, political structures on a nationwide basis were called to life which made it possible to speak of a specific increase in Swiss music culture. The establishment of the Swiss society of performing musicians in 1900 was a logical consequence of the current emancipation of the music culture - formerly separated by being designated to a language group - from its attachment to the neighbouring cultural spheres.
    </li>
    <li>Up to now these vast sources of music coming from that period have only been documented in tiny fragments under scientific criteria.
    </li>
    <li>A reliable and adequate inventory of works as well as the corresponding musical sources of these composers of the 19th century sufficiently meeting today's scientific requirements is missing.
    </li>
</ul>
<p>
    The Repertory of 19th century's swiss composers intends to supply a complete registration of all the compositions of 52 composers. The selection of the composers set out to select mainly those artistically outstanding persons, who specifically can be regarded as the persons who contributed characteristically to the Swiss music culture of the 19th century. In addition the question, whether that person had his or her compository and artistic activities mainly in Switzerland acted as a further criterion for the selection. This venture was made possible thanks to a substantial contribution coming forth from the mint profit of commemorative coins of the Swiss Confederation and the cantons. The project Repertory of 19th century's swiss composers was taken up on September 1.st 1998.
</p>
<p>
    <a href="{{ site.search_url }}?utf8=✓&search_field=any_field&q=RepertoriumSchweiz&locale=en">List of sources</a>
</p>
