<h3>
    Repertory of 19th century Swiss composers
</h3>
<p>
    By initiating the project "Repertory of 19th century Swiss composers", the Swiss RISM branch set itself the goal of filling a serious gap within Switzerland's documentation of music. At the beginning of this project we established the following facts:
</p>
<ul>
    <li>The 19th century holds significant importance for the musical identity of the Swiss Confederation: as a consequence of the liberal revolution and the gradual repression of influences opposing fine arts, that period witnessed an increase in music culture in towns and cantons. At that time - on a political level - by founding the modern state as a confederation in 1848, political structures on a nationwide basis were created which made it possible to speak of a specific increase in Swiss music culture. The establishment of the Swiss society of performing musicians in 1900 was a logical consequence of that emancipation of music culture - formerly separated by being attached to a language group - from its attachment to neighbouring cultural spheres.
    </li>
    <li>Until now the vast sources of music coming from that period have only been documented in tiny fragments under scientific criteria.
    </li>
    <li>A reliable and adequate inventory of works as well as the corresponding musical sources of these composers of the 19th century sufficiently meeting today's scientific requirements is missing.
    </li>
</ul>
<p>
    The Repertory of 19th century Swiss composers intends to supply a complete registration of all the compositions of 52 composers. The composers selected were mainly those artistically outstanding persons who can specifically be regarded as having contributed in a characteristic way to the Swiss music culture of the 19th century. An addition criterion for selection was whether or not that person's compository and artistic activities were based mainly in Switzerland. This venture was made possible thanks to a substantial contribution provided for by the mint profit of commemorative coins of the Swiss Confederation and the cantons. The project "Repertory of 19th century Swiss composers" was begun on 1st September 1998.
</p>
<p>
    <a href="{{ site.search_url }}?utf8=?&search_field=any_field&q=RepertoriumSchweiz&locale=en">List of sources</a>
</p>
