<h3>
    Music library of the Benedictine monastery of St Andrew, Sarnen
</h3>
<p>
    The abbey of St Andrew of Benedictine nuns in Sarnen possesses one of the most remarkable historical music libraries in Switzerland. In 2003 the staff of the Swiss RISM branch cleaned and ordered the documents and brought them into the heritage storage room (”Kulturgüterschutzraum“). RISM Switzerland then gave the convent a cost estimate for inventorying the music sources. The costs were covered by the generous contributions of the Artephila Foundation, the Reinle Suter Foundation (Lucerne), the Canton Obwalden and the convent itself.
</p>
<p>
    In this way the project's financing was secured. However, just before inventorying was to start, the storms of August 2005 thwarted the plans. The heritage storage room was flooded and the sources remained 72 hours under water. With the help of countless volunteers, the music was recovered, temporarily cleaned, and frozen, together with the other endangered items of the monastery. In 2006, the Docusave company from Seftigen proceeded with dehydration (a freeze-dry process). 
</p>
<p>
    The unforeseen disaster forced the inventorying to be postponed. On rescuing the sources, their original order was lost, and many shelfmarks written with a felt-tip pen were washed away. Reordering was carried out, including by the staff of RISM Switzerland, in the first half of 2007. Step by step, the prints were separated from the manuscripts, pages that had been loosened in the flood were assigned to the corresponding work, and finally every sheet was marked, numbered, and wrapped up in provisional folders. After this, the needed restoration of the items of cultural heritage could be started. The restoration work was led by Andrea Giovannini. 
</p>
<p>
    At the same time, the cataloguing of manuscripts and prints was begun in autumn 2007. During inventorying, the richness and variety of the Sarnen music library could be fully appreciated. It has many titles in common with the libraries of the monasteries of Einsiedeln, Engelberg, and St Michael in Beromünster. Some works have their origin in Sarnen itself, as the works of father Wolfgang Iten from Engelberg, who resided in the monastery as spiritual father ("Spiritual"), and the works of Lucerne organist Franz Joseph Leonti Meyer von Schauensee. There are also several copies of works by famous European masters of the 18th and 19th century in the library, for example Carl Philipp Emanuel and Johann Christian Bach, Joseph Haydn, and, finally, Giovanni Battista Sammartini and Andrea Bernasconi.
</p>
<p>
    The musical sources from the monastery of St Andrew in Sarnen are currently being catalogued by Dr Gabriella Hanke Knaus according to international scientific standards and published in the RISM database.
</p>
<h4> Further reading</h4>
<p>
    Buschor, Sr Rut-Maria: Verborgene Juwelen der Musikwelt, in: Musik und Liturgie 4/10, ed. by Schweizerischer Katholischer Kirchenmusikverband SKMV, July 2010, Gossau
</p>
