<h3>
    Unpublished works and prints of composers at the Swiss National Library
</h3>
<p>
    Since 2001, the Swiss RISM has been in charge of the music collections at the Swiss National Library (NL). In 2006, the tasks were extended to the inventory of archival material. Since then, the Swiss RISM on the one hand works on the entire collections of Swiss composers, publishing their <a href="http://www.nb.admin.ch/org/organisation/00783/index.html?lang=en" target="_blank">inventories</a> with the Swiss Literary Archives (SLA), and on the other hand catalogues the musical works in these collections in the Swiss RISM database. The project follows a work plan established in collaboration with the National Library and implemented as part of an offer. Currently, priority is given to the cataloguing of the <a href="http://www.nb.admin.ch/sammlungen/spezialsammlungen/00652/01080/index.html?lang=en" target="_blank">collections</a> preserved within the Swiss Literary Archives.
</p>
<p>
   There are also numerous printed music editions that were removed from their original place (the collections as they were donated to the NL), and transferred in the mid-20th century to the general collections of the NL. Both the Library and RISM Switzerland deemed it necessary to return these items to their original context, in order to make the collections visible in their entirety again.</p>
<p>
   In addition to the preparation of inventories and the cataloguing of all musical sources in the RISM database, the Swiss RISM is also in charge of processing user enquiries concerning the music collections in the NL. In particular, the collection of Josef Liebeskind containing important sources of Christoph Willibald Gluck and Karl Ditters von Dittersdorf is consulted regularly.</p>
<p>
    <a href="http://www.nb.admin.ch/dienstleistungen/benutzung/index.html?lang=en" target="_blank">Access to collections at the Swiss National Library</a>: enquiries concerning documents being currently processed will be dealt with only to a limited extent. The Swiss RISM thanks you for your understanding.
</p>
