<h3>
    Music from the monasteries in Switzerland
</h3>
<p>
    In september 2005 the Swiss National Science approved the project Music from the monasteries in Switzerland submitted by Luca Zoppelli from the <a href="http://www.unifr.ch/musicologie/" target="_blank">chair of musicology in Fribourg</a> and contributed a considerable sum. In cooperation with the Swiss RISM office, the Swiss Musicological Society, the Swiss National Sound Archives and an international research committee, this project is aimed at sorting out an examining a significant number of musical sources of the 17th, 18th and 19th centuries which have been preserved in different monasteries in Switzerland. A further goal of this project is to interpret the historical and liturgical context of these sources and to make them accessible for researchers and performers. The research project therefore endeavours to explore a field largely unknown and to open an entry for these assets into the general memory and conscience of music.
</p>
<p>
    The research of this repertoy is well advanced. Several volumes of critical editions of selected works have already been published. Due to the catalogization of the music inventories in the monasteries of Einsiedeln, Engelberg, Disentis, M&uuml;stair, Neu St. Johann, the collegiate church of Berom&uuml;nster and the convent of the Benedictine sisters of St. Andreas in Sarnen the Swiss RISM office has performed essential prepatory work to make these sources accessible. Thanks to this effort we have knowledge of the impressive amounts of manuscripts and prints of the 17th, 18th and 19th centuries which exist in these libraries. The research and transcription of a certain number of selected pieces of these assets suggests itself for many reasons:
</p>
<ul>
    <li>the uniqueness of written music for specific local liturgy, for example the compositions &bdquo;Sanctus and Agnus angelicum&ldquo;, composed for the &bdquo;Engelweihe&ldquo; (anniversary of the &quot;Miraculous Dedication&quot; of the Lady Chapel) in the monastery of Einsiedeln,
    </li>
    <li>the overall view of the history of musical prints in certain centres of Switzerland: the opera 1 and 2 of Johannes Evangelista Schreiber (1716&ndash;1800), frair of the order of St. Urban, published by Hautt in Freiburg in 1747 and 1749 as well as his opus 3 published by the monastery in St. Gallen,
    </li>
    <li>the presence of compositions of composers with great reputation not being members of a Monastery, such as the masses of Hans Huber (1852&ndash;1921), composed for the monastery of Einsiedeln,
    </li>
    <li>finally there are unique scores which present a singular historic and aesthetic value, such as the sacred works of Giovanni Battista Sammartini (ca. 1700&ndash;1775) in the music library in the monastery of Einsiedeln, which are handwritten sources in a close to complete collection.
    </li>
</ul>
<div style="float: right; margin: 5px 0px 30px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/kunzelmann.jpg" alt="kunzelmann">
</div>

<p>
    Present-day research of this topic presents itself mainly with a great lack of editions. Therefore the main task of the project is the publication of music editions based on the catalogue of the Swiss RISM office. An editorial board is in charge of the editions for the relevant music sources - selection, transcribtion into scores according to philologic criteria, analysis, classification of the stylistic, historic and liturgical context, publication together with an introduction and a critical commentary. The music documents will be published in the series of the <a href="http://www.smg-ssm.ch/en/smg.html" target="_blank">Swiss Musicological Society</a>, presided



 at the time by Therese Bruggisser-Lanker.
</p>
<h4>
    Already published volumes:
</h4>

<a target="_blank" href="http://www.smg-ssm.ch/smg/Forschung-Publikationen/Editionen/Musik-aus-Schweizer-Kloestern.html">Editionsreihe "Musik aus Schweizer Klöstern"</a>
<h4>
    Press article
</h4>

{% include common/swiss-monasteries-press.html %}
