<div id="facets" class="facets sidenav">
    <div class="top-panel-heading panel-heading">
        <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
            <span class="sr-only">Toggle facets</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h4 class='facets-heading visible-xs' data-localize="select_menu"></h4>
    </div>

    <div id="facet-panel-collapse" class="collapse panel-group">
        <div class="list-group">
            {% for m in site.menu %}
            <a data-localize="menu.{{ m.id }}" class="list-group-item {% if page.active_section == m.id %}active{% endif %}" href="{{ site.baseurl }}/{{ m.id }}.html">&nbsp;</a>
            {% endfor %}
        </div>
    </div>
</div>

{% for m in site.menu %}
    {% if page.active_section == m.id %}
    <div class="list-group sublist-group">
        {% for s in m.submenu %}
         <a data-localize="menu.{{ m.id }}_submenu.{{ s.id }}" class="list-group-item {% if page.active == s.id %}active{% endif %}" href="{{ site.baseurl }}/{{ s.id }}.html">&nbsp;</a>
        {% endfor %}  
    </div>
    {% endif %}
{% endfor %}