<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="col-md-3 hidden-sm hidden-xs search-navbar-logo">
            <img src="/images/logo-large-ch.png">
        </div>
        <div class="col-md-9 search-navbar-text">
              <form accept-charset="UTF-8" action="{{ site.search_url }}" class="search-query-form clearfix navbar-form" method="get">
                  <div style="display:none">
                      <input name="utf8" type="hidden" value="✓">
                      <input id="search_locale" name="locale" type="hidden" value="fr">
                  </div>
                  <select class="search_field form-control" id="search_field" name="search_field" title="Targeted search options">
                      {% for s in site.search_options %}
                      <option value="{{ s[1] }}" data-localize="{{ s[0] }}">{{ s[0] }}</option>
                      {% endfor %}
                  </select>
                  <div class="input-group search-input-group">
                      <label for="q" class="sr-only">search for</label>
                      <input class="search_q q form-control" id="q" name="q" placeholder="..." type="text" value="">
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-primary search-btn" id="search">
                              <span class="submit-search-text" data-localize="search"></span>
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </form>
        </div>
    </div>
</div>