<div id="search-navbar" class="navbar navbar-default navbar-static-top {% if page.search == false %}advanced{% endif %}" role="navigation">
    <div class="container">
        {% if page.search %}
        <div class="col-md-3 d-none d-lg-block search-navbar-logo">
            <img src="/images/logo-large-ch.png">
        </div>
        <div class="col-md-9 search-navbar-right">
            <div class="search-navbar-locale float-right">
                <a href="?locale=en">English</a>
                <a href="?locale=de">Deutsch</a>
                <a href="?locale=fr">Français</a>
                <a href="?locale=it">Italiano</a>
            </div>
            <div class="search-navbar-text">
                <form accept-charset="UTF-8" action="{{ site.search_url }}" class="search-query-form clearfix navbar-form" method="get">
                    <div style="display:none">
                        <input name="utf8" type="hidden" value="✓">
                        <input id="search_locale" name="locale" type="hidden" value="fr">
                    </div>
                    <div class="input-group search-input-group">
                        <select class="custom-select search-field" id="search_field" name="search_field" title="Targeted search options">
                            {% for s in site.search_options %}
                            <option value="{{ s[1] }}" data-localize="{{ s[0] }}">{{ s[0] }}</option>
                            {% endfor %}
                        </select>
                        <label for="q" class="sr-only">search for</label>
                        <input class="search-q q form-control" id="q" name="q" data-localize="search_placeholder" placeholder="" type="text" value="">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary search-btn" id="search">
                                <span class="submit-search-text" data-localize="search"></span>
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="col-md-12 search-navbar-right">
            <div class="search-navbar-locale pull-right">
                <a href="?locale=en">English</a>
                <a href="?locale=de">Deutsch</a>
                <a href="?locale=fr">Français</a>
                <a href="?locale=it">Italiano</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
