<table class="about_us">
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/nike.2012.11_06.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/nike.2012.11_06.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                Musikalische Quellen in der Schweiz und ihre Erschliessung.<br>
                Nationale Informationsstelle für Kulturgüter-Erhaltung (NIKE) Bulletin, Nr. 6, November 2012, <a href="http://docs.rism-ch.org/press/nike.2012.11_06.pdf" target="_blank">pp. 34–37</a>.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/smz.2012.10_52.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/smz.2012.10_52.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                Von der Datenbank ins Konzert: Neue Suchfunktionen bei RISM Schweiz.<br>
                Schweizer Musikzeitung, Nr. 10, Oktober 2012, <a href="http://docs.rism-ch.org/press/smz.2012.10_52.pdf" target="_blank">p. 52</a>.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/smz.2010.06_09.10.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/smz.2010.06_09.10.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                Auf Entdeckungsreise in Schweizer Musikbibliotheken.<br>
                Schweizer Musikzeitung, Nr. 6, June 2010, <a href="http://docs.rism-ch.org/press/smz.2010.06_09.10.pdf" target="_blank">pp. 9–10</a>.
            </p>
        </td>
    </tr>
</table>
