<div style="float: right; margin: 0px 10px 20px 20px;" class="hidden-xs">
    <table class="about_us">
        <tr>
            <td align="center">
                <a href="http://www.smg-ssm.ch" target="_blank">
                    <img alt="SMG" src="/images/rism_ch/smg.jpg">
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="http://www.iaml.ch" target="_blank">
                    <img alt="IAML" src="/images/rism_ch/logo_iaml.jpg">
                </a>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href="http://www.suisa.ch/" target="_blank">
                    <img alt="SUISA" src="/images/rism_ch/logo_suisa.jpg">
                </a>
            </td>
        </tr>
        <!--
        <tr>
            <td align="center">
                <a href="http://www.miz.ch/smr/" target="_blank">
                    <img alt="SMR" src="/images/rism_ch/logo_smr.gif">    
                </a>
            </td>
        </tr>
        -->
    </table>
</div>
