<!-- iTunes -->
<a href="https://itunes.apple.com/ch/album/from-bologna-to-beromunster/id1083435141?" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/itunes_55x55.png?5487245434463973988" alt="Find this album on AppleMusic" title="Find this album on AppleMusic"></a>
<!-- Spotify -->
<a href="https://open.spotify.com/album/02BslISNfBTQ0woTCWNWWt" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/spotify_55x55.png?5487245434463973988" alt="Find this album on Spotify" title="Find this album on Spotify"></a>
<!-- GooglePlay -->
<a href="http://bit.ly/1XsDc8D" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/googleplay_55x55.png?5487245434463973988" alt="Find this album on GooglePlay" title="Find this album on GooglePlay"></a>
<!-- Qobuz -->
<a href="http://www.qobuz.com/ch-fr/album/from-bologna-to-beromunster-maurizio-cazzati-mass-psalms-op-36-francesco-saverio-pedrini/0190374009249" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/qobuz_55x55.png?5487245434463973988" alt="Find this album on Qobuz" title="Find this album on Qobuz"></a>
<!-- Deezer -->
<a href="http://www.deezer.com/album/12386106" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/deezer_55x55.png?5487245434463973988" alt="Find this album on Deezer" title="Find this album on Deezer"></a>
<!-- AmazonMp3 -->
<a href="http://amzn.to/21412tw" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/amazonMp3_55x55.png?5487245434463973988" alt="Find this album on AmazonMp3" title="Find this album on AmazonMp3"></a>
<!-- Rhapsody -->
<a href="http://www.rhapsody.com/artist/various-artists/album/from-bologna-to-beromunster-maurizio-cazzati-mass-and-psal" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/Rhapsody_55x55.png?3691232191077871611" alt="Find this album on Rhapsody" title="Find this album on Rhapsody"></a>