<p>
    <a href="http://docs.rism-ch.org/press/nzz_2016.06.12_69.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/nzz_2016.06.12_69.png"></a>
</p>
<p>
    Gotthard sei Dank<br>
    <a href="http://www.nzz.ch/nzzas/nzz-am-sonntag/" target="_blank">NZZ am Sonntag</a>, 12. Juni 2016. <a href="http://docs.rism-ch.org/press/nzz_2016.06.12_69.pdf" target="_blank">(PDF)</a>
</p>

<p>
    <a href="http://docs.rism-ch.org/press/jdj.2016.06.11_25.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/jdj.2016.06.11_25.png"></a>
</p>
<p>
    La base de l'école de bologne<br>
    <a href="http://www.journaldujura.ch/" target="_blank">Le Journal du Jura</a>, 11 juin 2016. <a href="http://docs.rism-ch.org/press/jdj.2016.06.11_25.pdf" target="_blank">(PDF)</a>
</p>

<p>
    <a href="http://docs.rism-ch.org/press/bund.2016.06.09_31.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/bund.2016.06.09_31.png"></a>
</p>
<p>
    Klänge unter Taubenkot<br>
    <a href="http://www.derbund.ch/" target="_blank">Der Bund</a>, 9. Juni 2016. <a href="http://docs.rism-ch.org/press/bund.2016.06.09_31.pdf" target="_blank">(PDF)</a>
</p>

<p>
    <a href="http://docs.rism-ch.org/press/diapason.2016.05.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/diapason.2016.05.png"></a>
</p>
<p>
    5 Diapason pour Cazzati<br>
    <a href="http://www.diapasonmag.fr/" target="_blank">Diapason Magazine</a>, Nr. 647, juin 2016. <a href="http://docs.rism-ch.org/press/diapason.2016.05.pdf" target="_blank">(PDF)</a>
</p>

<p>
    <a href="http://docs.rism-ch.org/press/kulturtipp.12.05.16.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/kulturtipp.12.05.16.png"></a>
</p>
<p>
    Cazzati – Beschwingt<br>
    <a href="https://www.kultur-tipp.ch" target="_blank">KulturTipp,</a>, 12. Mai 2016. <a href="http://docs.rism-ch.org/press/kulturtipp.12.05.16.pdf" target="_blank">(PDF)</a>
</p>

<p>
    <a href="http://docs.rism-ch.org/press/hebdoscope.2016.04.04.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/hebdoscope.2016.04.04.png"></a>
</p>
<p>
    Retour aux sources<br>
    <a href="http://hebdoscope.fr" target="_blank">Hebdoscope</a>, 4 mai 2016. <a href="http://docs.rism-ch.org/press/hebdoscope.2016.04.04.pdf" target="_blank">(PDF)</a>
</p>

<p>
    <a href="http://docs.rism-ch.org/press/hotlist.2016.04.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/hotlist.2016.04.png"></a>
</p>
<p>
    From Bologna to Beromünster: Mass &amp; Psalms Op. 36<br>
    <a href="https://cdhotlist.com/" target="_blank">CD Hotlist</a>, April 2016. <a href="http://docs.rism-ch.org/press/hotlist.2016.04.pdf" target="_blank">(PDF)</a>
</p>


<p>
    <a href="http://docs.rism-ch.org/press/classiquenews.2016.02.20.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/classiquenews.2016.02.20.png"></a>
</p>
<p>
    Compte rendu critique. Cazzati : Messe et Psaumes opus 36<br>
    <a href="http://www.classiquenews.com/" target="_blank">ClassiqueNews</a>, 20 février 2016. <a href="http://docs.rism-ch.org/press/classiquenews.2016.02.20.pdf" target="_blank">(PDF)</a>
</p>