<p>
<!-- iTunes -->
<a href="https://itunes.apple.com/us/album/luca-marenzio-il-pastor-fido/1414521721" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/itunes_55x55.png?5487245434463973988" alt="Find this album on AppleMusic" title="Find this album on AppleMusic"></a>
<!-- Spotify -->
<a href="https://open.spotify.com/album/6XCOYlJdi4pwhKs59q2oG4?si=hL0J-LmwQYmLjDua-MkHPQ" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/spotify_55x55.png?5487245434463973988" alt="Find this album on Spotify" title="Find this album on Spotify"></a>
<!-- GooglePlay -->
<a href="https://play.google.com/store/music/album/Francesco_Saverio_Pedrini_Luca_Marenzio_Il_pastor?id=Baei6bi6umzaaitjvulk2e4itny" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/googleplay_55x55.png?5487245434463973988" alt="Find this album on GooglePlay" title="Find this album on GooglePlay"></a>
<!-- Qobuz -->
<a href="https://www.qobuz.com/ch-fr/album/luca-marenzio-il-pastor-fido-francesco-saverio-pedrini/amlc9xy8ug2rc" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/qobuz_55x55.png?5487245434463973988" alt="Find this album on Qobuz" title="Find this album on Qobuz"></a>
<!-- Deezer -->
<a href="https://www.deezer.com/fr/album/68594201" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0496/4069/files/deezer_55x55.png?5487245434463973988" alt="Find this album on Deezer" title="Find this album on Deezer"></a>
</p>

<p align="center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/txUxX7jSgMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
