<table class="about_us">
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/diapason.2018.10.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/diapason.2018.10.png"></a>
        </td>
        <td valign="top">
            <p>
                5 Diapasons<br>
                <a href="http://www.diapasonmag.fr/" target="_blank">Diapason Magazine</a>, Nr. 672, octobre 2018. <a href="http://docs.rism-ch.org/press/diapason.2018.10.pdf" target="_blank">(PDF)</a>
            </p>
            
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/classica.2018.09.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/classica.2018.09.png"></a>
        </td>
        <td valign="top">
            <p>
                Les disques du mois<br>
                <a href="https://www.journaux.fr/classica_musique-partitions_art-et-culture_83834.html" target="_blank">Classica Magazine</a>, Nr. 206, septembre 2019. <a href="http://docs.rism-ch.org/press/classica.2018.09.pdf" target="_blank">(PDF)</a>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://www.musicweb-international.com/classrev/2018/Sep/Marenzio_pastor_501814.htm" target="_blank"><img src="http://docs.rism-ch.org/press/musicweb.png"></a>
        </td>
        <td valign="top">
            <p>
                Il Pastor Fido<br>
                <a href="http://www.musicweb-international.com/classrev/2018/Sep/Marenzio_pastor_501814.htm" target="_blank">Review by Gary Higginson</a>
            </p>
        </td>
    </tr>
</table>
