<div class="row">
    <div class="col-sm-5 col-sx-12 text-center">
        <a href="http://www.fonoteca.ch/index_de.htm" target="_blank"><img src="/images/rism_ch/logo_fonoteca.png"></a>
    </div>
    <div class="col-sm-3 col-xs-12 text-center">
        <a href="http://www.mcgill.ca/music/programs/department-music-research/music-technology-area" target="_blank"><img src="/images/rism_ch/logo_mcgill.png"></a>
    </div>
    <div class="col-sm-4 col-xs-12 text-center">
        <a href="https://ddmal.github.io/diva.js/" target="_blank"><img src="/images/rism_ch/logo_diva.png"></a>
    </div>
</div>