<div align="center">
    <table border="0" cellpadding="5" cellspacing="5" width="80%">
        <tbody>
            <tr>
                <td align="center">
                    <a href="http://www.fonoteca.ch/index_de.htm" target="_blank"><img src="/images/rism_ch/logo_fonoteca.png"></a>
                </td>
                <td align="center">
                    <a href="http://www.mcgill.ca/music/programs/department-music-research/music-technology-area" target="_blank"><img src="/images/rism_ch/logo_mcgill.png"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br/>