<p>
    <a href="http://docs.rism-ch.org/press/lacote.2016.01.18_5-A4.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/lacote.2016.01.18_5.png"></a>
</p>
<p>
    La mémoire du compositeur Louis Niedermeyer a trouvé son temple<br>
    La Côte, 18 janvier 2016, <a href="http://docs.rism-ch.org/press/lacote.2016.01.18_5-A4.pdf" target="_blank">p. 5</a>
</p>
<p>
    <a href="http://docs.rism-ch.org/press/24heures.2015.01.16_16-A4.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/24heures.2015.01.16_16.png"></a>
</p>
<p>
    Les archives musicales de Niedermeyer en ligne<br>
    24 heures, 16-17 janvier 2016, <a href="http://docs.rism-ch.org/press/24heures.2015.01.16_16-A4.pdf" target="_blank">p. 16</a>
</p>
