<table class="about_us">
    <tr>
        <td>
            <a href="https://www.rts.ch/play/radio/a-vous-de-jouer/audio/a-vous-de-jouer?id=9303829" target="_blank"><img src="http://docs.rism-ch.org/press/rts-espace2-a-vous-de-jouer-20180217-pugin.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                Interview de Laurent Pugin à propos de la numérisation de partitions musicales.<br>
                RTS Espace 2, 17 février 2018.<br>
                <audio controls>
                  <source src="http://docs.rism-ch.org/press/rts-espace2-a-vous-de-jouer-20180217-pugin.mp3" type="audio/mp3">
                </audio>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/bund.2016.06.09_31.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/bund.2016.06.09_31.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                «From Bologna to Beromünster» – Klänge unter Taubenkot.<br>
                Der Bund, 9. Juni 2016, <a href="http://docs.rism-ch.org/press/bund.2016.06.09_31.pdf" target="_blank">S. 31</a>.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/nike.2012.11_06.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/nike.2012.11_06.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                Musikalische Quellen in der Schweiz und ihre Erschliessung.<br>
                Nationale Informationsstelle für Kulturgüter-Erhaltung (NIKE) Bulletin, Nr. 6, November 2012, <a href="http://docs.rism-ch.org/press/nike.2012.11_06.pdf" target="_blank">S. 34–37</a>.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/smz.2012.10_52.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/smz.2012.10_52.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                Von der Datenbank ins Konzert: Neue Suchfunktionen bei RISM Schweiz.<br>
                Schweizer Musikzeitung, Nr. 10, Oktober 2012, <a href="http://docs.rism-ch.org/press/smz.2012.10_52.pdf" target="_blank">S. 52</a>.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://docs.rism-ch.org/press/smz.2010.06_09.10.pdf" target="_blank"><img src="http://docs.rism-ch.org/press/smz.2010.06_09.10.png" class="hidden-xs"></a>
        </td>
        <td valign="top">
            <p>
                Auf Entdeckungsreise in Schweizer Musikbibliotheken.<br>
                Schweizer Musikzeitung, Nr. 6, June 2010, <a href="http://docs.rism-ch.org/press/smz.2010.06_09.10.pdf" target="_blank">S. 9–10</a>.
            </p>
        </td>
    </tr>
</table>
