{% include common/about-us-logos.html %}

<div>
    
    <h3>
        Présentation
    </h3>
    
    <p>
        Depuis sa fondation en 1956, le RISM Suisse a procédé
        à l'inventaire systématique d'une grande quantité
        de musique : plus de 10'000 imprimés datant d'avant 1800,
        recueils des 16<sup>ème</sup>, 17<sup>ème</sup> et 18<sup>ème</sup> siècles et écrits
        imprimés concernant la musique . Au-delà, près de
        34'000 manuscrits musicaux datant d'après 1600 et près de
        21'000 imprimés du 19<sup>ème</sup> siècle ont également
        été répertoriés.
    </p>

    <p>
        Le RISM-Suisse est une association indépendante depuis 1996,
        financée principalement par des contributions de projet et des
        mandats d'inventaire de bibliothèques et d'archives. L'Association Bureau suisse du
        RISM a été fondée le 21 juin 1996 ; les
        membres fondateurs sont :
    </p>

    <ul>
        <li>Société Suisse de Musicologie (<a href="http://www.smg-ssm.ch" target="_blank">SSM</a>)</li>
        <li>Association Suisse des collections musicales (<a href="http://www.iaml.ch" target="_blank">ASCM</a>)</li>
        <li>Société Suisse pour les droits des auteurs d'œuvres musicales (<a href="http://www.suisa.ch" target="_blank">SUISA</a>)</li>
        <li>Conseil suisse de la musique (<a href="http://www.musikrat.ch/fr" target="_blank">CSM</a>)</li>
    </ul>

</div>