<h3>
    Association
</h3>
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <p>
            L'Association Bureau suisse du RISM est ouverte à toutes les personnes et institutions intéressées. Les avantages pour les membres sont des renseignements gratuits et des conseils qualifiés sur les fonds musicaux manuscrits et imprimés conservés en Suisse. Régulièrement, le RISM organise des événements culturels tels que concerts, enregistrements sur CD ou vernissages de catalogue, auxquels les membres sont invités. La réunion annuelle de l'Association permet d'informer les membres et permet aussi l'élection du conseil d'administration. Un volet culturel est lié à cet événement qui permet aux membres de créer ou d'entretenir des contacts.
        </p>
        <h4>
            Cotisation
        </h4>
        <ul>
            <li>Membres individuels min. CHF 50.--
            </li>
            <li>Institutions / Personnes juridiques min. CHF 100.--
            </li>
            <li>Membres de soutien min. CHF 500.--<br>
            </li>
        </ul><br>
    </div>
    <div class="col-sm-4 col-xs-12">
        <p>
            <img src="/images/rism_ch/pdf.png">
        </p>
        <p>
            <a href="http://docs.rism-ch.org/STATUTS_FRAN.pdf" target="_blank">Statuts de l'Association</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Rapportannuel_2005.pdf" target="_blank">Rapport annuel 2005</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Rapportannuel_2006.pdf" target="_blank">Rapport annuel 2006</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Rapportannuel_2007.pdf" target="_blank">Rapport annuel 2007</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Rapport_annuel_2008.pdf" target="_blank">Rapport annuel 2008</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2009-f-web.pdf" target="_blank">Rapport annuel 2009</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2010-f-web.pdf" target="_blank">Rapport annuel 2010</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2011-f-web.pdf" target="_blank">Rapport annuel 2011</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2012-f-web.pdf" target="_blank">Rapport annuel 2012</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2013-f-web.pdf" target="_blank">Rapport annuel 2013</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2014-f-web.pdf" target="_blank">Rapport annuel 2014</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2015-f-web.pdf" target="_blank">Rapport annuel 2015</a>
        </p>
        <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2016-f-web.pdf" target="_blank">Rapport annuel 2016</a>
        </p>
         <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2017-f-web.pdf" target="_blank">Rapport annuel 2017</a>
        </p>
         <p>
            <a href="http://docs.rism-ch.org/Jahresbericht-2018-f-web.pdf" target="_blank">Rapport annuel 2018</a>
        </p>
    </div>
</div>
