<h3>
    Catalogage dans l’archive musicale de la BCU Lausanne
</h3>

<p>
   Le RISM Suisse travaillera dans le cadre d’une collaboration avec l’archive de musique de la BCU Lausanne sur les fonds Henri Plumhof (1836-1914), Paul Juon (1872-1940), Louis Piantoni (1885-1958) et Raffaele d'Alessandro (1911-1959).
</p>

<p>
    Pour le fonds de Plumhof et Juon il s’agit d’un élargissement et d’une vérification d’une collection préexistante. Le fonds de Plumhof réunit des œuvres instrumentales et de nombreuses œuvres chorales qui sont probablement liées à son activité de chef de chœur à Vevey et Lausanne. Plumhof a contribué à la renaissance du chant choral en Suisse Romande. Paul Juon, un compositeur suisse d'origine russe a travaillé surtout à Berlin. Avec le développement du nazisme en 1934, Plumhof a déménagé de Berlin à Vevey. Outre de la musique instrumentale et vocale, Juon a rédigé de nombreux écrits théoriques comme le Aufgabenbuch für den einfachen Kontrapunkt (1910) ou le Handbuch für Harmonie (1919). 
</p>

<p>
  L’inventorisation du fonds Piantoni complète l’autre moitié conservée à la Bibliothèque nationale, dont l’inventorisation a été achevée déjà en 2011 par le RISM Suisse. Le fonds de ce compositeur né à Genève a été divisé en 1976 selon la volonté son épouse, Paulette Piantoni-Chatron, entre la Bibliothèque nationale de Berne et la BCU Lausanne et a été transmis aux deux bibliothèques. Ce fonds réuni des œuvres pour piano et l'orgue, des Lieder, de la musique de chambre, musique chorale et de la musique orchestrale. Son style musical est influencé par les compositeurs français. 
</p>

<p>
  Parmi les quatre compositeurs, Raffaele d'Alessandro est probablement le plus connu. La BCU Lausanne dispose que de quelques œuvres musicales, surtout des reproductions de ses autographes. Le catalogage de ces documents complète également le fonds qui a été inventoriés en 2011 à l'occasion du 100e anniversaire du compositeur à la Bibliothèque nationale. Le catalogue des œuvres contient de la musique de chambre, de la musique orchestrale, de la musique de scène et même de la musique de film.
</p>
