<h3>
    Collection du monastère de Montorge
</h3>

<p>
    La collection de musique du monastère de Montorge a été cédée à la Bibliothèque universitaire et cantonale de Fribourg par l'Institut de musicologie de l’Université de Fribourg en 2016. La collection reflète d’un côté le répertoire de musique spirituelle et liturgique des sœurs Capucines aux XVIIIe et XIXe siècles et, d'autre part, révèle plusieurs liens avec les collections de musique des monastères d’Einsiedeln et de Beromünster et avec l'abbaye féminine de Saint-André de Sarnen. Une grande partie de la collection de musique de Montorge est constituée de manuscrits. Il y a cependant aussi quelques imprimées. En plus des chants destinés à l'office figurent des sources pour l'ordinaire et le propre de la messe. Les compositeurs sont principalement d'Italie ou du sud de l'Allemagne. Cependant, le compositeur n’a pu être identifié pour une partie non négligeable des manuscrits.
   </p>
<p>
    Contact: <a href="/contact.html">Florence Sidler</a>
</p>
