<h3>
    Projets de catalogage
</h3>
<p>
    Le but du RISM Suisse est d'inventorier le plus grand nombre de sources musicales et de les rendre ainsi accessibles au public. Ce travail s'organise selon des projets spécifiques. Dans ces différents projets, limités dans le temps, les sources sont documentées et, si nécessaire, transférées dans des emballages non-acides.
</p>
<p>
    Le RISM effectue ce travail sous forme de service. Les projets sont élaborés et mis en œuvre en collaboration avec les institutions (bibliothèques, archives, monastères) qui possèdent les sources.
</p>
