<h3>
    Catalogage
</h3>
<p>
    Le but du RISM-Suisse est d&#x27;inventorier le plus grand nombre de sources musicales et de les rendre ainsi accessibles au public. Ce travail s&#x27;organise selon des projets sp&eacute;cifiques. Dans ces diff&eacute;rents projets, limit&eacute;s dans le temps, les sources sont document&eacute;es et, si n&eacute;cessaire, transf&eacute;r&eacute;es dans des emballages non-acides.
</p>
<p>
    Le RISM effectue ce travail sous forme de service. Les projets sont &eacute;labor&eacute;s et mis en &oelig;uvre en collaboration avec les institutions (biblioth&egrave;ques, archives, monast&egrave;res) qui poss&egrave;dent les sources.
</p>
