<h3>
    From Bologna to Beromünster – Cazzati: Messa e Salmi, op. 36
</h3>

<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/cd_cazzati.jpg">
</div>

<p>
    La bibliothèque musicale de la Collégiale de Beromünster (CH-BM) abrite le Bonus Ordo Musicus, un inventaire manuscrit de 1696 qui décrit une collection de musique de l’époque en grande partie perdue aujourd’hui. Dans le cardre de son projet <a href="http://inventories.rism-ch.org/" target="_blank">Historical Music Inventories 1500-1800</a>, le RISM Suisse a numérisé, indexé et publié en ligne celui-ci et d’autres inventaires. L’inventaire mentionne une édition imprimée de la Messa e Salmi, op. 36, par Maurizio Cazzati (1616-1678), qui en tant que maître de chapelle de la basilique de San Petronio à Bologne, occupait en son temps une position distinguée dans le cadre de la vie musicale de la ville.
</p>
<p>
    A l’occasion du 20<sup>ème</sup> anniversaire de l’association du bureau suisse du RISM – et du 400<sup>ème</sup> anniversaire de la naissance de Cazzati – le RISM Suisse a eu l’occasion de produire un CD de cette œuvre en collaboration avec le label <a href="http://www.claves.ch/collections/all-albums/products/from-bologna-to-beromunster-maurizio-cazzati-mass-psalms-op-36" target="_blank">Claves Records</a> et l’ensemble de bâlois <a href="http://www.voces-suaves.ch/" target="_blank">Voces Suaves</a>. Le personnel du RISM a joué un rôle consultatif lors de l’enregistrement du CD et a aussi écrit des textes pour le livret. En outre, il a assumé de nombreuses tâches organisationnelles et administratives et l’association a également apporté une contribution financière considérable au projet. Le CD a été publié le 4 Mars 2016 et est disponible dans les magasins et téléchargeable en ligne. 
</p>
    
{% include common/cd-cazzati-dlinks.html %}
    
<h4>
    Liens
</h4>
<ul>
    <li>
        <a href="http://docs.rism-ch.org/press/CD_1605_booklet.pdf" target="_blank">Télécharger le livret du CD (PDF)</a>
    </li>
</ul>

<h4>
    Articles de presses
</h4>

{% include common/cd-cazzati-press.html %}
