<h3>
    CD – Musiques des Monastères Suisses
</h3>
<p>
    La production d'un CD était un souhait du RISM depuis longtemps. En 2009, il a été possible de le réaliser.
</p>
<p>
    Des enregistrements réalisés à l'église du Collège Saint-Michel sont à la base de ce CD, à l'exception du Magnificat d'Anselm Schubiger - une contrefacture sur des extraits de l'opéra de Mozart „Le nozze di Figaro“. Les interprètes sont l'ensemble spécialisé dans la musique ancienne Capriccio Basel, l'ensemble vocal Cappella Murensis, ainsi que divers solistes spécialistes de la musique sacrée, sous la direction de Johannes Strobl.
</p>
<p>
    Le CD contient avant tout des œuvres liturgiques du 18e siècle. D'une part, le CD présente deux compositions de Giovanni Battista Sammartini (1701-1775): le Miserere et le Beatus vir, le deuxième étant une contrefacture. Cette contrefacture se base sur une œuvre qui fit rapidement le chemin vers le monastère filial de Bellinzona, puis à travers les Alpes vers le monastère maternel d'Einsiedeln. D'autre part, deux compositions originales issues de la production interne du monastère bénédictin d'Einsiedln sont présentées. Les deux œuvres, une de P. Gerold Brandenberg (1729-1795) et l'autre de P. Marian Müller (1724-1780), ont été composées spécialement pour la fête de l'Engelweihe, fête encore largement célébrée aujourd'hui. Le Magnificat de Schubiger mentionné plus haut, interprété à l'occasion du concert lors des journées internationales du RISM suisse organisées dans le cadre du congrès de l'IMS en 2007, conclut le CD.
</p>

<h4>
    Articles de presse
</h4>

{% include common/cd-swiss-monasteries-press.html %}
    
