<div class="row">
    <div class="col-sm-6 col-xs-12">  
		<h4>Président</h4>
        <p>
			Prof. Dr. Hans-Joachim Hinrichsen<br>
			Musikwissenschaftliches Institut<br>
			Universität Zürich
        </p>
    </div>
    <div class="col-sm-6 col-xs-12">  
		<h4>Vice-Président et Caissier</h4>
        <p>
			Oliver Schneider
        </p>
    </div>
</div> 
<div>
	<h4>Membres</h4>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <p>
			    Christoph Ballmer<br>
			    Universitätsbibliothek Basel
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p>
    			Prof. Dr. Thomas Drescher<br>
    			Musik-Akademie Basel
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p>
    			Dr. Urs Fischer<br>
    			Zentralbibliothek Zürich
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p>
    			Ernst Meier<br>
    			SUISA Musikdienst
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p>
    			Pio Pellizzari<br>
    			Fonoteca Nazionale Svizzera
            </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p>
    			Prof. Dr. Cristina Urchueguía<br>
    			Institut für Musikwissenschaft<br>
    			Universität Bern
            </p>
        </div>
    </div>
</div>
