<h3>
    Bureau suisse du RISM - Contact
</h3>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <p>
            Bureau suisse du RISM<br>
            Hallwylstrasse 15<br>
            CP 286<br>
            CH-3000 Berne 6<br>
            <br>
            e-mail: <a href="mailto:info@rism-ch.org">info@rism-ch.org</a><br>
        </p>
        <h3>
            Co-Directeurs
        </h3>
        <p>
            Cédric Güggi, lic. phil.<br>
            Catalogage et administration<br>
            Tél.: +41(0)58 464 49 34 (mardi et mercredi)<br>
            e-mail: <a href="mailto:cedric.gueggi@rism-ch.org">cedric.gueggi@rism-ch.org</a>
        </p>
        <p>
            Dr. Laurent Pugin<br>
            Infrastructure digitale et contacts internationaux<br>
            Tél: +41(0)58 463 80 16 (lundi à mercredi)<br>
            e-mail: <a href="mailto:laurent.pugin@rism-ch.org">laurent.pugin@rism-ch.org</a>
        </p>
        <h3>
            Collaborateurs scientifiques
        </h3>
        <p>
            Yvonne Peters, M. A.<br>
            Tél: +41(0)58 465 73 25<br>
            e-mail: <a href="mailto:yvonne.peters@rism-ch.org">yvonne.peters@rism-ch.org</a>
        </p>
        <p>
            Dr. Claudio Bacciagaluppi<br>
            Tél: +41(0)58 465 03 59<br>
            e-mail: <a href="mailto:claudio.bacciagaluppi@rism-ch.org">claudio.bacciagaluppi@rism-ch.org</a>
        </p>
        <p>
            Florence Sidler, M. A.<br>
            Tél: +41(0)58 465 73 25<br>
            e-mail: <a href="mailto:florence.sidler@rism-ch.org">florence.sidler@rism-ch.org</a>
        </p>
        <h3>
            Assistant IT
        </h3>
        <p>
            Rodolfo Zitellini, M. A.<br>
            Tél: +41(0)58 465 03 59<br>
            e-mail: <a href="mailto:rodolfo.zitellini@rism-ch.org">rodolfo.zitellini@rism-ch.org</a>
        </p>
    </div>
    <div class="col-sm-6 col-xs-12">
        <h4>
            Où sommes nous?
        </h4>
        <p>
            Le Bureau suisse du RISM se trouve à la <a target="_blank" href="http://www.nb.admin.ch/slb/index.html?lang=fr">Bibliothèque nationale suisse</a>.
        </p>
        <div align="center">
            <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Hallwylstrasse+15,+3005+Bern,+Switzerland&amp;sll=41.260946,-117.27196&amp;sspn=109.92994,270.527344&amp;ie=UTF8&amp;hq=&amp;hnear=Hallwylstrasse+15,+3005+Bern,+Switzerland&amp;ll=46.947919,7.45388&amp;spn=0.020508,0.036478&amp;z=14&amp;iwloc=A" style="color: rgb(0, 0, 255); text-align: left;" target="_blank"><img src="/images/rism_ch/map.png"></a>
        </div>
    </div>
</div>
