<h3>
    RISM Digital Library (d-lib)
</h3>
<p>
    La s&eacute;rie &quot;RISM Digital Dibrary (d-lib)&quot; r&eacute;unit la publication de documents d&rsquo;archive d&rsquo;int&eacute;r&ecirc;t pour l&rsquo;histoire de la musique en Suisse. Etant donn&eacute;e la nature particuli&egrave;re de ces documents, une publication en ligne pr&eacute;sente des avantages d&eacute;cisifs face &agrave; une publication traditionnelle sur papier.
</p>
<p>
    Les documents regroup&eacute;s dans cette s&eacute;rie (programmes de concerts, correspondances, protocoles de s&eacute;ances soci&eacute;taires) sont des textes discontinus mais g&eacute;n&eacute;ralement r&eacute;unis par une continuit&eacute; institutionnelle. Cette structure rend leur publication sous forme traditionnelle sur papier peu ad&eacute;quate, que ce soit en facsimile ou sous la forme d&rsquo;une transcription. Une publication num&eacute;rique s&rsquo;impose comme la solution la plus efficace pour mettre en valeur tant les documents eux-m&ecirc;mes que les travaux de recherche qui y sont rattach&eacute;s.
</p>
<p>
    Les publications sont organis&eacute;es en trois axes:
</p>
<ul>
    <li>la num&eacute;risation des documents et la publication des images
    </li>
    <li>la transcription du document et la publication de la transcription en lien avec les images
    </li>
    <li>l&rsquo;indexation du contenu (personnes, dates, etc.)
    </li>
</ul>
<p>
    Cette organisation qui met en relation les images du document num&eacute;ris&eacute;, sa transcription et diff&eacute;rents indexes constitue un type de publication original et &agrave; part enti&egrave;re. Son int&eacute;r&ecirc;t est qu&rsquo;il fonctionne &agrave; la fois comme une &eacute;dition facsimile du document, comme une transcription du texte et comme une base de donn&eacute;es. Les trois aspects s&rsquo;y trouvent r&eacute;unis sans qu&rsquo;il faille pour autant faire le choix corn&eacute;lien d&rsquo;adopter l&rsquo;une ou l&rsquo;autre de ces approches.
</p>
<p>
    Un num&eacute;ro ISSN permet de r&eacute;f&eacute;rencer ais&eacute;ment la s&eacute;rie de m&ecirc;me que chaque volume de la s&eacute;rie indentifi&eacute; par une adresse permanente (purl.oclc.org). La s&eacute;rie est organis&eacute;e de telle sorte que d&rsquo;autres &eacute;ditions de documents en lien de l&rsquo;histoire de la musique en Suisse &agrave; l&rsquo;a&#x302;ge moderne pourront y &ecirc;tre int&eacute;gr&eacute;s facilement. La transcription et l&rsquo;indexation utilisent le standard TEI (<a href="http://www.tei-c.org" target="_blank">Text Encoding Initiative</a>).
</p>
<h4>
    Volumes publi&eacute;s
</h4>
<p>
    <a href="http://d-lib.rism-ch.org/onstage">OnStage</a>
</p>
<p>
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">Kapellmeisterbuch</a>
</p>
