<h3>
    RISM Digital Library (d-lib)
</h3>
<p>
    La série "RISM Digital Library (d-lib)" réunit la publication de documents d’archive d’intérêt pour l’histoire de la musique en Suisse. Etant donnée la nature particulière de ces documents, une publication en ligne présente des avantages décisifs face à une publication traditionnelle sur papier.
</p>
<p>
    Les documents regroupés dans cette série (programmes de concerts, correspondances, protocoles de séances sociétaires) sont des textes discontinus mais généralement réunis par une continuité institutionnelle. Cette structure rend leur publication sous forme traditionnelle sur papier peu adéquate, que ce soit en facsimile ou sous la forme d’une transcription. Une publication numérique s’impose comme la solution la plus efficace pour mettre en valeur tant les documents eux-mêmes que les travaux de recherche qui y sont rattachés.
</p>
<p>
    Les publications sont organisées en trois axes:
</p>
<ul>
    <li>la numérisation des documents et la publication des images
    </li>
    <li>la transcription du document et la publication de la transcription en lien avec les images
    </li>
    <li>l’indexation du contenu (personnes, dates, etc.)
    </li>
</ul>
<p>
    Cette organisation qui met en relation les images du document numérisé, sa transcription et différents indexes constitue un type de publication original et à part entière. Son intérêt est qu’il fonctionne à la fois comme une édition facsimile du document, comme une transcription du texte et comme une base de données. Les trois aspects s’y trouvent réunis sans qu’il faille pour autant faire le choix cornélien d’adopter l’une ou l’autre de ces approches.
</p>
<p>
    Un numéro ISSN permet de référencer aisément la série de même que chaque volume de la série indentifié par une adresse permanente (<a href="http://purl.org" target="_blank">purl.org</a>). La série est organisée de telle sorte que d’autres éditions de documents en lien de l’histoire de la musique en Suisse à l’âge moderne pourront y être intégrés facilement. La transcription et l’indexation utilisent le standard TEI (<a href="http://www.tei-c.org" target="_blank">Text Encoding Initiative</a>).
</p>
<h4>
    Volumes publiés
</h4>
<p>
    <a href="http://d-lib.rism-ch.org/onstage">OnStage</a>
</p>
<p>
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">Kapellmeisterbuch</a>
</p>
<p>RISM digital library (d-lib), ISSN 2297-573X</p>