<h3>
    Compositeurs suisses du 19<sup>ème</sup> siècle à la bibliothèque musicale de l'abbaye d'Einsiedeln
</h3>
<p>
    Ce projet a été lancé par le RISM Suisse dans le cadre des travaux pour le <a href="/cataloging/repertorium">Répertoire des compositeurs suisses du 19<sup>ème</sup> siècle</a> à la bibliothèque musicale de <a href="http://www.kloster-einsiedeln.ch/" target="_blank">l'abbaye d'Einsiedeln</a>. L'établissement de l'inventaire des sources a commencé le 1 juillet 2000 et fini au printemps 2007: 6'472 sources musicales ont été saisies : 1'688 manuscrits et 4'784 imprimés. </p>
<div style="display: block;">
    <p>
        Cette bibliothèque conserve de nombreuses sources qui font parties du Répertoire des compositeurs suisses du 19<sup>ème</sup> siècle. Cette bibliothèque et de son directeur, P. Lukas Helg, ont la volonté de réaliser un inventaire précis et détaillé des compositeurs suisses du 19<sup>ème</sup> siècle présents dans la bibliothèque musicale de l'abbaye d'Einsiedeln en collaboration avec le RISM Suisse. En plus des documents liés aux auteurs du 19<sup>ème</sup> siècle déjà présents dans le répertoire suisse, la bibliothèque d'Einsiedeln conserve environ 3'000 sources musicales (manuscrites et imprimées) d'autres compositeurs suisses du 19<sup>ème</sup> siècle. Ce nombre montre l'importance éminente de cette bibliothèque pour l'histoire musicale suisse du 19<sup>ème</sup> siècle et justifie la volonté de l'établissement d'un inventaire et d'une documentation complets.
    </p>
    <p>
        Pour pouvoir réaliser cet exigeant projet P. Lukas Helg a été prêt à travailler avec le logiciel PIKaDO; grâce à cet aide, le Bureau suisse du RISM a pu compter sur une "succursale" à la bibliothèque musicale de l'abbaye d'Einsiedeln. Ce projet est entièrement financé par le monastère d'Einsiedeln qui a pu bénéficier d'une contribution importante de la <a href="http://www.ubs.com/global/fr/about_ubs/stiftungen.html" target="_blank">fondation UBS pour la culture</a>.
    </p>
    <h4>
        Contact
    </h4>
    <p>
        P. Lukas Helg OSB<br>
        Kloster<br>
        CH-8840 Einsiedeln<br>
        Tel: +41(0) 55 418 65 49<br>
        Fax: +41(0) 55 418 61 12<br>
        e-mail: <a href="mailto:lukas.helg@bluewin.ch">lukas.helg@bluewin.ch</a>
    </p>
</div>
