<h3>
    FAQ
</h3>
<p>
    Un objectif important du RISM Suisse est que sa base de données des sources musicales soit utilisée de plus en plus par les musiciens, et non seulement par les chercheurs et les musicologues. En effet, la base de données contient un grand nombre de sources musicales passionnantes, loin du répertoire courant de concert, qui attendent d'être jouées. Souvent il s'agit de compositions nées dans un contexte local. Alors, pourquoi ne pas jouer un œuvre qui a été conçu explicitement pour un lieu spécifique? Des questions générales sont abordées ci-dessous.
</p>

<p class="faq">
    L'accès à la base de données du RISM est-il ouvert?
</p>
<div class="faq-answer">
    <p>
        La base de données du RISM Suisse est fournie gratuitement et il n'est pas nécessaire de s'inscrire ou de s'annoncer pour rechercher des sources. Il peuvent également survenir des frais auprès des bibliothèques qui possèdent les sources, en particulier lors d'une demande de reproductions.
    </p>
</div>
<p class="faq">
    Où sont les sources que j'ai trouvées dans la base de données?
</p>
<div class="faq-answer">
    <p>
        RISM Suisse lui-même ne possède pas de sources musicales. Les sources se trouvent auprès de différentes institutions. S'il vous plaît, prenez contact avec la bibliothèque correspondante pour un rendez-vous. Les coordonnées se trouvent sous la rubrique " code de la bibliothèque ".
    </p>
</div>
<p class="faq">
    Où puis-je obtenir des copies des sources?
</p>
<div class="faq-answer">
    <p>
        Dans la plupart des bibliothèques, il est possible de demander une reproduction des sources. S'il vous plaît, vérifiez cette possibilité directement auprès de l'institution et notez que des frais peuvent s'appliquer pour les copies. En outre, en particulier en cas de concerts publics, il est nécessaire de clarifier la situation des droits d'auteur des œuvres respectives.
    </p>
</div>
<p class="faq">
    Est-il possible de télécharger des copies numériques des sources?
</p>
<div class="faq-answer">
    <p>
        Quelques sources ont été numérisées et publiées en ligne par RISM Suisse dans le cadre de projets particuliers. Certaines d'entre elles peuvent également être téléchargées. Ce n'est pas pourtant la tâche du RISM de numériser systématiquement toutes les sources.
    </p>
</div>
<p class="faq">
    Quels types de matériau y a-t-il parmi les sources?
</p>
<div class="faq-answer">
    <p>
        RISM Suisse catalogue tous les types de matériaux. Le plus souvent, il s'agit de manuscrits (Manuscript) et imprimés (Print); les manuscrits se distinguent en plus dans les autographes (Autograph), des autographes douteux (Probably autograph) et des copies (Manuscript). La désignation appropriée se trouve sous la rubrique Détail de la source / Type de source.
    </p>
</div>
<p class="faq">
    Quel répertoire est-il inclus dans la base de données RISM?
</p>
<div class="faq-answer">
    <p>
        La base de données contient un vaste répertoire de musique. La gamme des distributions va de la musique pour un instrument solo à des compositions pour grand orchestre; dans le temps, elle comprend des œuvres du 15<sup>ème</sup> au 20ème siècle. En termes de genres, la base de données couvre un large spectre, dans lequel la musique sacrée occupe une position particulière.
    </p>
</div>
<p class="faq">
    Comme sont-elles organisées les fiches de catalogue dans la base de données du RISM?
</p>
<div class="faq-answer">
    <p>
        La base de données contient des entrées individuelles (sources qui comprennent un seul ouvrage), également des mélanges et des collections (Collection). Celles-ci se composent de plusieurs œuvres individuelles, les mélanges contiennent au moins une collection et selon le cas d'autres collections ou des œuvres individuelles. La base de données est structurée dans un ordre hiérarchique, où tous les titres de niveau supérieur (mélanges et/ou collections) sont liées avec leurs entrées individuelles et vice versa.
    </p>
</div>
<p class="faq">
    Les bibliothèques sont toujours en possession de l'ensemble du matériau nécessaire à jouer une composition?
</p>
<div class="faq-answer">
    <p>
        Ce n'est pas toujours le cas. Veuillez contrôler dans les entrées de la base de données si la source est disponible dans son intégralité. Vous pouvez trouver la référence appropriée (" Incomplete material ") dans les Informations supplémentaires. Dans ces cas, il est généralement présente une description plus précise des parties détachées manquantes dans le champ Détail de la source / Parties manquantes. Observez également si des termes tels que " missing " ou " incpl " paraissent dans la Description physique.
    </p>
</div>
<p class="faq">
    Y a-t-il filtre de recherche spécial pour mes projets?
</p>
<div class="faq-answer">
    <p>
        Dans la base de données du RISM un bon résultat peut être atteint à la fois par le moyen de la Recherche avancée ainsi que par la recherche libre (Recherche rapide). Il y a aussi la possibilité de feuilleter différents indexes. Les résultats d'une première recherche peuvent se préciser par un certain nombre de filtres. Entre autres, il est possible de chercher par genre (par ex., Symphonies), par langue (par ex. roh = romanche), par sigle de bibliothèque (par ex., CH-E = bibliothèque du monastère de Einsiedeln), par auteurs du texte (par ex., Staub, Joseph), et bien sûr par mots-clés généraux (par ex., Sängerverein).
    </p>
    <p>
        Un projet spécial qui RISM Suisse mène depuis un certain temps, est le <a href="/cataloging/repertorium.html">"Répertoire des compositeurs suisses du 19<sup>ème</sup> siècle"</a>. Si vous souhaitez rechercher des sources dans ce projet, vous pouvez effectuer une recherche par le mot-clé RepertoriumSchweiz.
    </p>
</div>
<!--
<p class="faq">
    Puis-je également rechercher un motif musical?
</p>
<div class="faq-answer">
    <p>
        Cela est possible. La recherche par motif (Incipit) est utile avant tout pour trouver des concordances / plusieures sources pour le même ouvrage. Aussi pour identifier des œuvres dont on ne connaît, par exemple, que le thème, la recherche par incipit peut produire de bons résultats. Le <a href="http://www.rism-ch.org/pages/help">lien suivant</a> est un guide à la recherche par incipit.
    </p>
</div>
-->
<p class="faq">
    Qui dois-je contacter si j'ai des doutes?
</p>
<div class="faq-answer">
    <p>
        Pour des questions au sujet des sources spécifiques, s'il vous plaît communiquez avec l'institution propriétaire de la source. Cela vaut également pour les aspects organisationnels tels que s'annoncer pour une visite auprès de la bibliothèque, commander une reproduction de la source, etc. Pour toutes les autres question, n'hésitez pas à contacter RISM Suisse. Vous trouverez les coordonnées sur notre site web, à la page de <a href="/contact.html">contact</a>.
    </p>
</div>

