<h3>
    FAQ
</h3>
<p>
    Un objectif important du RISM Suisse est que sa base de donn&eacute;es des sources musicales soit utilis&eacute;e de plus en plus par les musiciens, et non seulement par les chercheurs et les musicologues. En effet, la base de donn&eacute;es contient un grand nombre de sources musicales passionnantes, loin du r&eacute;pertoire courant de concert, qui attendent d&#x27;&ecirc;tre jou&eacute;es. Souvent il s&#x27;agit de compositions n&eacute;es dans un contexte local. Alors, pourquoi ne pas jouer un &oelig;uvre qui a &eacute;t&eacute; con&ccedil;u explicitement pour un lieu sp&eacute;cifique? Des questions g&eacute;n&eacute;rales sont abord&eacute;es ci-dessous.
</p>

<p class="faq">
    L&#x27;acc&egrave;s &agrave; la base de donn&eacute;es du RISM est-il ouvert?
</p>
<div class="faq-answer">
    <p>
        La base de donn&eacute;es du RISM Suisse est fournie gratuitement et il n&#x27;est pas n&eacute;cessaire de s&#x27;inscrire ou de s&#x27;annoncer pour rechercher des sources. Il peuvent &eacute;galement survenir des frais aupr&egrave;s des biblioth&egrave;ques qui poss&egrave;dent les sources, en particulier lors d&#x27;une demande de reproductions.
    </p>
</div>
<p class="faq">
    O&ugrave; sont les sources que j&#x27;ai trouv&eacute;es dans la base de donn&eacute;es?
</p>
<div class="faq-answer">
    <p>
        RISM Suisse lui-m&ecirc;me ne poss&egrave;de pas de sources musicales. Les sources se trouvent aupr&egrave;s de diff&eacute;rentes institutions. S&#x27;il vous pla&icirc;t, prenez contact avec la biblioth&egrave;que correspondante pour un rendez-vous. Les coordonn&eacute;es se trouvent sous la rubrique &quot; code de la biblioth&egrave;que &quot;.
    </p>
</div>
<p class="faq">
    O&ugrave; puis-je obtenir des copies des sources?
</p>
<div class="faq-answer">
    <p>
        Dans la plupart des biblioth&egrave;ques, il est possible de demander une reproduction des sources. S&#x27;il vous pla&icirc;t, v&eacute;rifiez cette possibilit&eacute; directement aupr&egrave;s de l&#x27;institution et notez que des frais peuvent s&#x27;appliquer pour les copies. En outre, en particulier en cas de concerts publics, il est n&eacute;cessaire de clarifier la situation des droits d&#x27;auteur des &oelig;uvres respectives.
    </p>
</div>
<p class="faq">
    Est-il possible de t&eacute;l&eacute;charger des copies num&eacute;riques des sources?
</p>
<div class="faq-answer">
    <p>
        Quelques sources ont &eacute;t&eacute; num&eacute;ris&eacute;es et publi&eacute;es en ligne par RISM Suisse dans le cadre de projets particuliers. Certaines d&#x27;entre elles peuvent &eacute;galement &ecirc;tre t&eacute;l&eacute;charg&eacute;es. Ce n&#x27;est pas pourtant la t&acirc;che du RISM de num&eacute;riser syst&eacute;matiquement toutes les sources.
    </p>
</div>
<p class="faq">
    Quels types de mat&eacute;riau y a-t-il parmi les sources?
</p>
<div class="faq-answer">
    <p>
        RISM Suisse catalogue tous les types de mat&eacute;riaux. Le plus souvent, il s&#x27;agit de manuscrits (Manuscript) et imprim&eacute;s (Print); les manuscrits se distinguent en plus dans les autographes (Autograph), des autographes douteux (Probably autograph) et des copies (Manuscript). La d&eacute;signation appropri&eacute;e se trouve sous la rubrique D&eacute;tail de la source / Type de source.
    </p>
</div>
<p class="faq">
    Quel r&eacute;pertoire est-il inclus dans la base de donn&eacute;es RISM?
</p>
<div class="faq-answer">
    <p>
        La base de donn&eacute;es contient un vaste r&eacute;pertoire de musique. La gamme des distributions va de la musique pour un instrument solo &agrave; des compositions pour grand orchestre; dans le temps, elle comprend des &oelig;uvres du 15&egrave;me au 20&egrave;me si&egrave;cle. En termes de genres, la base de donn&eacute;es couvre un large spectre, dans lequel la musique sacr&eacute;e occupe une position particuli&egrave;re.
    </p>
</div>
<p class="faq">
    Comme sont-elles organis&eacute;es les fiches de catalogue dans la base de donn&eacute;es du RISM?
</p>
<div class="faq-answer">
    <p>
        La base de donn&eacute;es contient des entr&eacute;es individuelles (sources qui comprennent un seul ouvrage), &eacute;galement des m&eacute;langes et des collections (Collection). Celles-ci se composent de plusieurs &oelig;uvres individuelles, les m&eacute;langes contiennent au moins une collection et selon le cas d&#x27;autres collections ou des &oelig;uvres individuelles. La base de donn&eacute;es est structur&eacute;e dans un ordre hi&eacute;rarchique, o&ugrave; tous les titres de niveau sup&eacute;rieur (m&eacute;langes et/ou collections) sont li&eacute;es avec leurs entr&eacute;es individuelles et vice versa.
    </p>
</div>
<p class="faq">
    Les biblioth&egrave;ques sont toujours en possession de l&#x27;ensemble du mat&eacute;riau n&eacute;cessaire &agrave; jouer une composition?
</p>
<div class="faq-answer">
    <p>
        Ce n&#x27;est pas toujours le cas. Veuillez contr&ocirc;ler dans les entr&eacute;es de la base de donn&eacute;es si la source est disponible dans son int&eacute;gralit&eacute;. Vous pouvez trouver la r&eacute;f&eacute;rence appropri&eacute;e (&quot; Incomplete material &quot;) dans les Informations suppl&eacute;mentaires. Dans ces cas, il est g&eacute;n&eacute;ralement pr&eacute;sente une description plus pr&eacute;cise des parties d&eacute;tach&eacute;es manquantes dans le champ D&eacute;tail de la source / Parties manquantes. Observez &eacute;galement si des termes tels que &quot; missing &quot; ou &quot; incpl &quot; paraissent dans la Description physique.
    </p>
</div>
<p class="faq">
    Y a-t-il filtre de recherche sp&eacute;cial pour mes projets?
</p>
<div class="faq-answer">
    <p>
        Dans la base de donn&eacute;es du RISM un bon r&eacute;sultat peut &ecirc;tre atteint &agrave; la fois par le moyen de la Recherche avanc&eacute;e ainsi que par la recherche libre (Recherche rapide). Il y a aussi la possibilit&eacute; de feuilleter diff&eacute;rents indexes. Les r&eacute;sultats d&#x27;une premi&egrave;re recherche peuvent se pr&eacute;ciser par un certain nombre de filtres. Entre autres, il est possible de chercher par genre (par ex., Symphonies), par langue (par ex. roh = romanche), par sigle de biblioth&egrave;que (par ex., CH-E = biblioth&egrave;que du monast&egrave;re de Einsiedeln), par auteurs du texte (par ex., Staub, Joseph), et bien s&ucirc;r par mots-cl&eacute;s g&eacute;n&eacute;raux (par ex., S&auml;ngerverein).
    </p>
    <p>
        Un projet sp&eacute;cial qui RISM Suisse m&egrave;ne depuis un certain temps, est le <a href="/cataloging/repertorium.html">&quot;R&eacute;pertoire des compositeurs suisses du 19&egrave;me si&egrave;cle&quot;</a>. Si vous souhaitez rechercher des sources dans ce projet, vous pouvez effectuer une recherche par le mot-cl&eacute; RepertoriumSchweiz.
    </p>
</div>
<!--
<p class="faq">
    Puis-je également rechercher un motif musical?
</p>
<div class="faq-answer">
    <p>
        Cela est possible. La recherche par motif (Incipit) est utile avant tout pour trouver des concordances / plusieures sources pour le même ouvrage. Aussi pour identifier des œuvres dont on ne connaît, par exemple, que le thème, la recherche par incipit peut produire de bons résultats. Le <a href="http://www.rism-ch.org/pages/help">lien suivant</a> est un guide à la recherche par incipit.
    </p>
</div>
-->
<p class="faq">
    Qui dois-je contacter si j&#x27;ai des doutes?
</p>
<div class="faq-answer">
    <p>
        Pour des questions au sujet des sources sp&eacute;cifiques, s&#x27;il vous pla&icirc;t communiquez avec l&#x27;institution propri&eacute;taire de la source. Cela vaut &eacute;galement pour les aspects organisationnels tels que s&#x27;annoncer pour une visite aupr&egrave;s de la biblioth&egrave;que, commander une reproduction de la source, etc. Pour toutes les autres question, n&#x27;h&eacute;sitez pas &agrave; contacter RISM Suisse. Vous trouverez les coordonn&eacute;es sur notre site web, &agrave; la page de <a href="/contact.html">contact</a>.
    </p>
</div>

