<h3>
    Collections musicales dans les archives et bibliothèques suisses
</h3>
<p>
    Les listes  <a href="/links/ch_people_a_e.html">
Collections – Personnes</a> et <a href="/links/ch_institutions.html">Collections – Institutions</a> donnent un aperçu des collections conservées dans les archives et bibliothèques suisses ayant une forte composante musicale. Elles réunissent des autographes, des manuscrits, des imprimés, du matériel lié aux œuvres, des enregistrements sonores, des textes manuscrits, des textes imprimés, des correspondances, des photos et d'autres documents personnels ou de sociétés.
</p>
