<h3>
    Collections musicales dans les archives et bibliothèques suisses
</h3>
<p>
    Les listes  <a href="/links/ch_people_a_e.html">
Collections – Personnes</a> und <a href="/links/ch_institutions.html">Collections – Institutions</a> donnent un aperçu des collections avec une forte composante musicale conservées dans les archives et bibliothèques suisses. Elles réunissent des autographes, des manuscrits, des imprimés, du matériel lié aux oeuvres, des enregistrements sonores, des textes manuscrits, des textes imprimés, des correspondances, des photos et d'autres documents personnels ou d'entreprises.
</p>
