<h3>
    Monastère de Fischingen
</h3>
<p>
    Le but du projet de catalogage "Monastère de Fischingen – Bibliothèque musicale historique" est de documenter de manière détaillée la riche tradition liturgique et musicale des moines bénédictins à la fin du baroque et à l’époque des Lumières, et ce à partir des sources conservées : des manuscrits et des imprimés de la fin du 17<sup>ème</sup> siècle au début du 19<sup>ème</sup> siècle. L'importance de ces sources dérive du fait qu'elles constituent un complément aux collections déjà cataloguées par le RISM Suisse de Beromünster, Einsiedeln, Engelberg, Disentis, St. Gallen (nouveau St. Johann) et de l'abbaye féminine de Saint-André de Sarnen.
</p>
<p>
    Le projet Monastère Fischingen prévoit une saisie complète de la collection de musique. Une attention particulière est consacrée aux sources musicales manuscrites qui ont une relation directe avec la pratique de la musique monastique entre 1692 et 1808 étant donné qu'elles ont été largement composées spécialement pour la partie musicale de la liturgie bénédictine de Fischingen. Une importance particulière est attribuée au "Diurnale monastico Benedictum" de 1805. Ce "calendrier des fêtes" pour les célébrations liturgiques des Bénédictins à Fischingen est la clé de la redécouverte du rôle de la musique dans la vie monastique au début du 19<sup>ème</sup> siècle. En outre, il existe des sources manuscrites de l'ordinaire et du propre de la messe et de nombreux chants pour l'office.
</p>
<p>
    La richesse de la culture musicale se reflète également dans le nombre de sources musicales imprimées qui datent presque toutes du 18<sup>ème</sup> siècle et représentent le répertoire de musique solennelle d'église répandu à l'époque dans les monastères suisses qui prévoyait toujours une musique polyphonique avec accompagnement instrumental. Il est donc pas surprenant que les sources de musique imprimées soient plus nombreuses que les sources manuscrites.
</p>
<p>
    Ce projet d'inventaire est rendu possible par l'Association des amis du monastère de Fischingen. Le projet Monastère Fischingen a commencé le 19 mai 2014.
</p>
    Contact: <a href="/contact.html">Florence Sidler</a>
</p>

