<p>
Le RISM Suisse inventorie les partitions manuscrites et imprimées et les écrits sur la musique conservés dans les bibliothèques et archives suisses en respectant les normes scientifiques internationales. Il fournit ainsi une contribution importante pour la sauvegarde du patrimoine culturel musical suisse. Les fonds inventoriés sont mis à disposition des chercheurs et des interprètes du monde entier grâce à un accès par Internet. Les catalogues des fonds manuscrits peuvent être publiés sous forme imprimée.
</p>
