<p>
    Le RISM Suisse conduit de nombreux <a href="infrastructure.html">projets d'infrastructure</a> liés aux sources musicales. La numérisation joue un rôle important dans beaucoup d'entre eux.
</p>
<p>
    Le logiciel de catalogage <a href="/infrastructure/muscat.html">Muscat</a> est co-développé par RISM Suisse. Basé sur les normes internationales, il est conçu pour répondre spécifiquement aux besoins du catalogue de musique.
</p>
<p>
    Les sources musicales sont au cœur du travail du RISM Suisse. L'autographe du Cantique suisse de Alberik Zwyssig en est un manuscrit représentatif.
</p>
<p>
    RISM Suisse soutient de nombreuses archives et bibliothèques suisses dans l'organisation, la conservation et l'inventaire de leurs sources musicales.
</p>
