<h3>
    Fonds Ferdinand Fürchtegott Huber (1791-1863)
</h3>
<p>
    Le fonds du compositeur st-gallois Ferdinand Fürchtegott Huber se trouve à la Bibliothèque Cantonale Viadana de St-Gall. Huber, né en 1791, était le fils du pasteur et recteur de l'école. Dès son plus jeune âge, il a quitté St-Gall pour l'étranger, plus précisément pour Stuttgart, où il fut pour quelque temps trompettiste à l'orchestre de l'Opéra. Après son retour en Suisse en 1816, il a travaillé comme enseignant de musique et comme organiste à Berne et St-Gall. A cette période, il fait la connaissance à Hofwil bei Bern de Gottlieb Jakob Kuhn, auteur de nombreux poèmes populaires pour lesquels il a écrit de nombreuses compositions. Il collectionne et étudie en permanence la musique populaire suisse et initie la renaissance du cor des Alpes. Son <em>Lied</em> populaire le plus connu est „Lueget vo Berg und Tal“. Huber a aussi composé de la musique instrumentale, dont 12 trios pour cor.
</p>
<p>
    Le fonds Ferdinand Fürchtegott Huber est une collection des sources importante pour tradition de la musique suisse. Le musicien st-gallois fait aussi partie de la liste des compositeurs choisis pour le projet <em>Répertoire des compositeurs suisses du 19e siècle</em>. Bien que quelques imprimés et quelques copies manuscrites d'œuvres du compositeur se trouvent dans d'autres bibliothèques suisses, en particulier à la bibliothèque musicale de l'abbaye d'Einsiedeln, cette collection regroupe pratiquement l'ensemble de l'œuvre de Huber, essentiellement sous forme de manuscrits autographes. Le RISM Suisse a été mandaté par la Bibliothèque cantonale de St-Gall pour cataloguer ce fonds et le rendre accessible au public.
</p>
<h4>
    Contact
</h4>
<p>
    Wolfgang Göldi<br/>
    Kantonsbibliothek St. Gallen<br/>
    Notkerstrasse 22<br/>
    CH-9000 St. Gallen<br/>
    Tel: +41 (0) 58 229 23 40<br/>
    e-mail: <a href="mailto:kb.rara@sg.ch">kb.rara@sg.ch</a>
</p>
<h4>
    Article de presse
</h4>


{% include common/huber-press.html %}
