<h3>
    Informationspool
</h3>
<p>
    Le projet Informationspool „Répertoire des compositeurs suisses du 19e siècle” est un projet de trois ans commencé en septembre 2008. Ce projet élaboré en partenariat avec la Phonothèque nationale suisse a pour but de réunir différentes ressources autour d’un projet de numérisation. Environ 500 sources musicales ayant une importance particulière pour la production musicale Suisse du 19e siècle seront numérisées et publiées <em>on-line</em> en lien avec des enregistrements sonores de la Phonothèques ainsi que la description détaillée des sources selon les critères du RISM-Suisse. La création de liens avec des ressources biographiques (<a href="http://www.dhs.ch" target="_blank">www.dhs.ch</a>) est aussi prévue.
</p>
<p>
    Pour ce projet, le RISM-Suisse a établi une collaboration avec le Distributed Digital Music Archives and Libraries (DDMAL) laboratory de l’Université McGill à Montréal dirigé par le Prof. Ichiro Fujinaga.
</p>
<p>
    Partenaires du projet:
</p>
<div align="center">
    <table border="0" cellpadding="5" cellspacing="5" width="80%">
        <tbody>
            <tr>
                <td align="center">
                    <a href="http://www.fonoteca.ch/index_fr.htm" target="_blank"><img src="/images/rism_ch/logo_fonoteca.png"></a>
                </td>
                <td align="center">
                    <a href="http://www.mcgill.ca/music/programs/department-music-research/music-technology-area" target="_blank"><img src="/images/rism_ch/logo_mcgill.png"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
