<h3>
    Le &lsquo;Kapellmeisterbuch&rsquo; d'Einsiedln
</h3>

<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/einsiedeln_c.png">
</div>
<p>
    L&#x27;abbaye b&eacute;n&eacute;dictine d&#x27;Einsiedeln en Suisse conserve un inventaire manuscrit tr&egrave;s particulier, le Kapellmeisterbuch, dans lequel chaque pi&egrave;ce de musique jou&eacute;e &agrave; l&#x27;abbaye les dimanches et les autres f&ecirc;tes entre 1813 et 1852, et de fa&ccedil;on fragmentaire de 1805 &agrave; 1884, a &eacute;t&eacute; not&eacute;e par le ma&icirc;tre de chapelle. Le livre, qui contient environ 350 pages, est un document unique et une ressource extr&ecirc;mement pr&eacute;cieuse pour les musicologues qui &eacute;tudient la vie musicale Suisse au 19&egrave;me si&egrave;cle.
</p>
<p>
    Afin de mettre &agrave; la disposition des chercheurs ce livre de mani&egrave;re appropri&eacute;e, il a &eacute;t&eacute; enti&egrave;rement transcrit en TEI (Text Encoding Initiative) et publi&eacute; en ligne. La transcription TEI du Kapellmeisterbuch a permis la cr&eacute;ation de diff&eacute;rents indexes, qui permettent &agrave; l&#x27;utilisateur, &agrave; l&#x27;utilisatrice la navigation par date, par compositeur et par f&ecirc;te liturgique. Dans la transcription, les mots mal lisibles et la r&eacute;solution des nombreuses abr&eacute;viations ont &eacute;galement &eacute;t&eacute; indiqu&eacute;s. Puisqu&#x27;il s&#x27;agit d&#x27;un document manuscrit qui peut &ecirc;tre parfois tr&egrave;s difficile &agrave; lire, avoir la possibilit&eacute; de fournir &agrave; l&#x27;utilisateur, &agrave; l&#x27;utilisatrice cette information est un atout de l&#x27;approche choisie.
</p>


<div style="width: 150px; float: left; margin: 0px 30px 10px 0px;">
    <a href="http://www.tei-c.org" target="_blank"><img src="/images/rism_ch/tei_400-small200.jpg" width="150"></a>
</div>
<p>
    La transcription du Kapellmeisterbuch est une ressource en ligne r&eacute;alis&eacute;e en 2009-2010 par l&#x27;Institut de musicologie de l&#x27;Universit&eacute; de Fribourg et le bureau suisse du RISM, avec le soutien du Fonds national suisse (&bdquo;Musical Repertoire in Swiss Collegiate and Monastic Churches&ldquo;, projet n. 100012-124416).<br>
</p>


<h4 style="text-align: center;">
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">http://d-lib.rism-ch.org/kapellmeisterbuch</a>
</h4>
<p>
    Images: avec la permission de P. Lukas Helg OSB (Einsiedeln)
</p>

<p>
    Equipe du projet:
</p>
<ul>
    <li>
        <a href="mailto:luca.zoppelli@unifr.ch">Prof. Luca Zoppelli</a> (directeur)
    </li>
    <li>
        <a href="mailto:claudio.bacciagaluppi@unifr.ch">Claudio Bacciagaluppi</a>
    </li>
    <li>
        <a href="mailto:luigi.collarile@unifr.ch">Luigi Collarile</a><br>
    </li>
    <li>
        <a href="mailto:laurent.pugin@rism-ch.org">Laurent Pugin</a>
    </li>
</ul>
