<h3>
    Le ‘Kapellmeisterbuch’ d'Einsiedln
</h3>

<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <img src="/images/rism_ch/einsiedeln_c.png">
</div>
<p>
    L'abbaye bénédictine d'Einsiedeln en Suisse conserve un inventaire manuscrit très particulier, le Kapellmeisterbuch, dans lequel chaque pièce de musique jouée à l'abbaye les dimanches et les autres fêtes entre 1813 et 1852, et de façon fragmentaire de 1805 à 1884, a été notée par le maître de chapelle. Le livre, qui contient environ 350 pages, est un document unique et une ressource extrêmement précieuse pour les musicologues qui étudient la vie musicale Suisse au 19<sup>ème</sup> siècle.
</p>
<p>
    Afin de mettre à la disposition des chercheurs ce livre de manière appropriée, il a été entièrement transcrit en TEI (Text Encoding Initiative) et publié en ligne. La transcription TEI du Kapellmeisterbuch a permis la création de différents indexes, qui permettent à l'utilisateur, à l'utilisatrice la navigation par date, par compositeur et par fête liturgique. Dans la transcription, les mots mal lisibles et la résolution des nombreuses abréviations ont également été indiqués. Puisqu'il s'agit d'un document manuscrit qui peut être parfois très difficile à lire, avoir la possibilité de fournir à l'utilisateur, à l'utilisatrice cette information est un atout de l'approche choisie.
</p>


<div style="width: 150px; float: left; margin: 0px 30px 10px 0px;">
    <a href="http://www.tei-c.org" target="_blank"><img src="/images/rism_ch/tei_400-small200.jpg" width="150"></a>
</div>
<p>
    La transcription du Kapellmeisterbuch est une ressource en ligne réalisée en 2009-2010 par l'Institut de musicologie de l'Université de Fribourg et le bureau suisse du RISM, avec le soutien du Fonds national suisse („Musical Repertoire in Swiss Collegiate and Monastic Churches“, projet n. 100012-124416).<br>
</p>


<h4 style="text-align: center;">
    <a href="http://d-lib.rism-ch.org/kapellmeisterbuch">http://d-lib.rism-ch.org/kapellmeisterbuch</a>
</h4>
<p>
    Images: avec la permission de P. Lukas Helg OSB (Einsiedeln)
</p>

<p>
    Equipe du projet:
</p>
<ul>
    <li>
        <a href="mailto:luca.zoppelli@unifr.ch">Prof. Luca Zoppelli</a> (directeur)
    </li>
    <li>
        <a href="mailto:claudio.bacciagaluppi@unifr.ch">Claudio Bacciagaluppi</a>
    </li>
    <li>
        <a href="mailto:luigi.collarile@unifr.ch">Luigi Collarile</a><br>
    </li>
    <li>
        <a href="mailto:laurent.pugin@rism-ch.org">Laurent Pugin</a>
    </li>
</ul>
