<h3>
    Fonds Ernst Kunz
</h3>
<p>
    Le fonds du compositeur et chef d'orchestre Ernst Kunz est conservé dans la Bibliothèque centrale de Soleure. Entre 2010 et 2013 il a été catalogué par RISM Suisse, qui en outre du catalogage l'a réorganisé, nettoyé et emballé dans des matériaux non acides. Le fonds a été augmenté au début du 2013 d'un supplément inattendu de documents complémentaires provenant des archives de la ville de Olten. À cause de l'intégralité presque complète du fonds Ernst Kunz à Soleure, les collaborateurs de RISM Suisse ont jugé sensé d'intégrer aussi les documents supplémentaires dans le travail et de les saisir dans la base de données. Les 545 titres totales ont été mis en ligne à la moitié de 2013.
</p>
