<h3>
    Fonds Ernst Kunz
</h3>
<p>
    Le fonds du compositeur et chef d'orchestre Ernst Kunz est conservé à la Bibliothèque centrale de Soleure. Entre 2010 et 2013, il a été catalogué par le RISM Suisse qui, en plus du catalogage, l'a réorganisé, nettoyé et emballé dans des matériaux non acides. Le fonds a été augmenté début 2013 d'un supplément inattendu de documents complémentaires provenant des archives de la ville d'Olten. A cause de la quasi-intégralité du fonds Ernst Kunz à Soleure, les collaborateurs du RISM Suisse ont jugé sensé d'intégrer aussi les documents supplémentaires dans leur travail et de les saisir dans la base de données. Au total 545 titres ont été mis en ligne mi-2013.
</p>
    <h4>
        Contact
    </h4>
    <p>
    Hans Braun<br/>
    Zentralbibliothek Solothurn<br/>
    Bielstrasse 39<br/>
    CH-4502 Solothurn<br/>
    Tel: +41 (0) 32 627 62 14<br/>
    e-mail: <a href="mailto:musikabteilung@zbsolothurn.ch">musikabteilung@zbsolothurn.ch</a>
</p>
