<h3>
    Liens
</h3>
<p>
    Nous souhaitons toujours rester à jour. Vous nous aidez beaucoup si vous nous signalez des adresses inconnues ou des liens rompus (<a href="mailto:info@rism-ch.org">contact</a>). Merci beaucoup!
</p>

<h4>
    Ressources en ligne pour la saisie, l'étude et l'accès aux sources musicales
</h4>

<p>
    <strong>Exclusion de responsabilité :</strong> Malgré un contrôle minutieux, nous déclinons toute responsabilité pour le contenu des liens externes. Pour le contenu des pages liées, leurs gérants sont les seuls responsables.
</p>
