<h3>
    Music Encoding Initiative (MEI)
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <a href="www.music-encoding.org" target="_blank"><img src="/images/rism_ch/meilogo.png"></a>
</div>
<p>
    Le but de la Music Encoding Initiative (MEI) est de définir un standard de codage pour les sources musicales dans la lignée des recommandations de la Text Encoding Initiative (TEI). Le RISM Suisse contribue à ce projet par son expérience et son expertise dans le domaine bibliographique, un aspect important dans la définition de ce standard de codage.
</p>

<h4>
    Quels sont les points forts du standard MEI?
</h4>
<ul>
    <li>Il s’agit d’un format développé par une communauté de spécialistes
    </li>
    <li>Il s’agit du un format ouvert, en XML, donc lisible et décodable par tous
    </li>
    <li>Il est modulable et il peut être étendu pour des besoins spécifiques
    </li>
    <li>Il convient à un large éventail d’applications - publication, analyse, archivage
    </li>
</ul>
<p>
    MEI joue pour de nombreux projets un rôle fédérateur et unificateur de part son polymorphisme et ce rôle va encore se renforcer à l’avenir. Grâce à son étendue, MEI est adéquat pour des projets divers pour lesquels des formats différents aurait été utilisés jusque là.
</p>

{% include common/mei-figure.html %}

<h4>
    Rôle du RISM
</h4>
<p>
    <strong>1 – Expertise</strong>
</p>
<p>
    Tout d’abord le RISM Suisse joue un rôle important dans l’établissement du standard pour ce qui est du codage des méta-données. MEI se signale notamment par un niveau de détail très élevé sur cet aspect et l’expérience du RISM est très utile pour la communauté.
</p>
<p>
    <strong>2 – Utilisation</strong>
</p>
<p>
    Le deuxième rôle est celui de l’utilisateur puisque le RISM Suisse utilise MEI en lien avec TEI pour produire des catalogues de bibliothèques incluant les incipits musicaux. Contrairement à ce qui se faisait beaucoup il y a quelques années, à savoir la publication papier de catalogues, cette approche offre une solution beaucoup plus flexible. A l’avenir, elle permettra par exemple de générer à la demande des fichiers PDFs directement à partir de la base de données du RISM.
</p>
<p>
    <strong>3 – Promotion</strong>
</p>
<p>
    Finalement, le RISM Suisse joue aussi un rôle de promoteur du standard dans projets de recherche auquel il collabore. Le RISM Suisse participe régulièrement à des ateliers ou à des cours sur MEI. La promotion de MEI se fait également par des publications.
</p>
