<h3>
    Music Encoding Initiative (MEI)
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;" class="hidden-xs">
    <a href="www.music-encoding.org" target="_blank"><img src="/images/rism_ch/meilogo.png"></a>
</div>
<p>
    Le but de la Music Encoding Initiative (MEI) est de d&eacute;finir un standard de codage pour les sources musicales dans la lign&eacute;e des recommandations de la Text Encoding Initiative (TEI). Le RISM Suisse contribue &agrave; ce projet par son exp&eacute;rience et son expertise dans le domaine bibliographique, un aspect important dans la d&eacute;finition de ce standard de codage.
</p>

<h4>
    Quels sont les points forts du standard MEI?
</h4>
<ul>
    <li>Il s&rsquo;agit d&rsquo;un format d&eacute;velopp&eacute; par une communaut&eacute; de sp&eacute;cialistes
    </li>
    <li>Il s&rsquo;agit du un format ouvert, en XML, donc lisible et d&eacute;codable par tous
    </li>
    <li>Il est modulable et il peut &ecirc;tre &eacute;tendu pour des besoins sp&eacute;cifiques
    </li>
    <li>Il convient &agrave; un large &eacute;ventail d&rsquo;applications - publication, analyse, archivage
    </li>
</ul>
<p>
    MEI joue pour de nombreux projets un r&ocirc;le f&eacute;d&eacute;rateur et unificateur de part son polymorphisme et ce r&ocirc;le va encore se renforcer &agrave; l&rsquo;avenir. Gr&acirc;ce &agrave; son &eacute;tendue, MEI est ad&eacute;quat pour des projets divers pour lesquels des formats diff&eacute;rents aurait &eacute;t&eacute; utilis&eacute;s jusque l&agrave;.
</p>

{% include common/mei-figure.html %}

<h4>
    R&ocirc;le du RISM
</h4>
<p>
    <strong>1 &ndash; Expertise</strong>
</p>
<p>
    Tout d&rsquo;abord le RISM Suisse joue un r&ocirc;le important dans l&rsquo;&eacute;tablissement du standard pour ce qui est du codage des m&eacute;ta-donn&eacute;es. MEI se signale notamment par un niveau de d&eacute;tail tr&egrave;s &eacute;lev&eacute; sur cet aspect et l&rsquo;exp&eacute;rience du RISM est tr&egrave;s utile pour la communaut&eacute;.
</p>
<p>
    <strong>2 &ndash; Utilisation</strong>
</p>
<p>
    Le deuxi&egrave;me r&ocirc;le est celui de l&rsquo;utilisateur puisque le RISM Suisse utilise MEI en lien avec TEI pour produire des catalogues de biblioth&egrave;ques incluant les incipits musicaux. Contrairement &agrave; ce qui se faisait beaucoup il y a quelques ann&eacute;es, &agrave; savoir la publication papier de catalogues, cette approche offre une solution beaucoup plus flexible. A l&rsquo;avenir, elle permettra par exemple de g&eacute;n&eacute;rer &agrave; la demande des fichiers PDFs directement &agrave; partir de la base de donn&eacute;es du RISM.
</p>
<p>
    <strong>3 &ndash; Promotion</strong>
</p>
<p>
    Finalement, le RISM Suisse joue aussi un r&ocirc;le de promoteur du standard dans projets de recherche auquel il collabore. Le RISM Suisse participe r&eacute;guli&egrave;rement &agrave; des ateliers ou &agrave; des cours sur MEI. La promotion de MEI se fait &eacute;galement par des publications.
</p>
