<h3>
    Développement du logiciel de catalogage Muscat 3.0
</h3>
<p>
    Depuis le début de 2014, le logiciel de catalogage Muscat est développé en collaboration avec la Rédaction centrale de Francfort. Ainsi, le RISM Suisse suit la décision du comité de l'Association internationale du RISM, qui a choisi Muscat comme nouveau outil de catalogage pour l'ensemble des groupes de travail à travers le monde. Plusieurs facteurs ont favorisé Muscat dans cette décision. Un point important est le développement d'une application open-source et en ligne, ce qui la rend ouverte, transparente et facile à utiliser. En outre, elle a été adapté spécialement pour la saisie de sources musicales, de manière qu'il n'est pas nécessaire de la développer et adapter au besoins de RISM entièrement à nouveau.</p>
<p>
    Le développement de Muscat suit un plan approuvé au janvier 2014 avec la Rédaction centrale, qui prévoit de lancer une version béta en 2015 et en 2016 la migration complète de toutes le données RISM à travers le monde sur Muscat. Le plan de développement de Muscat 3.0 comprend également la fusion du catalogue manuscrits (série A/II) avec les différentes séries des imprimés (séries A/I, B/I et B/II). Cette unification est basée sur le travail préliminaire du RISM Suisse en collaboration avec la Rédaction centrale pour la migration de la série A/I à Muscat 2.0 en 2013.</p>
<p>
    Au niveau international, ce développement a été présenté à la conférence de l'AIBM à Anvers en Juillet 2014.</p>
