<h3>
    Développement du logiciel de catalogage Muscat
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;">
    <img src="/images/rism_ch/muscat-sm.png">
</div>

<p>
    Muscat est un cadre open-source pour le catalogage des documents musicales (partitions de musique manuscrites et imprimées). Le projet a été initié en 2002 par le groupe de travail Royaume-Uni du RISM et développé ultérieurement par le RISM Suisse. Depuis le début de 2014, Muscat a été développé en collaboration avec la Rédaction centrale du RISM à Francfort, grâce à la décision du RISM-UK et du RISM Suisse de le rendre open-source.
</p>
    
<p>
    Muscat est une application Ruby on Rails qui fournit des outils pour la création et la gestion de fiches MARCXML conçues spécifiquement pour la musique. Le code source est disponible sur <a href="https://github.com/rism-ch/muscat" target="_blank">GitHub</a>.    
</p>

<h4>La collaboration avec la Rédaction centrale du RISM</h4>

<p>
    Depuis 2015, la Rédaction centrale du RISM et RISM Suisse ont conclu un accord pour le développement et la gestion de Muscat.
</p>

<p class="compact">
    La Rédaction centrale du RISM est responsable de:
</p>
<ul class="compact">
    <li>La gestion des données</li>
    <li>L’organisation des développements pour les fichiers d’autorité</li>
    <li>La supervision de la rédaction des règles de catalogage</li>
</ul>

<p class="compact">
    Le RISM Suisse est responsable de:
</p>
<ul class="compact">
    <li>La gestion de l’installation de Muscat sur le serveur à la Staatsbibliothek zu Berlin</li>
    <li>La gestion du code source et du dépôt GitHub</li>
    <li>L’organisation de la publication des nouvelles versions de Muscat</li>
</ul>
    
<h4>L’histoire du développement</h4>

<p class="compact">2002-2009 (version 1)</p>
<ul class="compact">
    <li>Projets du RISM-UK (2002-2008) financés par le Arts and Humanities Research Council (AHRB)</li>
    <li>Projets du RISM-CH (2008-2009) financés par le Fonds national suisse (SNF)</li>
</ul>

<p class="compact">2013-2015 (version 2)</p>
<ul class="compact">
    <li>Mise à jour de maintenance</li>
    <li>Publication comme open-source</li>
    <li>Ajustements pour la série RISM A/I (hébergée en Suisse)</li>
</ul>

<p class="compact">2015 (version 3)</p>
<ul class="compact">
    <li>Nouveau concept pour l’interface utilisateur</li>
    <li>Mise à jour du moteur de recherche  (Solr)</li>
    <li>Affichage des incipit en temps réel (MEI rendu par <a href="http://verovio.org" target="_blank">Verovio</a>)</li>
    <li>Raffinement de la définition des niveaux d’accès (utilisateurs et groupes d'utilisateurs)

</li>
</ul>

<p>
    Contact: <a href="/contact.html">Laurent Pugin</a>
</p>

