<h3>
    Développement du logiciel de catalogage Muscat
</h3>
<div style="float: right; margin: 0px 0px 10px 30px;">
    <a href="http://muscat-project.org" target="_blank"><img src="/images/rism_ch/muscat-sm.png"></a>
</div>

<p>
    Muscat est une plateforme open-source pour le catalogage de sources musicales (manuscrites et imprimées). Le projet a été initié en 2002 par le groupe de travail Royaume-Uni du RISM et développé ultérieurement par le RISM Suisse. Depuis le début de 2014, Muscat est développé en collaboration avec la Rédaction centrale du RISM à Francfort grâce à la décision du RISM-UK et du RISM Suisse de le rendre open-source.
</p>
    
<p>
    Le site Internet du <a href="http://muscat-project.org" target="_blank">project Muscat</a> donne une description complète du projet.
</p>

<h4>Collaboration avec la Rédaction centrale du RISM</h4>

<p>
    Depuis 2015, la Rédaction centrale du RISM et RISM Suisse ont conclu un accord pour le développement et la gestion de Muscat.
</p>

<p class="compact">
    La Rédaction centrale du RISM est responsable de:
</p>
<ul class="compact">
    <li>La gestion des données</li>
    <li>L’organisation des développements pour les données d’autorité</li>
    <li>La supervision de la rédaction des règles de catalogage</li>
</ul>

<p class="compact">
    Le RISM Suisse est responsable de:
</p>
<ul class="compact">
    <li>La gestion de l’installation de Muscat sur le serveur de la <em>Staatsbibliothek zu Berlin</em></li>
    <li>La gestion du code source et du répertoire GitHub</li>
    <li>L’organisation de la publication des nouvelles versions de Muscat</li>
</ul>

<p>
    Contact: <a href="/contact.html">Laurent Pugin</a>
</p>

