<h3>
    OnStage: HEMU &ndash; Conservatoire de Lausanne
</h3>
<p>
    A la fin de 2012, le RISM Suisse a inauguré une collaboration avec la Haute Ecole de Musique &ndash; Conservatoire de Lausanne pour le projet OnStage, qui concerne de programmes de concert historiques. Ce projet a été financé par la HEMU elle-même. Son but était une indexation et numérisation des programmes de concert conservés dans la bibliothèque du Conservatoire. Le modèle proposé par le RISMSuisse pour ce projet a été le projet TEI du« Kapellmeisterbuch ». L’utilisation du standard XML TEI confère au projet une hautetenue scientifique et garantit une bonne interopérabilitépour d’éventuels développementsfuturs. La participation du RISM pour ce projeta suivi deux étapes, à savoir d’uncôté la numérisation des sources et d’un autrele développement d’une publication en ligne. Les programmes de concert ont été commentés avec de textes rédigés par des collaborateurs du Conservatoire et mis en ligne à la fin de septembre 2013.
</p>
<p>
    Le projet a été présenté lors d’une conférence à la fin de novembre 2013 au Conservatoire de Lausanne (P. Boschetti, V. Struijk Van Bergen et L. Pugin).
</p>
