<h3>
    OnStage: Conservatoire de Musique de Genève
</h3>
<p>
    Le projet OnStage réalisé entre 2012 et 2013 par la Haute Ecole de Musique (HEMU) – Conservatoire Lausanne en collaboration avec le RISM Suisse a suscité un grand intérêt de la part de plusieurs institutions qui possèdent des fonds similaires. En effet, ces collections de programmes de concert sont des sources présentant un intérêt historique non négligeable et relativement peu connu, et leur mise en ligne offre de nouvelles perspectives pour l’étude de l’histoire de la performance. Une extension du projet OnStage est donc actuellement en préparation avec les programmes de concerts de la Bibliothèque du Conservatoire de Musique de Genève.
</p>
<p>
    Ce projet suit la même approche que pour l’institution Lausannoise, à savoir la numérisation de la collection, l’indexation des données ainsi que la reconnaissance de caractères (OCR) pour une recherche en plein-texte. Néanmoins, étant donnée la quantité importante de programmes (plus de 10'000), l’indexation sera dans un premier temps moins approfondie pour la collection de Genève. L’intégration des deux ressources sera discutée et définie en temps voulu avec les différents partenaires. Le but sera de trouver une solution qui optimise une recherche intégrée tout en gardant une présentation claire de chaque collection.
</p>
<p>
    Le financement du projet est pris en charge par la Bibliothèque du Conservatoire de Musique de Genève avec un partenariat avec le RISM Suisse. L’indexation et la numérisation ont commencé en 2014. L’indexation a été effectuée par un collaborateur du Conservatoire sous la supervision du responsable de la Bibliothèque et du RISM Suisse.
</p>
