<h3>
    Projets terminés
</h3>
<div class="secondary_links">
    <p>
        <a href="cataloging/fischingen.html">Monastère de Fischingen</a>
    </p>
    <p>
        <a href="cataloging/munzingeriana.html">Munzingeriana</a>
    </p>
    <p>
        <a href="cataloging/hslu.html">Haute école de musique Lucerne</a>
    </p>
    <p>
        <a href="cataloging/kunz.html">Fonds Ernst Kunz</a>
    </p>
    <p>
        <a href="cataloging/huber.html">Fonds Ferdinand Fürchtegott Huber</a>
    </p>
    <p>
        <a href="cataloging/einsiedeln.html">Compositeurs suisses du 19ème siècle à la bibliothèque musicale de l'abbaye d'Einsiedeln</a>
    </p>
    <p>
        <a href="cataloging/st-gall.html">Collection des archives musicales de la cathédrale de St. Gall</a>
    </p>
    <p>
        <a href="cataloging/beromuenster.html">Bibliothèque musicale des chanoines de la collégiale de Beromünster</a>
    </p>
</div>
