<h3>
    Projets terminés
</h3>
<div class="secondary_links">
    <p>
        <a href="infrastructure/onstage-famb.html">OnStage – Freunde alter Musik Basel</a>
    </p>
    <p>
        <a href="infrastructure/onstage-gc.html">OnStage – Genève</a>
    </p>
    <p>
        <a href="infrastructure/onstage-lac.html">OnStage: HEMU – Conservatoire de Lausanne</a>
    </p>
    <p>
        <a href="infrastructure/psmd.html">Printed Sacred Music</a>
    </p>
    <p>
        <a href="infrastructure/kapellmeisterbuch.html">Le 'Kapellmeisterbuch'</a>
    </p>
    <p>
        <a href="infrastructure/informationspool.html">Informationspool</a>
    </p>
    <p>
        <a href="infrastructure/swiss-monasteries.html">Musiques des monastères suisses</a>
    </p>
</div>
