<h3>
    Projets
</h3>
<p>
    Le RISM-Suisse participe &agrave; des projets en partenariat avec d&#x27;autres institutions. Ces projets permettent de mettre en valeur le patrimoine culturel suisse, et en particulier de permettre de red&eacute;couvrir par la musicologie et par la pratique de la musique certains r&eacute;pertoires oubli&eacute;s. Parmi ces projets, nous pouvons signaler la collaboration avec la Phonoth&egrave;que nationale suisse et l&#x27;Universit&eacute; McGill de Montr&eacute;al (<a href="/projects/informationspool.html">Informationspool</a>), ainsi que le projet en partenariat avec la Chaire de Musicologie de l&#x27;Universit&eacute; de Fribourg (<a href="/projects/swiss-monasteries.html">Musiques des monast&egrave;res suisses</a>).
</p>
