<h3>
    Projets
</h3>
<p>
    Le RISM-Suisse participe à des projets en partenariat avec d'autres institutions. Ces projets permettent de mettre en valeur le patrimoine culturel suisse, et en particulier de permettre de redécouvrir par la musicologie et par la pratique de la musique certains répertoires oubliés. Parmi ces projets, nous pouvons signaler la collaboration avec la Phonothèque nationale suisse et l'Université McGill de Montréal (<a href="/projects/informationspool.html">Informationspool</a>), ainsi que le projet en partenariat avec la Chaire de Musicologie de l'Université de Fribourg (<a href="/projects/swiss-monasteries.html">Musiques des monastères suisses</a>).
</p>
