<h3>
    Publications
</h3>
<p>
    À côté du travail de catalogage ou inspiré à travers de ceci surviennent souvent de nouvelles connaissances que le personnel du RISM Suisse rend publiques dans des livres ou des articles scientifiques.
</p>
<p>
    RISM Suisse est aussi actif comme éditeur de publications en ligne (RISM Digital Library; Historical Music Inventories). Par ce moyen, des sources d'archives (sans notation musicale) offrant des aperçus importants de la vie musicale suisse sont rendues accessibles au public.
</p>
