<h3>
    Publications
</h3>
<p>
     Les connaissances que le RISM Suisse réunit dans sont travail de catalogage ou dans les projets qui y sont liés font régulièrement l'objet de publications dans des livres ou des articles scientifiques.
</p>
<p>
    Le RISM Suisse est aussi actif comme éditeur de publications en ligne (RISM Digital Library; Historical Music Inventories). Ce moyen permet de rendre accessible au public des sources d'archives (sans notation musicale) offrant des aperçus importants de la vie musicale suisse.
</p>
