<h3>
    Fonds Adolf Reichel (1816-1896)
</h3>

<p>
    Le fonds du compositeur Adolf Reichel – né en Prusse occidentale (aujourd’hui Pologne) et mort à Berne – est conservé à la Bibliothèque de musique de la Haute école des arts de Berne. Le fonds réunit des manuscrits, des imprimés et des écrits sur la théorie de la musique, y compris un catalogue des œuvres du compositeur lui-même. Les manuscrits sont des autographes et des copies. Parmi les copistes figurent Alexander, Ernst et Julie Reichel ainsi que Hermann Heinemann et Fritz Röser. Les sources musicales imprimées ont été publiées par différents éditeurs dont S. Richault (Paris), Haslinger (Vienne), Peters (Leipzig), Breitkopf & Härtel (Leipzig) et Methfessel (Berne). 
</p>

<p>
    L'œuvre de Reichel va de simples pièces pour piano solo à des compositions pour ensemble de chambre jusqu’à des œuvres orchestrales et chorales. Les compositions chorales sont liées à son activité de chef du « Cäcilienverein » et de la « Berner Liedertafel ». Après avoir vécu à Vienne, Berne et Bruxelles, Reichel s’est installé à Paris où il a exercé comme professeur de piano. En 1867, il a déménagé de Paris à Berne et a endossé en plus des postes mentionnés ci-dessus le poste de directeur de la « Musikgesellschaft » et de la « Musikschule » à Berne. Deux ans après son déménagement Reichel a demandé la nationalité Suisse à Oberburg (BE).
</p>

<p>
    Le catalogage du fonds d’Adolf Reichel fait partie du <a href="http://rism-ch.org/cataloging/repertorium.html?locale=fr" target="_blank"> projet Répertoire des compositeurs suisses au 19e siècle </a> dont l’objectif est de combler des lacunes dans le secteur de la documentation musicale suisse. Le projet a débuté fin juillet 2016 et se terminera début 2017.
</p>

   </p>
    Contact: <a href="/contact.html">Florence Sidler</a>
</p>
