<h3>
    R&eacute;pertoire des compositeurs suisses du 19e si&egrave;cle
</h3>
<p>
    Avec le projet R&eacute;pertoire des compositeurs suisses du 19e si&egrave;cle le RISM-Suisse se fixe pour objectif de combler les lacunes dans le secteur de la documentation musicale suisse. Le projet a &eacute;t&eacute; mis en place en partant des consid&eacute;rations suivantes :
</p>
<ul>
    <li>Le 19e si&egrave;cle est d&#x27;une importance fondamentale pour l&#x27;identit&eacute; musicale de la Conf&eacute;d&eacute;ration suisse, car la r&eacute;volution lib&eacute;rale et l&#x27;abandon graduel du rejet des influences artistiques engendrent dans la plupart des villes et des cantons le d&eacute;veloppement d&#x27;une vie musicale active. En m&ecirc;me temps, gr&acirc;ce &agrave; la fondation de la conf&eacute;d&eacute;ration moderne de 1848, des structures politiques au niveau national sont cr&eacute;es et permettent, dans une mesure croissante, de parler de culture musicale sp&eacute;cifiquement suisse. La constitution de l&#x27;Association suisse des Musiciens de 1900 est aussi la cons&eacute;quence logique de la progressive &eacute;mancipation de l&#x27;engagement des diff&eacute;rents groupes linguistiques qu&#x27;auparavant &eacute;taient li&eacute;s aux r&eacute;gions culturelles voisines.
    </li>
    <li>Tr&egrave;s peu de sources de cette p&eacute;riode sont document&eacute;es de mani&egrave;re compl&egrave;te et avec des crit&egrave;res scientifiques.
    </li>
    <li>Pour toutes les compositrices et compositeurs du 19e si&egrave;cle il manque une trace de l&#x27;existence de leurs &oelig;uvres et de leurs sources, &eacute;tablie avec des normes qui r&eacute;pondent aux exigences scientifiques actuelles.
    </li>
</ul>
<p>
    Le R&eacute;pertoire des compositeurs suisses du 19e si&egrave;cle pr&eacute;voit la saisie compl&egrave;te de toutes les &oelig;uvres de 52 compositeurs. La liste de ces compositeurs a &eacute;t&eacute; faite selon les personnalit&eacute;s artistiques de premier plan ou selon les caract&eacute;ristiques de la culture musicale du 19e si&egrave;cle. A titre de crit&egrave;re suppl&eacute;mentaire de s&eacute;lection, on a pris en compte le fait que les activit&eacute;s musicales ou artistiques de ses auteurs se soient d&eacute;roul&eacute;es principalement en Suisse. Ce projet a pu &ecirc;tre r&eacute;alis&eacute; gr&acirc;ce &agrave; des subventions des b&eacute;n&eacute;fices de la frappe de monnaies comm&eacute;moratives de la Conf&eacute;d&eacute;ration et aux contributions des Cantons. L&#x27;&eacute;tablissement de l&#x27;inventaire des sources a commenc&eacute; le 1 septembre 1998.
</p>
<p>
    <a href="{{ site.search_url }}?utf8=✓&search_field=any_field&q=RepertoriumSchweiz&locale=fr">Liste des sources</a>
</p>
