<h3>
    Répertoire des compositeurs suisses du 19e siècle
</h3>
<p>
    Avec le projet Répertoire des compositeurs suisses du 19e siècle le RISM Suisse se fixe pour objectif de combler les lacunes dans le secteur de la documentation musicale suisse. Le projet a été mis en place en partant des considérations suivantes :
</p>
<ul>
    <li>Le 19e siècle est d'une importance fondamentale pour l'identité musicale de la Confédération suisse, car la révolution libérale et l'abandon graduel du rejet des influences artistiques engendrent dans la plupart des villes et des cantons le développement d'une vie musicale active. En même temps, grâce à la fondation de la confédération moderne de 1848, des structures politiques au niveau national sont crées et permettent, dans une mesure croissante, de parler de culture musicale spécifiquement suisse. La constitution de l'Association suisse des Musiciens de 1900 est aussi la conséquence logique de la progressive émancipation de l'engagement des différents groupes linguistiques qu'auparavant étaient liés aux régions culturelles voisines.
    </li>
    <li>Très peu de sources de cette période sont documentées de manière complète et avec des critères scientifiques.
    </li>
    <li>Pour toutes les compositrices et compositeurs du 19e siècle il manque une trace de l'existence de leurs œuvres et de leurs sources, établie avec des normes qui répondent aux exigences scientifiques actuelles.
    </li>
</ul>
<p>
    Le Répertoire des compositeurs suisses du 19e siècle prévoit la saisie complète de toutes les œuvres de 52 compositeurs. La liste de ces compositeurs a été faite selon les personnalités artistiques de premier plan ou selon les caractéristiques de la culture musicale du 19e siècle. A titre de critère supplémentaire de sélection, on a pris en compte le fait que les activités musicales ou artistiques de ses auteurs se soient déroulées principalement en Suisse. Ce projet a pu être réalisé grâce à des subventions des bénéfices de la frappe de monnaies commémoratives de la Confédération et aux contributions des Cantons. L'établissement de l'inventaire des sources a commencé le 1 septembre 1998.
</p>
    Contact: <a href="/contact.html">Cédric Güggi</a>
</p>

<p>
    <a href="{{ site.search_url }}?utf8=✓&search_field=any_field&q=RepertoriumSchweiz&locale=fr">Liste des sources</a>
</p>
