<h3>
    La bibliothèque musicale du couvent des sœurs bénédictines de Saint-André, Sarnen
</h3>
<p>
    L’abbaye bénédictine de Saint-André à Sarnen possède l’une des plus importantes bibliothèques musicales historiques en Suisse. En 2003, le personnel du RISM a nettoyé et mis en ordre les sources, et transféré la collection dans le dépôt de patrimoine culturel (”Kulturgüterschutzraum“). Grâce à ce travail préparatoire, le RISM Suisse a pu présenter au monastère une offre pour inventorier les sources musicales. Les coûts ont été couverts grâce aux contributions de la Fondation Artephila, la Fondation Reinle Suter Lucerne, du canton d’Obwald et du monastère lui-même.
</p>
<p>
    Le financement du projet était donc garanti. Toutefois, juste avant le début des travaux, les intempéries d’août 2005 ont tout arrêté. Le dépôt de patrimoine culturel a été inondé et les sources sont restées pendant 72 heures sous l’eau. Grâce à l’aide d’innombrables volontaires, les sources ont été récupérées, provisoirement nettoyées et congelées, ainsi que les autres objets de valeur culturelle en danger. En 2006, la société Docusave de Seftigen a pu commencé la déshydratation.
</p>
<p>
    Cette catastrophe a retardé le travail d’inventaire. Les sources avaient été mélangées et nombre de sources délavées avaient perdu leurs signatures marquées au feutre. Une équipe d’employés du RISM Suisse a remis les sources en ordre dans la première moitié de 2007. Ce travail a été effectué en plusieurs étapes. D’abord, les imprimés ont été séparés des manuscrits. De nombreuses feuilles détachées ont été rattachées aux sources correspondantes, signées et numérotées, et insérées dans des enveloppes provisoires. C’est alors seulement que la restauration des sources endommagées a pu commencer, sous la direction de Andrea Giovannini.
</p>
<p>
    Le catalogage des manuscrits et des imprimés a pu commencer en automne 2007 parallèlement à la restauration. La richesse et la variété de la bibliothèque musicale de Sarnen ressortent de plus en plus au fur et à mesure que le travail d’inventaire avance. De nombreuses correspondances avec les bibliothèques des monastères d’Einsiedeln, Engelberg et Saint-Michel à Beromünster sont mises en évidence. En plus des œuvres provenant pour ainsi dire du couvent lui-même, comme celles du père Wolfgang Iten d’Engelberg qui a été longtemps père spirituel de Sarnen, et celles de l’organiste de Lucerne Franz Joseph Leonti Meyer von Schauensee, figurent plusieurs copies de la musique de célèbres maîtres européens du 18<sup>ème</sup> et 19<sup>ème</sup> siècle, comme Carl Philipp Emanuel et Johann Christian Bach, Joseph Haydn et, enfin, Giovanni Battista Sammartini et Andrea Bernasconi.
</p>
<p>
    L’inventaire des sources musicales du monastère de Saint-André de Sarnen est rédigé par Dr. Gabriella Hanke Knaus selon les critères scientifiques internationalement reconnus et publié dans la base de données du RISM.
</p>
    <h4>
        Contact
    </h4>
    <p>
    Sr. Rut-Maria Buschor<br/>
    Frauenkloster St. Andreas, Sarnen<br/>
    Brünigstrasse 157<br/>
    CH-6060 Sarnen<br/>
    Tel: +41 (0) 41 660 11 61<br/>
    e-mail: <a href="mailto:info@frauenkloster-sarnen.ch">info@frauenkloster-sarnen.ch</a>
</p>

<h4>
    Bibliographie
</h4>
<p>
    Buschor, Sr. Rut-Maria: Verborgene Juwelen der Musikwelt, in: Musik und Liturgie 4/10, hrsg. vom Schweizerischen Katholischen Kirchenmusikverband SKMV, Juli 2010, Gossau
</p>

