<h3>
    Fonds des compositeurs à la Bibliothèque nationale suisse
</h3>
<p>
    Le Bureau suisse du RISM Suisse a pris en charge les collections historiques de musique de la Bibliothèque nationale suisse (BN) en 2001. En 2006, les tâches ont été étendues à l'inventaire des documents d'archive. Depuis, le RISM Suisse décrit d'une part les fonds de compositeurs sous la forme <a href="http://www.nb.admin.ch/org/organisation/00783/index.html?lang=fr" target="_blank">d'inventaires</a> complets qui sont publiées par les Archives littéraires suisses (ALS), et d'autre part saisit les documents musicaux de ces fonds dans la base de données du RISM. La saisie suit un plan de travail élaboré avec la BN et mis en œuvre dans le cadre d'une offre. Actuellement, l'accent est mis sur le catalogage des <a href="http://www.nb.admin.ch/sammlungen/spezialsammlungen/00652/01080/index.html?lang=fr" target="_blank">fonds individuels</a> conservés par les Archives littéraires suisses (ALS).
</p>
<p>
    Au milieu du 20<sup>ème</sup> siècle, de nombreux imprimés avaient été détachés des collections particulières dans lesquelles ils avaient été transmis originairement à la BN et transférés dans la collection générale. La BN et RISM Suisse estiment nécessaire de reconstruire la structure d'origine de ces fonds afin de les rendre à nouveau visibles dans leur intégralité.
</p>
<p>
    En plus de la préparation des inventaires et de la saisie de toutes les sources musicales dans la base de données, le travail du RISM inclut également le traitement des requêtes des utilisateurs concernant les collections de musique de la BN. En particulier, le fonds de Josef Liebeskind contenant d'importantes sources de Christoph Willibald Gluck et Karl Ditters von Dittersdorf est régulièrement consulté.
</p>
<p>
    <a href="http://www.nb.admin.ch/dienstleistungen/benutzung/index.html?lang=fr" target="_blank">Utilisation des collections de la Bibliothèque nationale suisse</a>: les requêtes concernant des documents en cours d'inventaire ou de catalogage ne pourront être traitées que de façon limitée. Le RISM Suisse vous remercie pour votre compréhension.
</p>
