<h3>
    Fonds des compositeurs &agrave; la Biblioth&egrave;que nationale suisse
</h3>
<p>
    Le Bureau suisse du RISM Suisse a pris en charge les collections historiques de musique de la Bibliothèque nationale suisse (BN) en 2001. En 2006, les tâches ont été étendues à l'inventaire des documents d'archive. Depuis, le RISM Suisse décrit d'une part entièrement les fonds de compositeurs sous la forme <a href="http://www.nb.admin.ch/org/organisation/00783/index.html?lang=fr" target="_blank">d'inventaires</a>, qui sont publiées par les Archives littéraires suisses (ALS), et d'autre part saisit les documents musicaux de ces fonds dans la base de données du RISM. La saisie suit un plan de travail élaboré avec la BN et mis en œuvre dans le cadre d'une offre. Actuellement, l'accent est mis sur le catalogage des <a href="http://www.nb.admin.ch/sammlungen/spezialsammlungen/00652/01080/index.html?lang=fr" target="_blank">fonds individuels</a> conservés par les Archives littéraires suisses (ALS).
</p>
<p>
    Il ya aussi de nombreux imprimés qui au milieu du 20ème siècle avaient été enlevés des collections particulières dans lesquelles ils avaient été transmis originairement à la BN, et transférés à la collection générale. La BN et RISM Suisse estiment nécessaire reconstruire la forme d'origine des fonds afin de les rendre à nouveau visibles dans leur intégralité.
</p>
<p>
    À côté de la préparation des inventaires et de la saisie de toutes les sources musicales dans la base de données du RISM, le travail prend également en charge le traitement des requêtes des utilisateurs concernant les collections de musique de la BN. En particulier, le fonds de Josef Liebeskind contenant d'importantes sources de Christoph Willibald Gluck et Karl Ditters von Dittersdorf est régulièrement consulté.
</p>
<p>
    <a href="http://www.nb.admin.ch/dienstleistungen/benutzung/index.html?lang=fr">Utilisation des collections de la Bibliothèque nationale suisse</a>: Le Bureau suisse du RISM travail de RISM Suisse demande la compréhension des usagers, si les requêtes concernant des documents en cours de traitement ne peuvent être répondues que dans une mesure limitée.
</p>
