<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="blacklight-catalog blacklight-catalog-index">

        {% include header.html %}
        
        {% include search.html %}

        <div id="main-container" class="container">       
            <div class="row">
                {% if page.no-menu %}
                <div id="content" class="col-md-12 col-sm-12">
                    
                    {{ content }}
                
                </div>
                {% else %}
        	    <div class="col-md-3 col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation">
        			    
                    {% include menu.html %}
        		    
        	    </div>   
                <div id="content" class="col-md-9 col-sm-12">
                        
                    {% if page.post %}
                    <h3>
                        <div class="lang en">{{ page.title.en }}</div>
                        <div class="lang de">{{ page.title.de }}</div>
                        <div class="lang fr">{{ page.title.fr }}</div>
                        <div class="lang it">{{ page.title.it }}</div>
                    </h3>
                    {% endif %}
                    
                    {{ content }}
                
                </div>
                {% endif %}
            </div>
        </div>
        
        {% include footer.html %}
        
        <script>
        
        	function getParameterByName(name) {
        	    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        	    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        	}

            // First look at the parameter
    		var locale = getParameterByName("locale");
    		if (locale) {
                $.cookie('locale', locale, { expires: 30, path: '/' });
                //console.log( "param: " + locale );
    		}
            // else reload cookie
            else if ( $.cookie('locale') ) {
                locale = $.cookie('locale');
                //console.log(  "cookie: " + locale );
            }
            // else default
            else {
                locale = {% if page.lang %}"{{ page.lang }}"{% else %}"en"{% endif %};
                //console.log(  "default: " + locale );
            }

            $("[data-localize]").localize("/langs/rism-ch", { language: locale });
            // update the parameter to be passed to the opac
            $("#search_locale").attr( "value", locale );
            // update all the links with the .localized-link class (changing last two chars)
            $( ".localized-link" ).each(function( index ) {
              href = $( this ).attr('href');
              $( this ).attr( "href", href.substring(0, href.length - 2) + locale );
            });
            // show html with current locale
            $("." + locale).show();
        </script>
          
    </body>
</html>
