<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="blacklight-catalog blacklight-catalog-index">

        {% include header.html %}
        
        {% if page.search %}{% include search.html %}{% endif %}

        <div id="main-container" class="container">       
            <div class="row">  
        	    <div class="col-md-3 col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation">
        			    
                    {% include menu.html %}
        		    
        	    </div>   
                <div id="content" class="col-md-9 col-sm-12">
                        
                    {{ content }}
                
                </div>
            </div>
        </div>  
        
        <script>
        
        	function getParameterByName(name) {
        	    var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        	    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        	}

    		var locale = getParameterByName("locale");
    		if (!locale) {
    			locale = {% if page.lang %}"{{ page.lang }}"{% else %}"en"{% endif %};
    		}

            $("[data-localize]").localize("langs/rism-ch", { language: locale });
            $("." + locale).show();
        </script>
          
    </body>
</html>
